%h1 Transportistas
%br

= form_for admin_transporters_path, html: {method: :get} do |f|
  = fields_for :company do |company|
    = company.label :razon_social
    = company.text_field :name, value: (params[:company][:name] if params[:company])

    = company.label :telefono
    = company.text_field :phone_number, value: (params[:company][:phone_number] if params[:company])

  = fields_for :user do |user|
    = user.label :email
    = user.text_field :email, value: (params[:user][:email] if params[:user])

  %h4 Fecha de creación
  = fields_for :dates do |dates|
    = dates.label :desde
    = dates.text_field :start, value: (params[:dates][:start] if params[:dates]), class: 'datepicker'

    = dates.label :hasta
    = dates.text_field :end, value: (params[:dates][:end] if params[:dates]), class: 'datepicker'

  = f.submit 'Buscar', class: 'btn btn-primary'
  = f.submit 'Exportar', class: 'btn btn-primary'

%table.table
  %tr
    %th Fecha
    %th Nombre
    %th Apellido
    %th Razon social
    %th Email
    %th Telefono
    %th Cant. presupuestos
    %th

  - @transporters.each do |transporter|
    - if transporter.user
      %tr
        %td= l transporter.created_at.to_date
        %td= transporter.name
        %td= transporter.surname
        %td= transporter.company.name if transporter.company
        %td= transporter.user.email
        %td= transporter.company.phone_number if transporter.company
        %td= transporter.budgets.count

        %td= link_to 'Usar', admin_transporter_path(transporter), class: 'btn btn-info'

= paginate @transporters
