= form_for([:admin, template]) do |f|
  - if template.errors.any?
    #error_explanation
      %h6.bold= "#{pluralize(template.errors.count, "error")} prohibited this template from being saved:"
      %ul
        - template.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    = f.text_field :description

  .field
    = f.label :categories
    = collection_select template, :cateogory_ids, Category.all, :id, :name, { selected: template.category_ids }, { multiple: true, name: 'template[category_ids][]', id: 'multiple-select' }

  .actions
    = f.submit 'Guardar Template', class: 'btn btn-primary'
