%h1 Plantillas
%br

%table.table
  %tr
    %th Descripción
    %th
    %th
    %th

  - templates.each do |template|
    %tr
      %td= template.description
      %td= link_to 'Mostrar', admin_template_path(template), class: 'btn btn-info'
      %td= link_to 'Editar', edit_admin_template_path(template), class: 'btn btn-warning'
      %td= link_to 'Borrar', admin_template_path(template), method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger'

%br

= link_to 'Nuevo Plantilla', new_admin_template_path, class: 'btn btn-primary'
