@import "../variables";
@import "../responsive";


.tb-rating-table{
    h1, h2, h3, h4, h5, h6{
        margin: 0;
    }
    .title{
        color: $tb-white;
    }
    .tb-rating-user{
        width: 15%;
    }
    .tb-rating-value{
        width: 15%;
        text-align: center;
    }
    .tb-rating-comment{
        width: 40%;
    }
    .tb-rating-date{
        width: 10%;
    }
    .tb-rating-type{
        width: 20%;
    }
    
    tbody{

        tr{
            color: $tb-gray;
            font-size: $tb-size-12;
            background-color: $tb-subtitle-bg;
        }
        td{
            border-collapse: collapse;
            border-bottom: 5px solid $tb-container;
            vertical-align: middle;

        }
    }
    .tb-rating-face-cell{
        padding-top: 4px;
        padding-bottom: 4px;

        .rating-face {
            display: block;
            float: none;
            margin: 0px;
            margin: 0 auto;
        }
    }
}
.tb-ratings-index{

    .tab-content{
       min-height: 300px;
    }
    @mixin tb-ratings-responsive{
        
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr { 
            display: block; 
        }
       .tb-rating-table{
            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr { 
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
            
            tbody{

                tr { border: 1px solid #ccc; }
            
                td { 
                    /* Behave  like a "row" */
                    text-align: left;
                    border: none;
                    border-bottom: 1px solid #ddd; 
                    position: relative;
                    padding: 8px 0 8px 50%;
                    min-height: 22px;
                    
                    
                }
            }
            
            td:before { 
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 45%; 
                padding-right: 10px; 
                white-space: nowrap;
            }
            
            /*
            Label the data
            
            .tb-history-table{
                tr{
                    td{
                        width: auto;
                        &:first-child{
                            span{padding-left: 0};
                        }
                    }
                }
            */
            td:nth-of-type(1):before { content: "Valorado por"; }
            td:nth-of-type(2):before { content: "Valoración"; }
            td:nth-of-type(3):before { content: "Comentario"; }
            td:nth-of-type(4):before { content: "Fecha"; }
            td:nth-of-type(5):before { content: "Envío "; }
        }   
    }
    @include tb-size-medium{

        @include tb-ratings-responsive;
    }
    @include tb-size-small{
        @include tb-ratings-responsive;
    }

    
}
/*


.ratings table th {
font-size: $tb-size-16;
margin: 0;
color: white;
font-family: 'Fjalla One',sans-serif;
font-weight: 300;
line-height: 20px;

}

*/