@import "../variables";
@import "../responsive";
@import "compass/css3";
.tb-reports-index{
	.tb-reports-date{
		input{
			margin: 0;
			width: 70%;
		}
		label{
			padding-left: 6px;
		}
		@include tb-size-small{
			
			input.datepicker{
				margin: 0;
				width: 70%;
			
			}
		}
	}
	
	
}
.tb-reports-list-title{
	padding-left: 7%;
}
.tb-reports-list{
	display: block;
	list-style-type: none;
	margin: 0;
	li{
		line-height: 36px;
		//margin: 0;
		padding: 5px 2%;
		border-bottom: 1px solid lighten($tb-gray, 30);
		.tb-reports-list-btn{
			margin: 0 3% 0 0;
		}
		
		&:last-child{
			border-bottom: 0;
		}
	}
}
.tb-reports-table {
	margin: 0;
	h1, h2, h3, h4, h5, h6{
		margin: 0;
	}
	.title{
		color: $tb-white;
	}


	.tb-reports-date {
		width: 10%;

	}

	.tb-reports-demands {

		width: 45%;
	}

	.tb-reports-budget {
		width: 15%;

	}
	.tb-reports-discounted {
		width: 15%;
	}

	.tb-reports-status {
		width: 15%;
	}
	tr{
		td:first-child, th:first-child{
			span, .title{padding-left: 10%};
		}
	}
	tbody{
		tr{
			font-size: $tb-size-12;
			background-color: $tb-container;
		}
	}
	td, th{
		border-collapse: collapse;
		border-bottom: 1px solid $tb-row-bottom-border;
	}

}
@mixin tb-reports-responsive{
	.tb-reports-table{
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { 
			border: 1px solid #ccc;
			border-bottom-width: 2px;
		}
		
		td { 
			/* Behave  like a "row" */
	
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding: 8px 0 8px 50%;
			min-height: 22px;
			
			
		}
		
		td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}

		tr{
			td{
				width: auto;
				&:first-child{
					span{padding-left: 0};
				}
			}
		}
		
	
	

		td:nth-of-type(1):before { content: "Fecha"; }
		td:nth-of-type(2):before { content: "Envio"; }
		td:nth-of-type(3):before { content: "Presupuestado"; }
		td:nth-of-type(4):before { content: "Descontado"; }
		td:nth-of-type(5):before { content: "Estado"; }
	
	}
}
@include tb-size-medium{	
	@include tb-reports-responsive;
}
@include tb-size-small{
	@include tb-reports-responsive;
}

.tb-reports-total{
	.title{
		color:$tb-white;
		line-height: 2em;
		margin-bottom: 10px;
	}
}











/*#total-budgets > .one-third {
  padding: 2.5%;
  margin-right: 0;
  width: 30%;
}

#total-budgets > .one-third:first-child {
  padding: 2.5% 0 2.5% 2.5%;
}

#total-budgets > .one-third:last-child {
  padding-left: 25px;
}

#total-budgets > .one-third .white {
  background-color: white;
  padding: 5%;
}

#total-budgets > .one-third  form .right{
  margin-top: 20px;
}

#total-budgets > .one-third .white .title:first-child, .show-demand .one-half .white .title:first-child, .show-demand .one > .lightgrey.custom .title {
  margin-top: 0 !important;
}

#total-budgets > .one-third .white .title, .show-demand .one-half .white .title, .show-demand .one > .lightgrey.custom .title {
  font-family: 'Fjalla One',sans-serif;
  margin-top: 20px;
}

#total-budgets .row-fluid input[type="radio"]{
  margin-top: 0;
}

#total-budgets .row-fluid {
  margin-top: 14px;
}

#total-budgets h4{
  color: white;
  font-size: 18px;
  height: 22px;
  margin-bottom: 8px;
  padding: 5px;
  }*/
