.clear.tb-featured
  .image-featured
    = image_tag "landings/transporte.jpg"
  .over-featured

    %h2.title Solicitá presupuestos de transportes
    .featured-text
      %h4.title
        Publicá en 1 minuto lo que necesitas transportar y comenzá a recibir presupuestos

    = link_to "Recibir presupuestos gratis", landings_transporte_places_path, class: "button large orange"

  = render 'guide_steps'
