.tb-reviews.lightgrey.clear
  .one-half
    %h3.title "Grandes volúmenes de cargas"
    %p
      Debido a mi actividad agrícola, me veo en la necesidad de mover grandes volúmenes con cargas de granos. Por suerte, gracias a Ahorra Envíos pude contactar un excelente transportista.
      %span Diego C.
  .one-half.last
    %h3.title "Tan fácil que no lo podía creer"
    %p
      El mes pasado fue la primera vez que usaba Ahorra Envíos, fue tan fácil que no lo podía creer. El transportista viajo mas de 850 kilómetros y llegó en el mismo día. No tengo duda que lo voy a volver a usar.
      %span Alvaro G.
