

#application-info {
	height: 100%;
	font-size: 13px;
	.ie7 &{
		width: 100%;
	}
	.title{
		letter-spacing: -1px;
		line-height: 1.2em;
		&.tb-longer{
			width: 105%;
		}
	}
}

#application-info li {
	color: #f96e5b;

}
#application-info p {
	margin-bottom: 10px;

}

#application-info li span{
	color: #000;
}
#application-info ul li strong {
	letter-spacing: -1px;
}
#application-info .orange-text {
	font-family: 'Fjalla One',sans-serif;
	font-size: 10pt;
	font-weight: normal;
}

#application-info .button {
	cursor: default;
	padding: 5px !important;
}

#application-info .button:hover {
	background-color: #F96E5B !important;
}
#application-info .application-info-img{
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
#application-info .application-info-first{
	padding-top: 10px;
}
#application-info .application-info-last{
	padding-bottom: 10px;
}