@import "../opacity-mixin";
@import "../variables";
@import "../responsive";
@import "compass/css3/text-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/images";

.tb-featured{
	position: relative;
	
	.image-featured{
		overflow: hidden;
		height: 500px;
		
		img{
			width:100%;
			display: block;
			margin-top: -20px;
		}
	}

	.tb-home &{
		.shadow-up, .shadow-down{
			position: absolute;
			left: 0;
			right: 0;
			height: 80px;

		}
		.shadow-up{
			@include background-image(linear-gradient(top,  rgba(0,0,0,0.3), transparent) );

			top: 0;
		}

		.shadow-down{
			@include background-image(linear-gradient(bottom,  rgba(0,0,0,0.3), transparent) );
			bottom: 0;
		}
		label{
			margin-bottom: 5px;
		}
		.over-featured{
			position: absolute;
			left: 0;
			top: 0;
			background-color: black;
			@include bg-opacity-black(0.7);
			padding: 10px 2%;
	/*		margin: 30px 0;*/
			margin: 0;
			width: 100%;
			max-width: 360px;
			@include box-sizing(border-box);

			.featured-line{
				margin: 10px 0;
				height: 1px;
				border-top: 1px dashed $tb-row-bottom-border;
			} 
			h5, label{
				color: $tb-row-bottom-border;
				
			}
			
			.featured-btn{
				background-color: #59B200;
		/*		margin: 10px auto;*/
				margin: auto;
				width: 100%;
				.featured-icon{
					display: block;
					float: left;
					padding-right:10px;
					border-right: 1px solid #6DD900; 
				}
				p{
					font-size: 14px;
					height: 36px;
					text-transform: none;
					@include text-shadow(0px 1px 0px rgba(0,0,0,0.75));
					width: 170px;
					padding-left: 10px; 
					float: left;
					border-left: 1px solid #006600;
				}
				&:hover{
					background-color: lighten(#59B200, 3%) !important;
					
				}
			}
		}
	}
	.tb-landing & {
		margin-bottom: 140px;
		.image-featured{
			height:350px;
		
		}
		.over-featured{
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			text-align: center;
			margin-top	: 50px;
			width: 100%;
			@include box-sizing(border-box);
			.title{
				margin-bottom: 15px;
			}
			h2{
				text-transform: uppercase;
			}
			.featured-text	{
				max-width: 390px;
				margin: 0 auto;
			}
			.button{
				font-size: $tb-size-24;
			}

		}
	}
	@include tb-size-medium{
		.tb-landing & {
			.image-featured{
				height:auto;
				img{
					margin: 0;
				}
			
			}
			.over-featured{
				margin-top: 20px;
				padding: 0 5%;
				.button.large{
					margin: 0;
				}
				
				
			}
		}
	}
	@include tb-size-small{
		.tb-landing & {
			.image-featured{
			
				img{
					max-width: none;
					width: 150%;
				}
			
			}
			.over-featured{
				>.title{
					font-size: $tb-size-24;
					margin-bottom: 20px;
				}
				.featured-text .title{
					font-size: $tb-size-20;
				}
				.button.large{
					font-size: $tb-size-18;
					margin: 0;
				}
				
			}
		}
	}
}
