@import "variables";
@import "responsive";
@import "compass/css3";

.tb-guide-steps{
	margin: 10px 0;
	text-align: center;
	.guide-icon{
		width: 93px;
		height:39px;
		padding: 25px 0;
		@include border-radius(45px);
		margin: 0 auto 10px;

		span{
			color: white;
			display: inline-block;

		}
		&:hover{
			background-color: $tb-black;
		}
	}
	h4{
		margin-bottom: 3px;
	}
	.tb-landing &{
		.guide-legend{
			p{
				font-size: $tb-size-12;
			}
		}
		.guide-icon:hover{
			background-color: $tb-subtitle-bg;
		}

	}
	.tb-featured &{
		position: absolute;
		bottom: -130px;
		left: 0;
		right: 0;
		margin: 0 auto;
		@include tb-size-medium{
			position: relative;
			bottom: -100px;
		} 

	}
	
}