@import "../variables";
@import "../responsive";

#home-tabs .nav-tabs {
	border-top-width: 0;
	border-bottom-width: 1px;
	border-bottom-color: #DDDDDD;
	text-transform:capitalize;
	.ie7 &{
		margin-bottom: 10px;
	}
}

#home-tabs .nav-tabs a {
	color: #444444;
	font-family: 'Fjalla One',sans-serif;
	font-size: 15px;
	font-weight: normal;
	text-transform: capitalize;
}
#home-tabs .nav-tabs .active a {
  color: $tb-orange;
}
#categories.tab-pane {
  margin: 2%;
}

#cities.tab-pane {
  margin: 2%;
}

#top-transporters{
	ul{
		margin-top: 10px;
		li{
			display: block;
			width: 25%;
			float: left;
			margin-bottom: 20px;
			list-style-type: none;
			font-size: $tb-size-12;

			img{
				display: block;
				float: left;
				width: 20%;
				@include tb-size-small{
					width: 80%;
				}
				@include tb-size-medium{
					width: 80%;
				}
			}
			.top-transporters-info{
				width: 80%;
				float: left;
				padding-top: 10px;
				strong, span{
					display: block;
					margin-left: 10px;
					line-height: 1.3em;

				}
				strong{
					
					color: $tb-black;
				}
				span{
					color: $tb-gray;
				}
			}
		}
	}
}