@import "../variables";
@import "../responsive";


#slogan {
	padding:10px 5px 5px 5px;
}

#save-money {
	margin: 5px auto 0;
	line-height:1.3em;
	color: #959494;
	max-width: 336px
}
.tb-slider {

	.tb-slider-box{
		width: 40%;
		float: left;
	}	
	.tb-slider-img{
		padding: 5px;	
		.tb-img-cont{
			position: relative;
			float: left;
		}
		.common-sprite-slider-prev, .common-sprite-slider-next{
			position: absolute;
			top: 100px;
			display: block;
			z-index: 2;
			cursor: pointer;
		}
		.common-sprite-slider-next{
			right: 10px;
			
		}
		.common-sprite-slider-prev{
			left: 10px;
			

		}
	}
	.company-title{
		margin: 4px 0;
	}
	.tb-comments-count{
		color: $tb-gray;
		margin-left: 10px;
		font-style: italic;
		font-size: $tb-size-12;
	}
	.tb-slider-slogan{
		width: 60%;
		float: left;
		overflow: hidden;
	}

	@include tb-size-medium{

		.tb-slider-slogan, .tb-slider-box{
			width: 100%;
		}
	}
	@include tb-size-small{

		.tb-slider-slogan, .tb-slider-box{
			width: 100%;
		}
	}
}

.home-text {
	
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	letter-spacing: -1px;
	line-height: 1.2em;

}
