


#user-info ul li {
	height: 215px;
}

#user-info .services div.current, #user-info .services div.current a {
	background-color: inherit;
	color: inherit;
}

#user-info .services div.current i {
	color: inherit;
}

#user-info .services div:hover, #user-info .services div:hover a, #user-info .services div.current:hover i{
	background-color: inherit;
	color: inherit;
}
#user-info .services div:hover a {
	background-color: inherit;
}
