@import "variables";

.user-steps{
	.user-steps-container{
		margin: auto 8%;
	}
	.step-text-table{
		display:table;
		height: 40px;
		width: 78%;
		padding-left: 12%;

	}
	.step-text{
		width:100%;
		display:table-cell;
		vertical-align:middle;
		padding-top: 5px;
		.title{
			margin-bottom: 0;
			font-size: $tb-size-18;
		}
		.ie7 &{
			width: 70%;
		}

	}
}