= form_for @point do |f|
  - if @point.errors.any?
    #error_explanation
      %h6.bold= "#{pluralize(@point.errors.count, "error")} prohibited this point from being saved:"
      %ul
        - @point.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :latitude
    = f.text_field :latitude
  .field
    = f.label :longitude
    = f.text_field :longitude
  .field
    = f.label :polygon_id
    = f.number_field :polygon_id
  .actions
    = f.submit 'Save'
