%h1 Listing points

%table
  %tr
    %th Latitude
    %th Longitude
    %th Polygon
    %th
    %th
    %th

  - @points.each do |point|
    %tr
      %td= point.latitude
      %td= point.longitude
      %td= point.polygon_id
      %td= link_to 'Show', point
      %td= link_to 'Edit', edit_point_path(point)
      %td= link_to 'Destroy', point, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Point', new_point_path
