%p#notice= notice

%p
  %b Latitude:
  = @point.latitude
%p
  %b Longitude:
  = @point.longitude
%p
  %b Polygon:
  = @point.polygon_id

= link_to 'Edit', edit_point_path(@point)
\|
= link_to 'Back', points_path
