<h5>Editar <%= resource_name.to_s.humanize %></h5>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <i>(Deje este espacio vacío si no desea cambiar la contraseña)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(Ingrese su contraseña actual)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Actualizar" %></div>
<% end %>

<h5>Cancelar mi cuenta</h5>

<p>Unhappy? <%= link_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "Está seguro?" }, :method => :delete %>.</p>

<%= link_to "Volver", :back %>
