@import "../variables";

.tb-coverage-area-row{
	line-height: 37px;
	background-color:$tb-subtitle-bg;
	margin-top: 3px;
	padding: 0 10px;


}

.tb-coverage-area-index{
	
}
.tb-coverage-area-show{
	
}

/*
.coverage-areas-table{
  width:95%;
  margin-left: 2.5%;
  margin-right:2.5%;
  border-collapse: separate;
  border-spacing: 0 5pt;
}

.coverage-areas-table tr{
  background-color: #F4F5F5;
}



#coverage-areas-and-vehicles.last .form {
	margin: 0 5% 5% 0;
}


#coverage-areas .form {
	margin: 2.5% 2.5% 0 2.5%;
}

#coverage-area.form {
  margin: 3% 3% 0 3%;
}

#coverage-area .accordion .accordion-group .accordion-inner {
  margin-left:  10%;
  margin-right: 5%;
}
*/