
.ie7 {
  .tb-coverage-area-row{
  	>span{
      float: left;
    }
  }
	#coverage-area{
		label.custom-checkbox{
			line-height: 14px;
		}
		input[type="checkbox"]{
			float:left;
			margin-right: 5px;
		}	
	}
}