= form_for [:admin, @home_banner] do |f|
  - if @home_banner.errors.any?
    #error_explanation
      %h2= "#{pluralize(@home_banner.errors.count, "error")} prohibited this home_banner from being saved:"
      %ul
        - @home_banner.errors.full_messages.each do |msg|
          %li= msg

  = f.label :transporter_id, "Razón social"

  .input-append
    = text_field_tag(:transporter_company_name)
    = link_to("Buscar Transportistas", "javascript:void(0)", id: "search-transporters", class: "btn btn-primary")

  %br

  = f.select :transporter_id, options_from_collection_for_select(transporters, :id, :company_name, @home_banner.transporter_id)

  = f.fields_for :image do |image_form|
    = image_form.label :image
    = image_form.file_field :image

  %br
  %br

  = f.submit 'Guardar Banner Home', class: 'btn btn-primary'
