%h1 Banners Home

%table.table.table-hover
  %thead
    %tr
      %th Transportista
      %th Imagen
      %th
      %th
      %th

  %tbody
    - @home_banners.each do |home_banner|
      %tr
        %td= home_banner.transporter_username
        %td= image_tag home_banner.image.small if home_banner.image
        %td= link_to 'Ver', admin_home_banner_path(home_banner), class: "btn btn-primary"
        %td= link_to 'Editar', edit_admin_home_banner_path(home_banner), class: "btn btn-warning"
        %td= link_to 'Borrar', admin_home_banner_path(home_banner), :method => :delete, :data => { :confirm => 'Está seguro?' }, class: "btn btn-danger"

%br

= link_to 'Nuevo Banner Home', new_admin_home_banner_path, class: "btn btn-primary"
