.tb-favorites-index.lightgrey
  %table.table.favorites.tb-favourite-table
    %thead
      %tr.orange
        %th.tb-favourite-value
          %h5.title Descripción envío
        %th.tb-favourite-value 
          %h5.title Origen
        %th.tb-favourite-value 
          %h5.title Destino
        %th.tb-favourite-km 
          %h5.title km
        %th.tb-favourite-end 
          %h5.title Finaliza en
        %th.tb-favourite-budget 
          %h5.title Presupuestos

    %tbody
      - @demands.each do |demand|
        %tr
         
          %td.bold
            = link_to "<i class='icon-heart'></i>".html_safe
            = link_to demand.description, demand, class: "tb-favorite-name"
          %td= demand.origin
          %td= demand.destiny
          %td= demand.distance
          %td= "#{(demand.expiration_date - Date.today).to_i} d"
          %td
            = demand.budgets.count
            = link_to 'Presupuestar', demand, class: "button small white tb-fav-budget-btn"
