= render partial: '/categories/generic'

= fields_for :demand do |form|
  .one-half
    .tb-dimmensions.tb-detail-box.bg-white
      .form
        %h5.title
          Dimensiones aproximadas

        = form.fields_for :data do |form|
          .control-group
            = form.label :volumen, class: "control-label"
            = form.text_field :volumen, value: demand.parsed_data['volumen'], class: 'validate[required]'

        .control-group
          = form.label 'Peso', class: "control-label"
          = form.text_field :weight, value: demand.weight
          = form.select :weight_unit, %w(tn kg lbs oz), selected: demand.weight_unit
