.tb-landing-dates
  .tb-module-container.lightgrey.clear

    - if user.has_signed_in?
      .tb-module-row
        %h3.title ¡Muchas gracias!
        %h3.title Has confirmado tu anuncio.

      = link_to "Ir a la web", root_path, class: "button large orange right"

    - else
      .tb-module-row
        %h3.title Cambiar contraseña

      .form
        = form_for(user, url: account_activation_path, method: :put, html: {class: 'form   tb-detail-box  bg-white'}) do |f|
          .first-half
            .tb-module-container.clear
              - if user.errors.any?
                #error_explanation
                  %h5
                    = "Hay errores que no permiten cambiar la contraseña:"
                  %ul
                    - user.errors.full_messages.each do |msg|
                      %li
                        = msg

              .clear.tb-module-row
                = f.label "Contraseña", class: "control-label"
                .right-box
                  %span#asterix.orange-text *
                  = f.password_field :password
              .clear.tb-module-row
                = f.label "Confirmación", class: "control-label"
                .right-box
                  %span#asterix.orange-text *
                  = f.password_field :password_confirmation

            .tb-module-container.clear
              = f.submit "Cambiar contraseña", class: "button large orange right"
