@import "../variables";
@import "../responsive";
.contact-form{
	.section-title{
		margin-bottom: 0;
	}
	

	.last .form, .form{
		margin: 0;
		color: $tb-gray;
		label{
			text-indent: 2%;
		}
		input{
			float: right;
		}
		textarea{
			background-color: #ededed;
			outline: none;
			transition: all 0.25s ease-in-out;
			-webkit-transition: all 0.25s ease-in-out;
			-moz-transition: all 0.25s ease-in-out;
			border: 1px solid #fff;
			color: #444;
			padding: 6px 2%;
			border-radius: 0px;
			box-shadow: none;
			width: 96%;
			height: 170px;
			margin-left: -1px;
			&:focus{
				box-shadow: 0 0 5px #f96e5b;
				-webkit-box-shadow: 0 0 5px #f96e5b;
				-moz-box-shadow: 0 0 5px #f96e5b;
				border:1px solid #f96e5b;
				background-color:#E6E6E6;
			}
		}
		button{
			margin-right: 0;
		}
	}
	
	
	.contact-info{
		font-size: $tb-size-12;
		color: $tb-black;
		dt{
			margin-top: 15px;
		}
		dt:first-child{
			margin-top: 0;
		}
	}
	@include tb-size-medium{
		label{
			width: auto;
		}

	}
	@include tb-size-large{
		label{
			width: auto;
		}

	}
	@include tb-size-small{
		.one-half{
			input[type="text"]{
				width: 95%;
			}
		}

	}
}