@import "variables";



.how-it-works{
	font-size: $tb-size-12;
	color: $tb-gray;
	.section-title{
		
		.title-brand{
			color: $tb-gray;
		}
	}
	

	p{
		em{
			font-style: normal;
			background: $tb-orange;
			color: $tb-white;
			border-radius: 2px;
		}
	}
	.tb-howto-text{
	margin-top: 15px;
		ul{
			list-style-type: disc;
			>li{
				line-height: 1.5em;
				color: $tb-orange;
			 	>span{
					color: $tb-gray;
				}
			}
		}
	}

}

