@import "../variables";
@import "compass/css3/border-radius";



.terms-and-conditions, .privacy-politics{

		color: $tb-gray;
		font-size: $tb-size-12;
	p{
		margin-bottom: 5px;
		line-height: 1.5em;
		.terms-sub-item-style{
			font-weight: bold;
			color: $tb-black;
		}

	}
	.terms-item-indent{
		padding-left: 3%;
	}
	h3.title{
		font-size: $tb-size-14;
	}
	.terms-list{
		li{
			//color: $tb-gray;
			//font-size: $tb-size-12;
		}
		>li{
			display: block;
			margin-bottom: 10px;
			.terms-item-header{
				line-height: 20px;
				text-transform: uppercase;
				margin-bottom: 5px;
				.terms-item-style{
					color: $tb-white;
					display: inline-block;
					width: 20px;
					text-align: center;
					line-height: 20px;
					margin-right: 5px;
					@include border-radius(2px);
				}
				
			}


		}
	}
}