%h1 Envios
%br

= form_for admin_demands_path, html: {method: :get} do |f|
  = fields_for :demand do |demand|
    = demand.label :description
    = demand.text_field :description, value: (params[:demand][:description] if params[:demand])

    = demand.label :category
    = demand.select :category_id, options_from_collection_for_select(Category.roots, :id, :name, (params[:demand][:category_id] if params[:demand])), include_blank: true

    = demand.label :subcategory
    = demand.select :subcategory_id, options_from_collection_for_select(Category.roots, :id, :name, (params[:demand][:subcategory_id] if params[:demand])), include_blank: true

    = demand.label :status
    = demand.select :status, options_from_collection_for_select(Status::Demand.constants, :to_s, :to_s, (params[:demand][:status] if params[:demand])), include_blank: true

  %h4 Fecha de creación
  = fields_for :dates do |dates|
    = dates.label :desde
    = dates.text_field :start, class: 'datepicker'

    = dates.label :hasta
    = dates.text_field :end, class: 'datepicker'

  = f.submit 'Buscar', class: 'btn btn-primary'
  = f.submit 'Exportar', class: 'btn btn-primary'

%table.table
  %tr
    %th Fecha
    %th Usuario
    %th Categoria
    %th Subcategoria
    %th Titulo
    %th Estado
    %th Cant. presupuestos

  - demands.each do |demand|
    %tr
      %td= l demand.created_at.to_date
      %td= (link_to demand.user.username, admin_user_path(demand.client)) if demand.client
      %td= demand.category.parent.name
      %td= demand.category.name
      %td= demand.description
      %td= demand.status
      %td= demand.budgets.size

= paginate demands

:javascript
  $('#demand_category_id').change(function() {
  $("#demand_subcategory_id").find('option').remove().end();
  category_id = this.selectedOptions[0].value;

  $.getJSON("/categories/" + category_id + "/children", function(data) {
    $.each(data, function(key, val) {
      $("#demand_subcategory_id")
        .append('<option value="'+val.id+'">'+val.name+'</option>');
      });
    });
  });
