<div class="tb-devise-shared-links">
	<%- if controller_name != 'sessions' %>
	  <%= link_to "Ingresar", new_session_path(resource_name) %><br />
	<% end -%>

	<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
	  <%= link_to "Registrarse", new_registration_path(resource_name) %><br />
	<% end -%>

	<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
	  <%= link_to "Olvido su contraseña?", new_password_path(resource_name) %><br />
	<% end -%>

	<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
	  <%= link_to "No recibio las instrucciones de confirmación?", new_confirmation_path(resource_name) %><br />
	<% end -%>

	<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
	  <%= link_to "No recibió las instrucciones de desbloqueo de cuenta?", new_unlock_path(resource_name) %><br />
	<% end -%>

	<%- if devise_mapping.omniauthable? %>
	  <%- resource_class.omniauth_providers.each do |provider| %>
	    <%= link_to "Ingresar con #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
	  <% end -%>
	<% end -%>
</div>