.clear.tb-featured
  .image-featured
    = image_tag "landings/flete.jpg"
  .over-featured

    %h2.title Solicitá presupuestos de fletes
    .featured-text
      %h4.title 
        Publicá en 1 minuto lo que necesitas transportar y comenzá a recibir presupuestos

    = link_to "Recibir presupuestos gratis", landings_fletes_places_path, class: "button large orange"

  = render 'guide_steps'
