.tb-guide-steps.clear
  .one-fourth
    .guide-icon.lightgrey
      %span.common-sprite-icon-tick
    .guide-legend
      %h3.title Gratis
      %p ¡Hasta un 75% menos en relación a las tarifas habituales!
  .one-fourth
    .guide-icon.lightgrey
      %span.common-sprite-icon-clock
    .guide-legend
      %h3.title Ahorrá tiempo
      %p Leé los comentarios y críticas anteriores antes de aceptar un presupuesto.
  .one-fourth
    .guide-icon.lightgrey
      %span.common-sprite-icon-lock
    .guide-legend
      %h3.title Seguro
      %p 
        ¡Sin problemas!
        %br
        Los presupuestos te llegan por correo electrónico.
  .one-fourth.last
    .guide-icon.lightgrey
      %span.common-sprite-icon-wallet
    .guide-legend
      %h3.title Ahorrá dinero
      %p Acepta el que más te conviene totalmente gratis!

