.tb-reviews.lightgrey.clear
  .one-half
    %h3.title "Lo recomiendo 100%"
    %p 
      Gracias a las ofertas que recibí de los distintos ﬂeteros me permitió decidir el itinerario que mas me convenía y dentro de mi presupuesto Lo recomiendo 100% a todos para que se animen a probarlo.
      %span Florencia T.
  .one-half.last
    %h3.title "Esta página es excelente"
    %p 
      El servicio de esta página es excelente, no sabía que existía hasta que un amigo me lo recomendó. Conseguí un excelente oferta de un fletero de mi barrio, gracias Ahorro Envíos por esta gran idea.
      %span Juan A.
