.tb-landing-places
  .tb-module-container.lightgrey.clear
    %h3.title.tb-module-row Ingresá los datos de lo que necesitas transportar y comenzá a recibir presupuestos.
    .form
      = form_for demand, url: demands_path do |f|
        - if flash[:demand_errors] && flash[:demand_errors].any?
          #error_explanation.tb-module-container
            %h6.bold= "No se pudo crear el envío, verifique los siguientes errores:"
            %ul
              - flash[:demand_errors].full_messages.each do |msg|
                %li= msg

              - [:demand_errors, :demand].each do |key|
                - flash.delete key
        = hidden_field_tag "demand[provider]", provider
        = hidden_field_tag "demand[category]", category.id
        = hidden_field_tag "demand[status]", demand.status
        .tb-module-container.border.tb-module-row.clear
          .first-half

            .clear
              = f.label "Descripción:", class: 'title'
              .right-box
                = f.text_field :description, class: 'input-full-width'
            .clear
              = f.fields_for :origin do |origin_form|
                = origin_form.label "Origen:", class: 'title'
                .right-box
                  = origin_form.text_field :street_line2, class: 'input-full-width'
                  %p (ej: barrio, ciudad, provincia)

                  = origin_form.hidden_field :city
                  = origin_form.hidden_field :country
                  = origin_form.hidden_field :state
                  = origin_form.hidden_field :street_line1
                  = origin_form.hidden_field :administrative_area
                  = origin_form.hidden_field :neighborhood
                  = origin_form.hidden_field :latitude
                  = origin_form.hidden_field :longitude
            .clear
              = f.fields_for :destiny do |destiny_form|
                = destiny_form.label "Destino:", class: 'title'
                .right-box
                  = destiny_form.text_field :street_line2, class: 'input-full-width'
                  %p (ej: barrio, ciudad, provincia)

                  = destiny_form.hidden_field :city
                  = destiny_form.hidden_field :country
                  = destiny_form.hidden_field :state
                  = destiny_form.hidden_field :street_line1
                  = destiny_form.hidden_field :administrative_area
                  = destiny_form.hidden_field :neighborhood
                  = destiny_form.hidden_field :latitude
                  = destiny_form.hidden_field :longitude
            .clear
              = label_tag "Mail", "Mail", class: 'title'
              .right-box
                = text_field_tag "demand[email]", nil, class: 'input-full-width'
                %p (dirección de mail donde quieres recibir los presupuestos)

          .second-half.text-align-center
            = image_tag "landings/cartonbox.png"

        %span.home-sprite-icon-budget.featured-icon
          = f.submit("Publicar anuncio", class: "button large orange right")

