
.tb-landing-thanks
  .tb-module-container.lightgrey.clear
    .tb-module-row
      %h3.title.uppercase ¡Muchas gracias!
      %h3.title Recordá activar desde tu email el anuncio.

    .tb-module-container.border.tb-module-row.clear
      %ul
        %li
          %b Descripción:
          = demand.description
        %li
          %b Origen:
          = demand.origin.city
        %li
          %b Destino:
          = demand.destiny.city
        %li
          %b Datos de recolección:
          = l demand.origin_information.delivery_date_from.to_date
        %li
          %b Datos de entrega:
          = l demand.destiny_information.delivery_date_from.to_date
        %li
          %b Detalles adicionales:
          = demand.detail

    = link_to "Ir a la web", root_path, class: "button large orange right"
