@import "compass/css3";
@import "../variables";

.tb-landing-places, .tb-landing-dates, .tb-landing-thanks{
	label{
		line-height: 40px;
		font-size: $tb-size-18;
		
		float: left;
	}
	input[type="text"], select, textarea{
		background-color: white;

	    font-size: $tb-size-18;
	}
	input[type="text"], select, {

	
	    line-height: 40px;
	    height: 40px;
	}
	textarea{
		height: 100px;
	}

	h3{
		padding-left: 20px;
	}


	.right-box{
		width: 70%;
		float: left;

	}
	.first-half, .second-half{

		width: 50%;
		float: left;
		.border{border-bottom: 0;}
		.tb-module-container{
			padding: 4%;
		}
		label{
			width: 30%;
		}

	}
	.second-half .border{
		border-left: 0;
	}
	.button.large{
		min-width: 200px;
	}
}
.tb-landing-places{
	input[type="text"]{
		margin-bottom: 0;

	}
	label{
		margin-bottom: 30px;
	}
	p{ 
		font-size: $tb-size-12;
		text-align: center;
	}
	img{
		max-height: 275px;
	}

}
.tb-landing-dates{
	.ui-datepicker-trigger{
		float: left;
		margin-left: 2%;
		margin-top: 5px;
		cursor: pointer;
	}
	label.custom-checkbox{
		margin-bottom: 0;
		margin-top: 3px;
		&:before{
			border-color:  white;
			bottom: 4px;
		}
		&:after{
		
			bottom: 4px;
		}

	}
	.input-floor{
		width: 100%;
		max-width: 75px;
	}
}
.tb-landing-thanks{
	ul{
		font-size: $tb-size-14;
	}
}
