@import "../variables";
@import "../responsive";
@import "compass/css3/text-shadow";


.tb-reviews{
	padding:30px 5%;
	p{
		font-size: $tb-size-14;
		line-height: 1.5em;
		span{
			display: block;
			text-align: center;
		}
	}
	@include tb-size-medium{
		.one-half.last{
			border-top: 1px solid $tb-gray;
			padding-top: 20px;
		}
	}
}
