.page-header
  %h1 Dashboard

.tb-transporters-show

  .tb-module-container.lightgrey.clear.tb-profile
    .tb-module-row.clear

      //primer tercio
      .one-third-profile
        .one-third
          .tb-profile-box.bg-white.text-align-center
            %h3.title.orange-text
              = @number_of_users
            Usuarios

        .one-third
          .tb-profile-box.bg-white.text-align-center
            %h3.title.orange-text
              = @number_of_transporters
            Transportistas

      .one-third-profile.last
        .one-third
          .tb-profile-box.bg-white.text-align-center
            %h3.title.orange-text
              = @number_of_demands
            Envios

        .one-third
          .tb-profile-box.bg-white.text-align-center
            %h3.title.orange-text
              = @number_of_budgets
            Presupuestos

