= form_for([:admin, icon]) do |f|
  - if icon.errors.any?
    #error_explanation
      %h6.bold= "#{pluralize(icon.errors.count, "error")} prohibited this icon from being saved:"
      %ul
        - icon.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    = f.text_field :description
    = f.label :group_id
    = f.select :group_id, Group.all.collect {|p| [ p.description, p.id ] }
    = f.label :order
    = f.text_field :order
    = f.label :volume
    = f.text_field :volume
    = f.label :unit
    = f.text_field :unit
    = f.label :high
    = f.text_field :high
    = f.label :width
    = f.text_field :width
    = f.label :depth
    = f.text_field :depth
    = f.label :weight
    = f.text_field :weight

  .field
    = f.fields_for :image do |image_form|
      = image_form.label :image
      = image_form.file_field :image

  .actions
    = f.submit 'Guardar Icono', class: 'btn btn-primary'
