%h1 Iconos
%br

%table.table
  %tr
    %th Imagen
    %th Descripción
    %th Grupo Descripcion
    %th Orden
    %th Volumen
    %th Unidad
    %th Altura
    %th Ancho
    %th Profundidad
    %th Peso
    %th
    %th
    %th

  - icons.each do |icon|
    %tr
      %td= image_tag icon.image.small if icon.image
      %td= icon.description
      %td= icon.group.description if icon.group
      %td= icon.order
      %td= icon.volume
      %td= icon.unit
      %td= icon.high
      %td= icon.width
      %td= icon.depth
      %td= icon.weight
      %td= link_to 'Mostrar', admin_icon_path(icon), class: 'btn btn-info'
      %td= link_to 'Editar', edit_admin_icon_path(icon), class: 'btn btn-warning'
      %td= link_to 'Borrar', admin_icon_path(icon), method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger'

%br

= link_to 'Nuevo Icono', new_admin_icon_path, class: 'btn btn-primary'
