%p#notice= notice

.item
  %b Description:
  = icon.description
.item
  %b Grupo:
  = icon.group.description
.item
  %b Orden:
  = icon.order
.item
  %b Volumen:
  = icon.volume
.item
  %b Unidad:
  = icon.unit
.item
  %b Altura:
  = icon.high
.item
  %b Ancho:
  = icon.width
.item
  %b Profunidad:
  = icon.depth
.item
  %b Peso:
  = icon.weight
.item
  %b Imagen:
  = image_tag icon.image

= link_to 'Editar', edit_admin_icon_path(icon), class: 'btn'
= link_to 'Atrás', admin_icons_path, class: 'btn'
