@import "../responsive";

.tb-transporters-edit{
	
	
	#company{
		.tb-detail-box{
			//padding: 15px;
			margin-bottom: 15px;
			//background: white;
			//overflow: hidden;
			.tb-company-container{
				padding-left: 2%;
			}

			
		}
		.tb-company-title{
			float: left;
		}
		.tb-company-img{
			float: right;
			margin: 0;
		}

		.tb-company-information{
			input[type="email"], input[type="password"], input[type="text"], input[type="number"]{
    			width: 57%;
    		}
    		select{
    			width: 60%;
    			margin-left: 2px;
    		}
    		.control-label{
    			width: 35%;
    		}
    		.custom-checkbox{width: 79%;}
    		@include tb-size-small{

				input[type="email"], input[type="password"], input[type="text"], input[type="number"]{
	    			width: 95%;
	    			
	    		}

				select{
	    			width: 99%;
	    			
	    		}
	    		.control-label{
	    			width: auto;
	    			float: left;
	    		}
    		}
		}
		
		.tb-company-list{
			width: 50%;
			float: left;
			margin-bottom: 10px;
			@include tb-size-small{
				width: 80%;
				.control-label{
					width: 100%;
				}
			}
			@include tb-size-medium{
				width: 80%;
				.control-label{
					width: 100%;
				}
			}
		}
		.tb-company-conditions{
			.control-label{
	    		width: 80%;
	    		margin-bottom: 10px;
    		}
		}
		/*#conditions-of-payment.one-half .form .control-group .control-label{
		  width: 70%;
		}*/
		.tb-company-coverage{
			.tb-company-coverage-btn{
				width: 80%;
				margin-top: 5px;
			}
		}
		.methods-of-payment{
			@include tb-size-medium{
			}
		}
		
	}
	@include tb-size-small{
		#asterix, .asterix{
			float: left;
			margin-left: 10px;

		}
		.update-account, .tb-update-password{
		
			.control-label{
				float: left;
				width: auto;
			}
		}
	}
}