@import "../variables";

.tb-transporters-show {
	font-size: $tb-size-12;
	.tb-transporters-subtitle{
		margin-bottom:	10px;
	}
	.tb-transporters-content{
		padding-left:2%;
	}
	.tb-detail-box{
		margin-bottom: 10px;
	}
}