#accepted.tab-pane{ class: (params[:status] == 'accepted') ? 'active' : nil }
  - accepted_budget_demands.each do |demand|
    //Titulo de acordion
    .tb-accordion-demand
      - if demand.has_new_comments?(current_user)
        %span.tb-accordion-iconbox !
      %span.tb-accordion-demand-title
        %span.tb-demand-title-text= "#{demand.description.truncate(20)}"
        - accepted_budgets = demand.budgets.select { |b| b.transporter == transporter && b.accepted? }
        %span.orange-text.tb-accordion-demand-number.bold
          = "(#{accepted_budgets.size})"
      %span.tb-accordion-demand-date= demand.expiration_date.strftime("%d/%m/%Y") if demand.expiration_date

      %span.tb-accordion-demand-info
        Origen:
        = demand.origin.to_s(:short)

      %span.tb-accordion-demand-info
        Destino:
        = demand.destiny.to_s(:short)
      .right.tb-accordion-demand-btns

        = link_to 'Ver', demand_path(demand), class: "button small white"
        - if accepted_budgets.count > 0
          %button{ "type" => "button", "data-toggle" => "collapse", "data-target" => "#accomplished-demand-#{demand.id}", "id" => "button-accomplished-demand-#{demand.id}" }
            &nbsp;

    .accordion-body.collapse{ id: "accomplished-demand-#{demand.id}", class: accordion_class(params[:demand], demand.id), style: accordion_style(params[:demand], demand.id) }
      - accepted_budgets.each do |budget|

        .clear
          .tb-accordion-budget.clear{ class: budget_class(budget) }
            .one-half
              %span.tb-accordion-budget-price= number_to_currency budget.price, precision: 0
              %span.tb-accordion-budget-rating= stars(budget.transporter.total_rating, budget.transporter.received_ratings.size)
            .one-half.last
              .tb-accordion-budget-state
                - if budget.has_new_comments?(current_user)
                  %span.tb-accordion-iconbox= budget.new_comments(current_user).size

                %span= budget_status_label(budget, current_user)
                %button{ "type" => "button", "data-toggle" => "collapse", "data-target" => "#accomplished-budget-#{budget.id}", "id" => "button-accomplished-budget-#{budget.id}" }
                  &nbsp;
          .accordion-body.collapse{ id: "accomplished-budget-#{budget.id}", class: accordion_class(params[:budget], budget.id), style: accordion_style(params[:budget], budget.id) }
            = render "transporter", budget: budget, transporter: transporter

  = paginate accepted_budget_demands, params: {status: "accepted"}
