#active.tab-pane{ class: (params[:status].nil? || params[:status] == "active") ? 'active' : nil }
  - active_budget_demands.each do |demand|
    - active_budgets = demand.budgets.select { |b| b.active? && !(b.cancelled? && b.transporter == transporter) } 
    - if active_budgets.any?
      //Titulo de acordion
      .tb-accordion-demand
        - if demand.has_new_comments?(current_user)
          %span.tb-accordion-iconbox !
        %span.tb-accordion-demand-title
          %span.tb-demand-title-text= "#{demand.description.truncate(20)}"
          %span.orange-text.tb-accordion-demand-number.bold
            = "(#{active_budgets.size})"
        %span.tb-accordion-demand-date= demand.expiration_date.strftime("%d/%m/%Y") if demand.expiration_date

        %span.tb-accordion-demand-info
          Origen:
          = demand.origin.to_s(:short)

        %span.tb-accordion-demand-info
          Destino:
          = demand.destiny.to_s(:short)
        .right.tb-accordion-demand-btns
          = link_to 'Ver', demand_path(demand), class: "button small white"
          = link_to 'Crear Presupuesto', demand_path(demand), class: "button small white"
          - if active_budgets.count > 0
            %button{ "type" => "button", "data-toggle" => "collapse", "data-target" => "#active-demand-#{demand.id}", "id" => "button-active-demand-#{demand.id}" }
              &nbsp;

      .accordion-body.collapse{ id: "active-demand-#{demand.id}", class: accordion_class(params[:demand], demand.id), style: accordion_style(params[:demand], demand.id) }
        - active_budgets.each do |budget|
          .tb-accordion-budget.clear{ class: budget_class(budget) }
            .one-third{ class: (budget.transporter == transporter) ? "tb-budget-transporter one-third" : "one-third" }

              %span.tb-accordion-budget-price= number_to_currency budget.price, precision: 0
              %span.tb-accordion-budget-rating= stars(budget.transporter.total_rating, budget.transporter.received_ratings.size)
            .one-third
              %span.tb-accordion-budget-date= "Valido hasta #{budget.expiration_date.strftime("%d/%m/%Y")}" if budget.expiration_date

            .one-third.last
              .tb-accordion-budget-state
                - if budget.has_new_comments?(current_user)
                  %span.tb-accordion-iconbox= budget.new_comments(current_user).size

                %span= budget_status_label(budget, current_user)
                %button{ "type" => "button", "data-toggle" => "collapse", "data-target" => "#active-budget-#{budget.id}", "id" => "button-active-budget-#{budget.id}" }
                  &nbsp;
          .accordion-body.collapse{ id: "active-budget-#{budget.id}", class: accordion_class(params[:budget], budget.id), style: accordion_style(params[:budget], budget.id) }
            = render "transporter", budget: budget, transporter: transporter

  = paginate active_budget_demands, params: {status: "active"}
