
.clear
  .tb-accordion-budget.budget-heading.clear#demands{ class: budget_class(budget) }
    .one-third
      %span.tb-accordion-budget-price= number_to_currency budget.price, precision: 0
      %span.tb-accordion-budget-rating= stars(budget.transporter.total_rating, budget.transporter.received_ratings.size)
    .one-third
      .tb-accordion-budget-date= "Valido hasta #{demand.expiration_date.strftime("%d/%m/%Y")}" if budget.demand.expiration_date

    .one-third.last
      .tb-accordion-budget-state
        - if budget.has_new_comments?(current_user)
          %span.tb-accordion-iconbox= budget.new_comments(current_user).size
        %span= budget_status_label(budget, current_user)
        %button{ "type" => "button", "data-toggle" => "collapse", "data-target" => "#active-budget-#{budget.id}", "id" => "button-budget-#{budget.id}" }
          &nbsp;
  
  .clear.collapse{ id: "active-budget-#{budget.id}" }
    = render "budgets/transporter", budget: budget, transporter: budget.transporter
