#discarded.tab-pane{ class: (params[:status] == 'discarded') ? 'active' : nil }
  - discarded_budget_demands.each do |demand|
    //Titulo de acordion
    .tb-accordion-demand#demands
      - if demand.has_new_comments?(current_user)
        %span.tb-accordion-iconbox !
      %span.tb-accordion-demand-title
        %span.tb-demand-title-text= "#{demand.description.truncate(20)}"
        - discarded_budgets = demand.budgets.select { |b| b.transporter == transporter && b.discarded? }
        %span.orange-text.tb-accordion-demand-number.bold
          = "(#{discarded_budgets.size})"
      %span.tb-accordion-demand-date= demand.expiration_date.strftime("%d/%m/%Y") if demand.expiration_date
    
      %span.tb-accordion-demand-info
        Origen:
        = demand.origin.to_s(:short)
     
      %span.tb-accordion-demand-info
        Destino:
        = demand.destiny.to_s(:short)
      .right.tb-accordion-demand-btns
        = link_to 'Ver', demand_path(demand), class: "button small white"
        - if discarded_budgets.count > 0
          %button{ "type" => "button", "data-toggle" => "collapse", "data-target" => "#discarded-demand-#{demand.id}", "id" => "button-discarded-demand-#{demand.id}" }
            &nbsp;

    .accordion-body.collapse{ id: "discarded-demand-#{demand.id}"}
      - discarded_budgets.each do |budget|
        .tb-accordion-budget.clear{ class: budget_class(budget) }
          .two-third
            %span.tb-accordion-budget-price= number_to_currency budget.price, precision: 0
            %span.tb-accordion-budget-rating= stars(budget.transporter.total_rating, budget.transporter.received_ratings.size)

          .one-third.last
            .tb-accordion-budget-state
              - if budget.has_new_comments?(current_user)
                %span.tb-accordion-iconbox= budget.new_comments(current_user).size

              %span= budget_status_label(budget, current_user)
              %button{ "type" => "button", "data-toggle" => "collapse", "data-target" => "#discarded-budget-#{budget.id}", "id" => "button-discarded-budget-#{budget.id}" }
                &nbsp;
        .accordion-body.collapse{ id: "discarded-budget-#{budget.id}" }
          = render partial: 'transporter', locals: { budget: budget, transporter: budget.transporter }

  = paginate discarded_budget_demands, params: {status: "discarded"}
