.tb-budget-form
  %p
    Recuerde incluir en el precio del presupuesto todos los gastos (peajes, iva, servicios extras, etc)
  /%p= "Recuerde que una vez que el usuario visualice su presupuesto se descontará de su saldo el monto de $#{demand.price}"

  = form_for [demand, budget], html: {class: 'form  ', id: 'budget-form'} do |f|
    .one-half
      .tb-detail-box.bg-white
        .tb-module-row
          - if budget.errors.any?
            #error_explanation.tb-module-container
              %h6.bold= "No se pudo crear el presupuesto, verifique los siguientes errores:"
              %ul
                - budget.errors.full_messages.each do |msg|
                  %li= msg
        .tb-module-row

          .row-fluid
            .span5= f.label 'Importe'
            = f.text_field :price, class: 'validate[required]'
          .row-fluid
            .span5= f.label 'Válido hasta el'
            = f.text_field :expiration_date, class: 'validate[required] datepicker'
          .row-fluid
            = f.check_box :accepts_notification_for_cheaper_budgets
            = f.label :accepts_notification_for_cheaper_budgets, class: "custom-checkbox inline"

        /
          = image_tag  "http://placehold.it/30x30", :class => "tb-budget-truck"
          = link_to "Seleccionar un vehículo", :class =>"orange tb-budget-truck-link"

    .one-half.last
      .tb-detail-box.bg-white
        = fields_for comment do |form|
          = form.label 'Observaciones:'

          = form.text_area :message

      .control-group.text-align-right
        = f.submit 'Enviar Presupuesto', class: 'button large orange'
