.tb-transporter.tb-module-container.lightgrey.clear
  - if budget.transporter == current_user.role or budget.demand.client == current_user.role
    .one-half
      .tb-detail-box.bg-white
        %h5.title Información de contacto

        .tb-transporter-info
          %p= transporter.user.full_name
          %p= transporter.company.phone_number
          %p= transporter.email
          %p.text-align-right.right
            - if transporter.company and transporter.company.image
              = link_to image_tag(transporter.company.image.icon), transporter.company.image.to_s, class: 'colorbox-gallery'

        = link_to "Ver Perfil", transporter, class: 'button medium orange capitalize'

        %hr
        .tb-transporter-info
          .field
            %span.bold
              Empresa:
            = transporter.company.name
          .field
            %span.bold
              Tipo de empresa:
            = transporter.company.company_type
          .field
            %span.bold
              Forma de pago:
            = transporter.company.payment_methods.map { |payment_method| payment_method.name }.join(" - ")

          .field
            %span.bold
              Condiciones de pago:
            = transporter.company.payment_conditions.map { |payment_condition| payment_condition.name }.join(" - ")

          .field
            %span.bold
              Seguro:
            = transporter.company.license_and_insurance

  .one-half.last{ class: (budget.transporter == transporter) ? "last" : "" }
    .tb-module-row
      .tb-detail-box.bg-white.clear
        %h5.title
          Observaciones
          %span.orange-text=  "(#{budget.comments.size})"
        .tb-comment-box
          .tb-comments#tb-comments

            - budget.comments.each do |comment|
              .comment{ class: (comment.user.transporter? ? '' : 'orange-text'), id: comment.unread? ? comment.id : "" }
                %span.bold= comment.user.transporter? ? 'T:' : 'U:'
                = comment.message

          - if budget.transporter == current_user.role || budget.demand.client == current_user.role
            = form_for [budget, Comment.new] do |f|
              = f.text_field :message, placeholder: 'Escriba aca su mensaje', :class => 'tb-comment-input'
              = f.submit 'Enviar Consulta', :class => 'button medium orange capitalize tb-comment-button'

    - if budget.transporter == current_user.role
      #budget-buttons.text-align-center.tb-budget-buttons
        - if budget.active? && !budget.cancelled?
          = link_to "Modificar", edit_transporter_budget_path(transporter, budget), class: 'button large orange'
          = link_to "Cancelar", cancel_transporter_budget_path(transporter, budget), method: :post, data: { confirm: 'Al cancelar un presupuesto el usuario que lo había recibido no podrá aceptarlo, está seguro que desea cancelarlo?' }, class: 'button large orange'
          - if budget.to_be_confirmed?
            = link_to "Confirmar presupuesto", confirm_transporter_budget_path(transporter, budget), class: 'button large orange', method: :post
