.tb-tabs-container  
  %ul.nav.nav-tabs
    %li{ class: (params[:status].nil? || params[:status] == "active") ? 'active' : nil }
      %a{ href: "#active", 'data-toggle' => "tab"}
        Activos
    %li{ class: (params[:status] == 'accepted') ? 'active' : nil }
      %a{ href: "#accepted", 'data-toggle' => "tab"}
        Aceptados
    %li{ class: (params[:status] == 'discarded') ? 'active' : nil }
      %a{ href: "#discarded", 'data-toggle' => "tab"}
        Descartados

.tab-content
  = render "active_budgets", active_budget_demands: active_budget_demands
  = render "accepted_budgets", accepted_budget_demands: accepted_budget_demands
  = render "discarded_budgets", discarded_budget_demands: discarded_budget_demands