.tb-module-container.lightgrey.clear
  .one-half
    .form.tb-detail-box.bg-white
      %p
        %b Precio:
          = budget.price
      %p
        %b Transportista:
          = budget.transporter_id
      %p
        %b Demanda:
          = budget.demand_id