.clear.tb-featured
  .image-featured
    = image_tag "landings/cajas.jpg"
  .over-featured

    %h2.title Solicitá presupuestos para tu mudanza
    .featured-text
      %h4.title
        Publicá en 1 minuto tu mudanza y comenzá a recibir presupuestos

    = link_to "Recibir presupuestos gratis", landings_mudanzas_places_path, class: "button large orange"

  = render 'guide_steps'
