.tb-reviews.lightgrey.clear
  .one-half
    %h3.title "Fácil y super ágil"
    %p
      Estábamos mareadísimos con el tema de la mudanza y AHORRA ENVIOS nos salvó de todo ese estrés! Es fácil y super ágil.
      %span Cecilia C.
  .one-half.last
    %h3.title "Excelente servicio"
    %p
      Excelente serivicio! lo usé para hacer una mudanza y fueron realmente muy cuidadosos en cada detalle
      %span Gaston J.
