.tb-landing-dates
  .tb-module-container.lightgrey.clear
    .tb-module-row
      %h3.title ¡MUCHAS GRACIAS! Revisá ahora tu mail para activar el anuncio.
      %h3.title Si querés recibir presupuestos más precisos ingresá los siguientes datos:
    .form
      = form_for demand, method: :put do |f|
        - if flash[:demand_errors] && flash[:demand_errors].any?
          #error_explanation.tb-module-container
            %h6.bold= "No se pudo crear el envío, verifique los siguientes errores:"
            %ul
              - flash[:demand_errors].full_messages.each do |msg|
                %li= msg

              - [:demand_errors, :demand].each do |key|
                - flash.delete key
        .first-half
          .tb-module-container.border.clear
            %h4.title.uppercase.tb-module-row Origen

            = hidden_field_tag "demand[status]", demand.status

            = f.fields_for :origin_information do |origin_information_form|
              .clear.tb-module-row
                = origin_information_form.label "Retirar el día:", class: 'title'
                .right-box
                  - unless origin_information_form.object.delivery_date_from.nil?
                    = origin_information_form.text_field :delivery_date_from, value: l(origin_information_form.object.delivery_date_from), class: 'datepicker'
                  - else
                    = origin_information_form.text_field :delivery_date_from, class: 'datepicker'

            = f.fields_for :data do |form|
              = form.fields_for :origin do |form_origin|
                .clear.tb-module-row
                  = form_origin.label "Piso:", class: 'title'
                  .right-box
                    = form_origin.select :floors, ['Planta baja', '1er piso', '2do piso', '3er piso o más piso'], {prompt: 'Piso', selected: (demand.parsed_data['destiny']['floors'] if demand.parsed_data['destiny'])}, {class: ".input-floor"}

                .clear
                  = form_origin.label "Ascensor:", class: 'title'
                  .right-box
                    .one-half
                      = form_origin.radio_button :elevator, 'Si', class: 'left'
                      = form_origin.label 'elevator_si', 'SI', class: "control-label title custom-checkbox before"
                    .one-half.last
                      = form_origin.radio_button :elevator, 'No', class: 'left'
                      = form_origin.label 'elevator_no', 'NO', class: "control-label title custom-checkbox before"

        .second-half
          .tb-module-container.border.clear
            %h4.title.uppercase.tb-module-row Destino
            = f.fields_for :destiny_information do |destiny_information_form|
              .clear.tb-module-row
                = destiny_information_form.label "Entregar el día:", class: 'title'
                .right-box
                  - unless destiny_information_form.object.delivery_date_from.nil?
                    = destiny_information_form.text_field :delivery_date_from, value: l(destiny_information_form.object.delivery_date_from), class: 'datepicker'
                  - else
                    = destiny_information_form.text_field :delivery_date_from, class: 'datepicker'

            = f.fields_for :data do |form|
              = form.fields_for :destiny do |form_destiny|
                .clear.tb-module-row
                  = form_destiny.label "Piso:", class: 'title'
                  .right-box
                    = form_destiny.select :floors, ['Planta baja', '1er piso', '2do piso', '3er piso o más piso'], {prompt: 'Piso', selected: (demand.parsed_data['destiny']['floors'] if demand.parsed_data['destiny'])}, {class: ".input-floor"}
                .clear
                  = form_destiny.label "Ascensor:", class: 'title'
                  .right-box
                    .one-half
                      = form_destiny.radio_button :elevator, 'Si', class: 'left'
                      = form_destiny.label 'elevator_si', 'SI', class: "control-label title custom-checkbox before"
                    .one-half.last
                      = form_destiny.radio_button :elevator, 'No', class: 'left'
                      = form_destiny.label 'elevator_no', 'NO', class: "control-label title custom-checkbox before"

        .tb-module-container.border.clear.tb-module-row
          %h4.title DETALLES ADICIONALES: (aquí podes comentar todos los detalles que consideres importantes)

          = f.text_area :detail, class: 'input-full-width'

        = f.submit 'Enviar', class: 'button large orange right'
