.ie7 {

	#buy-credits{


		> .one-third{
			width: 30.66%;
		}
	}
	.tb-credits-index{
		.tb-history-table {
			tr{
				td:first-child, th:first-child{
					span, .title{padding-left: 0};
				}
			}
		}
	}
}