@import "../variables";
@import "../responsive";
.tb-credits-index{

	
	.tb-detail-box{
		min-height: auto;
	}
	.tb-credits-first{
		width: 25%;
	}
	.tb-credits-second, .tb-credits-third{
		width: 34.3%;
	}
	.tb-accordion-title{
		margin-bottom: 10px;
		.title{
			color: $tb-white;
		}
	}
	#credits-form, .tb-credits-billinfo{
		font-size: $tb-size-12;
	}

	.tb-history-table {
		margin: 0;
		h1, h2, h3, h4, h5, h6{
			margin: 0;
		}
		.title{
			color: $tb-white;
		}
		tr{
			td:first-child, th:first-child{
				span, .title{padding-left: 10%};
			}
		}
		tbody{
			tr{
				font-size: $tb-size-12;
				background-color: $tb-container;
			}
		}
		td, th{
			width: 15%;
			border-collapse: collapse;
			border-bottom: 1px solid $tb-row-bottom-border;
		}

	}
	@mixin tb-credits-responsive{
		.tb-credits-first,.tb-credits-second, .tb-credits-third{
			width: 100%;
		}
		.tb-credits-form{
			.row-fluid{
				.span5{
					float: left;
					width: 40%;
				}
			}
		}
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; }
		
		td { 
			/* Behave  like a "row" */
	
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding: 8px 0 8px 50%;
			min-height: 22px;
			
			
		}
		
		td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		.tb-history-table{
			tr{
				td{
					width: auto;
					&:first-child{
						span{padding-left: 0};
					}
				}
			}
			td:nth-of-type(1):before { content: "Fecha"; }
			td:nth-of-type(2):before { content: "Número de pedido"; }
			td:nth-of-type(3):before { content: "Movimiento"; }
			td:nth-of-type(4):before { content: "Envío"; }
			td:nth-of-type(5):before { content: "Pagado con"; }
			td:nth-of-type(6):before { content: "Importe abonado"; }
			td:nth-of-type(7):before { content: "Importe acreditado"; }
			td:nth-of-type(8):before { content: "Estado"; }
		}
		
	}
	#buy-credits{
		margin-bottom: 20px;
		/*.tb-detail-box{
			min-height: 186px;
		}
		> .one-third{
			width: 31.3%;

		}
		
		h4{
			color: white;
			font-size: 18px;
			height: 22px;
			margin-bottom: 8px;
			padding: 5px;
		}
		*/
	}
	@include tb-size-medium{

		@include tb-credits-responsive;
	}
	@include tb-size-small{
		@include tb-credits-responsive;
	}
}
/*
#billing-data .form, .show-demand .form {
  margin: 0;
  overflow: hidden;
  padding: 0;
  background-color: inherit;
}
*/



.available-credits {
	font-family: 'Fjalla One',sans-serif;
	font-size: 31px;
	line-height: 41px;
}

.formError.inline{
	float: right;
	margin-right: 34px;
	top: -3px !important;
	width: 48.5%;
}
/*
#billing-data .form, .show-demand .form {
  margin: 0;
  overflow: hidden;
  padding: 0;
  background-color: inherit;
}

#billing-data .form .right {
  margin-right: 3%;
}

#billing-data .one > .one-half:last-child {
  margin-right: 0;
}
*/
/*
#buy-credits{
    margin-bottom: 20px;
    
    }
    .tb-detail-box{
       min-height: 186px;
    }
    
    > .one-third  form .right{
      margin-top: 20px;
    }
    
    #buy-credits > .one-third .white .title:first-child, .show-demand .one-half .white .title:first-child, .show-demand .one > .lightgrey.custom .title {
      margin-top: 0 !important;
    }
    
    .row-fluid input[type="radio"]{
      margin-top: 0;
    }

    .row-fluid {
      margin-top: 14px;
    }
  
     h4{
      color: white;
      font-size: 18px;
      height: 22px;
      margin-bottom: 8px;
      padding: 5px;
    }
}

.available-credits {
  font-family: 'Fjalla One',sans-serif;
  font-size: 31px;
  line-height: 41px;
}

.formError.inline{
  float: right;
  margin-right: 34px;
  top: -3px !important;
  width: 48.5%;
}
*/