- if @user.has_signed_in?
  %p
    Has publicado en ahorraenvios.com.

  %p
    Para finalizar la publicación deberás confirmar haciendo 
    = link_to 'click aquí', account_activation_url(@user.confirmation_token)

- else
  %p
    Bienvenido!

  %p
    Has publicado en ahorraenvios.com.

  %p
    Para finalizar el registro, deberás confirmar tu dirección de correo electrónico haciendo
    = link_to 'click aquí', account_activation_url(@user.confirmation_token)
