- if notifiable.kind_of? Budget
  - budget, demand = notifiable, notifiable.demand
  - demand_user = demand.user
  %p
    = "Felicitaciones! Tu presupuesto para el envío #{demand.description} ha sido aceptado."
    = link_to "Has click aquí para consultarlo.", budgets_url(status: "accepted", budget: budget, demand: demand)

  %p
    Información de contacto:
    %ul
      %li= "Usuario: #{demand_user.username}"
      %li= "Nombre: #{demand_user.full_name}"
      %li= "Email: #{demand_user.email}"
      %li= "Teléfono: #{demand_user.phone_number}"

  %p Una vez que realices el trabajo recuerda realizar tu valoración ya que es muy importante tanto para los usuarios como para los transportistas.

- else
  %p
    Recuerda valorar al transportista una vez realizado el envío.
    Tu valoración y opinión son muy importantes tanto para los usuarios como para los transportistas.
