- demand = notifiable.demand
%p
  = "Han modificado un presupuesto para tu envio #{demand.description}."
  = link_to "Has click aquí para consultarlo.", demands_url(demand: demand, budget: notifiable)