- demand = notifiable.demand
%p
  = "Han confirmado un presupuesto para tu envío #{demand.description}."
  = link_to "Has click aquí para consultarlo.", demands_url(demand: demand, budget: notifiable)