- demand = notifiable.demand
%p
  = "Han descartado tu presupuesto para el envío #{demand.description}."
  = link_to "Has click aquí para consultarlo.", budgets_url(status: "discarded", budget: notifiable, demand: demand)