%p
  Hoy caducan los siguientes presupuestos que has recibido:

%ul
  - notifiable.budgets_to_be_expired_at(Date.today).each do |budget|
    %li= "#{budget.amount} para tu envío #{notifiable.description}."