%p
  El usuario que ha publicado el envío
  = notifiable.demand_description
  ha recibido un presupuesto más barato que el tuyo.

%p
  Recuerda que puedes rebajar tu presupuesto para tener más opciones de que lo acepten.
