- deleted_notifications.each do |notification|
  = render "notification_row", notification: notification

= paginate deleted_notifications, params: {tab: "deleted", controller: "notifications", action: "index"}