- budget, demand = notifiable, notifiable.demand
%p
  = "Tienes un nuevo presupuesto para el envío #{demand.description}."
  = link_to "Has click aquí para consultarlo.", demands_url(budget: budget, demand: budget.demand)