- if notifiable.commentable_is_demand? || notifiable.commentable_is_budget?
  - if notifiable.commentable_is_demand?
    - demand = notifiable.commentable
  - elsif notifiable.commentable_is_budget?
    - demand = notifiable.commentable.demand
  %p
    Tienes una nueva consulta o comentario sobre el envío
    = "#{demand.description}."
    Has
    = link_to "click aquí", demand_url(demand)
    para leerla.
  %p
    Recuerda que todas las consultas y comentarios son públicos.
- else
  %p
    Tienes un nuevo comentario.
