- klass = (notification.read? || notification.deleted?) ? "read" : "unread"

%div{ id: notification.id }
  .tb-accordion-notify{ class: klass }
    .row-fluid
      - star_class = notification.prominent? ? "star-on" : "star-off"
      .span1
        = check_box_tag notification.id
        %span.star{ id: notification.id, class: star_class }
        = hidden_field "prominent", false
      .span3
        %span.bold
          - if notification.sender
            = notification.sender.username || notification.sender.full_name
          - else
            Usuario eliminado
      .span6
        = link_to notification.description, notification
      .span2
        = l notification.created_at, format: :short
