- prominent_notifications.each do |notification|
  = render "notification_row", notification: notification

= paginate prominent_notifications, params: {tab: "prominent", controller: "notifications", action: "index"}