%li{ class: (params[:tab].blank? || params[:tab] == "all") ? "active" : "" }
  %a{ href: "#all", 'data-toggle' => "tab"}
    Todas
%li{ class: (params[:tab] == "not_read") ? "active" : "" }
  %a{ href: "#not-read", 'data-toggle' => "tab"}
    No leídas
%li{ class: (params[:tab] == "prominent") ? "active" : "" }
  %a{ href: "#prominent", 'data-toggle' => "tab"}
    Destacadas
%li{ class: (params[:tab] == "deleted") ? "active" : "" }
  %a{ href: "#deleted", 'data-toggle' => "tab"}
    Eliminadas
