- not_read_notifications.each do |notification|
  = render "notification_row", notification: notification

= paginate not_read_notifications, params: {tab: "not_read", controller: "notifications", action: "index"}