.tb-notify-index
  .tb-navs-container
    %ul.nav.nav-tabs
      = render "status_tabs"

      .right.tb-notify-icons
        %span#delete
          = image_tag "notification/delete.png"

  .tab-content
    #all.tab-pane{ class: (params[:tab].blank? || params[:tab] == "all") ? "active" : "" }
      .dynamic-all
        = render "all"
    #not-read.tab-pane{ class: (params[:tab] == "not_read") ? "active" : "" }
      .dynamic-unread
        = render "unread"
    #prominent.tab-pane{ class: (params[:tab] == "prominent") ? "active" : "" }
      .dynamic-prominent
        = render "prominent"
    #deleted.tab-pane{ class: (params[:tab] == "deleted") ? "active" : "" }
      .dynamic-deleted
        = render "deleted"
