.tb-notify-show
  .tb-navs-container
    %ul.nav.nav-tabs
      = render "status_tabs"

      .right.tb-notify-icons
        %span
          = image_tag "notification/delete.png", id: "delete"
        %span
          - if next_notification
            = link_to notification_path(next_notification) do
              = image_tag "notification/siguiente.png", id: "next"
          - else
            = image_tag "notification/siguiente.png", id: "next"
        %span
          - if last_notification
            = link_to notification_path(last_notification) do
              = image_tag "notification/anterior.png", id: "last"
          - else
            = image_tag "notification/anterior.png", id: "last"
        %span
          = link_to notifications_path do
            = image_tag "notification/atras.png", id: "back"

  .tb-module-container.lightgrey.clear
    .row-fluid
      %h5.tb-notify-title
        - star_class = notification.prominent? ? "star-on" : "star-off"

        %span.star.tb-notify-star{ id: notification.id, class: star_class }
        = hidden_field "prominent", false

        %span
          = notification.description

      .tb-detail-box.bg-white.tb-notify-body
        .row-fluid
          .span10
            %span.bold.title
              = "Estimado #{notification.user.username}"
          .span2
            = l notification.created_at, format: :short

        .row-fluid
          .span12
            = render notification.partial, notifiable: notification.notifiable

            %p
              Te saluda cordialmente, el equipo de Ahorra Envíos.
            %p
              Si tienes alguna inquietud y deseas comunicarte con nosotros, escríbenos a contacto@ahorraenvios.com
