%h1 Presupuestos
%br

= form_for admin_budgets_path, html: {method: :get} do |f|
  = fields_for :budget do |budget|
    = budget.label :importe
    = budget.text_field :price, value: (params[:budget][:price] if params[:budget])

    = budget.label :status
    = budget.select :status, options_from_collection_for_select(Status::Budget.constants, :to_s, :to_s, (params[:budget][:status] if params[:budget])), include_blank: true

  = fields_for :user do |user|
    = user.label :username
    = user.text_field :username, value: (params[:user][:username] if params[:user])

  %h4 Fecha de creación
  = fields_for :dates do |dates|
    = dates.label :desde
    = dates.text_field :start, value: (params[:dates][:start] if params[:dates]), class: 'datepicker'

    = dates.label :hasta
    = dates.text_field :end, value: (params[:dates][:end] if params[:dates]), class: 'datepicker'

  = f.submit 'Buscar', class: 'btn btn-primary'
  = f.submit 'Exportar', class: 'btn btn-primary'

%table.table
  %tr
    %th Fecha
    %th Importe
    %th Estado
    %th Transportista
    %th Usuario

  - budgets.each do |budget|
    %tr
      %td= l budget.created_at.to_date
      %td= budget.price
      %td= budget.status
      %td= budget.user.username
      %td= budget.demand.user.username

= paginate budgets
