@import "../../variables";

.services {
	div {
		font-family: 'Fjalla One', sans-serif;
		padding: 15px 10px;
		text-align: center;
		color: #333;
		&:hover{
			background-color: $tb-orange;
			color: $tb-white;
			a{
				background-color:$tb-black;
			}
			
		}
		&.current{
			background-color: $tb-orange;
			color: white;
			&:hover i{
				background-color: $tb-orange;
				color: $tb-white;
			}
		}
	}
	img{
		display: block;
		margin-bottom: 20px;
	}
	h2 {
		font-size: 18px;
		line-height: 20px;
		text-transform: uppercase;
		margin: 0;
	}
	.update-counter{
		height: 20px;
		line-height: 20px;
		display: block;
		text-align: right;
		color: $tb-orange;
		font-size: 18px;
		padding: 0 5px;
		&.center{
			text-align: center;
			font-size: 14px;
		}

	}
	.current, div:hover{
		.update-counter{
			color: $tb-white;
		}
	}
}