= fields_for(user) do |u|
  = u.hidden_field :provider
  = u.hidden_field :uid

  .field
    = u.label :username
    %br
    = u.text_field :username
  .field
    = u.label :email
    %br
    = u.email_field :email
  .field
    = u.label :password
    %br
    = u.password_field :password
  .field
    = u.label :password_confirmation
    %br
    = u.password_field :password_confirmation
  .field
    = u.label :accept_use_conditions
    %br
    = u.check_box :accept_use_conditions
