%div
  = link_to "Provincias", kml_path(provinces_kml, format: "kml"), class: "button orange medium capitalize kml", id: "provinces"
  = link_to "Partidos de Buenos Aires", kml_path(ba_cities_kml, format: "kml"), class: "button orange medium capitalize kml", id: "ba_cities"
  = link_to "Zonas de GBA y CABA", kml_path(gba_zones_kml, format: "kml"), class: "button orange medium capitalize", id: "gba_zones"