.tb-coverage-area-form
  %hr
  = form_for [transporter, coverage_area] do |f|
    .container-fluid
      .row-fluid
        .span3
          .white
            %h5.title Categorías

          #categories.accordion
            - categories.each do |category|
              .accordion-body
                .tb-accordion-filter
                  %span.bold
                    = category.name
                  %button.right{ "type" => "button", "data-toggle" => "collapse", "data-target" => "##{category.id}", "id" => "button-#{category.id}", "data-parent" => "#categories" }
                    &nbsp;

                - matches = category.children.select { |child| coverage_area.category_ids.include?(child.id) }
                .accordion-body.collapse{ id: "#{category.id}", class: (matches.any?) ? "in" : "" }
                  .form.tb-filter-box.bg-white
                    - category.children.each do |child|
                      .control-group
                        = check_box_tag "coverage_area[category_ids][]", child.id, coverage_area.category_ids.include?(child.id), id: dom_id(child)
                        = label_tag dom_id(child), child.name, class: "control-label custom-checkbox"
        .span9
          .tb-accordion-title.orange.clear
            %h5.title
              %span.black 3.
              %span.white= title

          .tb-module-container.lightgrey.clear

            - if flash[:coverage_area_errors] && flash[:coverage_area_errors].any?
              #error_explanation.tb-module-container
                %h6.bold= "No se pudo crear el ambito de cobertura, verifique los siguientes errores:"
                %ul
                  - flash[:coverage_area_errors].full_messages.each do |msg|
                    %li= msg

                  - [:coverage_area_errors, :coverage_area].each do |key|
                    - flash.delete key

            #coverage-area.form.tb-detail-box.bg-white
              %p Para definir un ámbito de cobertura debe primero asignarle una descripción, luego debe seleccionar las zonas predefinidas y los servicios que brindara en dichas zonas. Por ultimo elija el tipo de notificación que desea.

              .control-group
                = f.label :description, class: "control-label bold"
                = f.text_field :description


            #coverage-area.form.tb-detail-box.bg-white


              %h5.title Selección de zonas

              .tb-module-row
                #map_canvas{style: "height:500px; width:auto"}

              = render 'area_links'

            #coverage-area.form.tb-detail-box.bg-white
              %h5.title Notificaciones

              - if (company.address && company.state) && (company.address && company.city)

                .control-group
                  = f.check_box :accepts_notifications_from_state_to_area
                  = label_tag "coverage_area_accepts_notifications_from_state_to_area", "Quiero que me notifiquen los envíos desde #{company.state} hasta este ámbito de cobertura", class: "control-label notification custom-checkbox"
                .control-group
                  = f.check_box :accepts_notifications_from_city_to_area
                  = label_tag "coverage_area_accepts_notifications_from_city_to_area", "Quiero que me notifiquen los envíos desde #{company.city} hasta este ámbito de cobertura", class: "control-label notification custom-checkbox"
                .control-group
                  = f.check_box :accepts_notifications_from_area_to_state
                  = label_tag "coverage_area_accepts_notifications_from_area_to_state", "Quiero que me notifiquen los envíos desde este ámbito de cobertura hasta #{company.state}", class: "control-label notification custom-checkbox"
                .control-group
                  = f.check_box :accepts_notifications_from_area_to_city
                  = label_tag "coverage_area_accepts_notifications_from_area_to_city", "Quiero que me notifiquen los envíos desde este ámbito de cobertura hasta #{company.city}", class: "control-label notification custom-checkbox"


              - else

                %p
                  Para poder editar tus notificaciones debes especificar una provincia y una ciudad de origen.

            #coverage_area.buttons
              .right
                = f.submit 'Guardar', class: 'button orange large'
                = link_to 'Cancelar', edit_transporter_path(transporter), class: 'button orange large', type: "button"

            #selected-areas
              #preselected-areas
                - coverage_area.addresses.each do |address|
                  - if address.administrative_area
                    = hidden_field_tag "administrative_area", address.administrative_area
                  - elsif address.state
                    = hidden_field_tag "state", address.state
