.tb-coverage-area-index
  .tb-accordion-title.orange.clear
    %h5.title
      %span.black 3.
      %span.white Ámbitos de cobertura

  .tb-module-container.lightgrey.clear#coverage-areas
    .tb-detail-box.bg-white.tb-small-text
      
      %p Si quiere que le notifiquemos por mail aquellos envíos que se ajusten a sus intereses, debe definir el ámbito de cobertura para cada servicio que ofrece su empresa
      
    .tb-module-row
      - coverage_areas.each do |coverage_area|
        .tb-coverage-area-row.clear
          %span.bold= coverage_area.description
          .right
            = link_to "Ver", transporter_coverage_area_path(current_user.role, coverage_area), class: "button small white"
            = link_to "Modificar", edit_transporter_coverage_area_path(current_user.role, coverage_area), class: "button small white"
            = link_to "Eliminar", transporter_coverage_area_path(current_user.role, coverage_area), method: :delete, data: { confirm: 'Está seguro?' }, class: 'button small white'
        
    = link_to 'Nuevo Ámbito de Cobertura', new_transporter_coverage_area_path(current_user.role), class: 'button medium orange capitalize right'



  /
    %table.table.coverage-areas-table
      - coverage_areas.each do |coverage_area|
        %tr
          %td
            %span.bold= coverage_area.description
            .right
              = link_to "Ver", transporter_coverage_area_path(current_user.role, coverage_area), class: "button small white"
              = link_to "Modificar", edit_transporter_coverage_area_path(current_user.role, coverage_area), class: "button small white"
              = link_to "Eliminar", transporter_coverage_area_path(current_user.role, coverage_area), method: :delete, data: { confirm: 'Está seguro?' }, class: 'button small white'

   
