.tb-coverage-area-show
  %hr
  .tb-accordion-title.orange.clear
    %h5.title
      %span.white= coverage_area.description
  .tb-module-container.lightgrey.clear.tb-small-text
    .tb-module-row
      #coverage-area.form.tb-detail-box.bg-white
        %h5.title Selección de zonas
        .tb-module-row
          #map_canvas{style: "height:500px; width:auto"}

        = render 'area_links'

    .tb-module-row
      #coverage-area.form.tb-detail-box.bg-white
        %h5.title Categorías

        %ul.unstyled
          - coverage_area.categories.each do |category|
            %li= father_and_children_categories(category)

    .tb-module-row
      #coverage-area.form.tb-detail-box.bg-white
        %h5.title Notificaciones

        - if (company.address && company.state) && (company.address && company.city)
          %ul.unstyled
            %li
              ="Quiero que me notifiquen los envíos desde #{company.state} hasta este ámbito de cobertura"
              %i{ class: icon_ok_or_not(coverage_area.accepts_notifications_from_state_to_area) }

            %li
              ="Quiero que me notifiquen los envíos desde #{company.city} hasta este ámbito de cobertura"
              %i{ class: icon_ok_or_not(coverage_area.accepts_notifications_from_city_to_area) }

            %li
              ="Quiero que me notifiquen los envíos desde este ámbito de cobertura hasta #{company.state}"
              %i{ class: icon_ok_or_not(coverage_area.accepts_notifications_from_area_to_state) }

            %li
              = "Quiero que me notifiquen los envíos desde este ámbito de cobertura hasta #{company.city}"
              %i{ class: icon_ok_or_not(coverage_area.accepts_notifications_from_area_to_city) }

        - else

          %p
            Para poder editar tus notificaciones debes especificar una provincia y una ciudad de origen.

          = link_to "Editar Compañía", edit_transporter_path(transporter), class: "button medium orange capitalize"



    #coverage_area.buttons
      .right
        = link_to 'Atrás', edit_transporter_path(current_user.role) ,class: 'button orange large', type: "button"

    #selected-areas
      #preselected-areas
        - coverage_area.addresses.each do |address|
          - if address.administrative_area
            = hidden_field_tag "administrative_area", address.administrative_area
          - elsif address.state
            = hidden_field_tag "state", address.state
