<div class="tb-devise-password-edit">	
	<h5>Cambio de contraseña</h5>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
	  <%= devise_error_messages! %>
	  <%= f.hidden_field :reset_password_token %>

	  <div class="clear"><%= f.label :password, "Nueva contraseña" %>
	  <%= f.password_field :password %></div>

	  <div class="clear"><%= f.label :password_confirmation, "Confirmar nueva contraseña" %>
	  <%= f.password_field :password_confirmation %></div>

	  <div class="clear"><%= f.submit "Cambiar mi contraseña" %></div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>