<div class="tb-devise-password-new">
	<h5 class="title" >Olvido su contraseña?</h5>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="clear"><%= f.label :email %>
	  <%= f.email_field :email %></div>

	  <div class="clear"><%= f.submit "Enviarme instrucciones" , class: 'button medium orange' %></div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>