%h2 Usuario o transportista?

= link_to "<i class='icon-user'></i> Usuario".html_safe, user_registration_path(commit: 'client'), method: :post, class: 'button orange large'
= link_to "<i class='icon-truck'></i> Transportista".html_safe, user_registration_path(commit: 'transporter'), method: :post, class: 'button orange large'
