

#map_canvas

= form_for polygon do |f|
  - if polygon.errors.any?
    #error_explanation
      %h6.bold= "#{pluralize(polygon.errors.count, "error")} prohibited this polygon from being saved:"
      %ul
        - polygon.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    = f.text_field :description

  - if points && points.any?
    #points
      - points.each do |p|
        %input{type: "hidden", value: "#{p.latitude},#{p.longitude}"}

  %br
  .actions
    = f.submit 'Guardar polígono', class: "btn btn-primary"
