%legend Lista de polígonos

%table.table
  %tr
    %th Description
    %th
    %th
    %th

  - polygons.each do |polygon|
    %tr
      %td= polygon.description
      %td= link_to 'Mostrar', polygon
      %td= link_to 'Editar', edit_polygon_path(polygon)
      %td= link_to 'Borrar', polygon, method: :delete, data: { confirm: 'Está seguro?' }

%br

= link_to 'Nuevo polígono', new_polygon_path, class: "btn btn-primary"
