= fields_for(user) do |u|
  .field
  = u.label :name
  %br
  = u.text_field :name
  .field
  = u.label :surname
  %br
  = u.text_field :surname
  .field
  = u.label :phone_number
  %br
  = u.text_field :phone_number