= form_for(client) do |f|
  - if client.errors.any? || user.errors.any?
    #error_explanation
      %h6.bold
        = "#{pluralize(client.errors.count + user.errors.count, "error")} prohibited this client from being saved:"
      %ul
        - client.errors.full_messages.each do |msg|
          %li
            = msg
        - user.errors.full_messages.each do |msg|
          %li
            = msg

  - if current_user
    = render 'fields', form: f
  - else
    = render 'users/form_fields_for'

  .actions
    = f.submit class: "btn btn-primary"
