.tb-clients-update-account 
  .one-half
    = form_for(client, html: {class: 'form   tb-detail-box  bg-white ', id: "client-form"}) do |f|

      %h5.title
        Actualizar cuenta

      - if client.errors.any? || user.errors.any?
        #error_explanation
          %h5
            = "Hay errores que no permiten actualizar la cuenta."
          %ul
            - client.errors.full_messages.each do |msg|
              %li
                = msg
            - user.errors.full_messages.each do |msg|
              %li
                = msg

      = fields_for(user) do |u|
        = u.hidden_field :current_password, value: "undefined"
        .control-group
          = u.label :email, class: "control-label"
          %span#asterix.orange-text *
          = u.email_field :email, class: 'validate[required]'
        .control-group
          = u.label :username, class: "control-label"
          %span#asterix.orange-text *
          = u.text_field :username, class: 'validate[required]'
        .control-group
          = u.label :name, class: "control-label"
          %span#asterix.orange-text *
          = u.text_field :name, class: 'validate[required]'
        .control-group
          = u.label :surname, class: "control-label"
          %span#asterix.orange-text *
          = u.text_field :surname, class: 'validate[required]'
        .control-group
          = u.label :phone_number, class: "control-label"
          = u.text_field :phone_number

        %p.tb-input-lead Si informás tu teléfono, cuando aceptes un presupuesto, el transportista podrá llamarte para concretar. No olvides el prefijo de la zona en que vives. 

        .control-group.tb-form-conditions
          = u.check_box :receive_email_alerts
          = u.label :receive_email_alerts, class: "custom-checkbox inline"
         
      .control-group.text-align-right.tb-submit-button
        = f.submit "Actualizar", class: "button medium orange capitalize"
