#update-password.one-half.last.tb-update-password
  = form_for(client, html: {class: 'form   tb-detail-box  bg-white'}) do |f|

    %h5.title
      Cambiar contraseña

    - if client.errors.any? || user.errors.any?
      #error_explanation
        %h5
          = "Hay errores que no permiten cambiar la contraseña:"
        %ul
          - client.errors.full_messages.each do |msg|
            %li
              = msg
          - user.errors.full_messages.each do |msg|
            %li
              = msg

    = fields_for(user) do |u|
      .control-group
        = u.label "Contraseña actual", class: "control-label"
        %span#asterix.orange-text *
        = u.password_field :current_password
      .control-group
        = u.label "Nueva contraseña", class: "control-label"
        %span#asterix.orange-text *
        = u.password_field :password
      .control-group
        = u.label "Confirmar la nueva contraseña", class: "control-label"
        %span#asterix.orange-text *
        = u.password_field :password_confirmation

    .control-group.text-align-right.tb-submit-button
      = f.submit "Cambiar contraseña", class: "button medium orange capitalize"
