.tb-accordion-title.orange.clear
  %h5.title
    %span.black 1.
    %span.white Cuenta

.tb-module-container.lightgrey.clear
  - ["account", "password"].each do |partial|
    = render "update_#{partial}", client: client, user: user

  .one-half.last
    .form.text-align-center
      = link_to "Ver mi perfil publico", client, class: "button large orange"
      = link_to "Cancelar cuenta", registration_path(current_user), confirm: "Esta seguro que desea eliminar su cuenta?", method: :delete, class: "button large orange"

