.tb-clients-show

  .row-fluid
    .span6
      %h3.title= client.username.upcase if client.username
    .span4
      %span.registered-at="Registrado el #{client.created_at.strftime("%d-%m-%Y")}"
    .span2
      = stars(client.total_rating, client.received_ratings.size)

  .tb-module-container.lightgrey.clear.tb-profile
    .tb-module-row.clear

      //Primer tercio
      .one-third-profile
        %h5.tb-profile-title.title.text-align-center.orange
          = image_tag "public_profile/valorations.png"
          %span.white
            Valoraciones

        .one-third
          .tb-profile-box.bg-white.text-align-center
            %h3.title.orange-text
              = positive_ratings.size
            Positivas
        .one-third
          .tb-profile-box.bg-white.text-align-center
            %h3.title.orange-text
              = neutral_ratings.size
            Neutras
        .one-third.last
          .tb-profile-box.bg-white.text-align-center
            %h3.title.orange-text
              = negative_ratings.size
            Negativas

      //segundo tercio
      .one-third-profile
        %h5.tb-profile-title.title.text-align-center.orange
          = image_tag "public_profile/demands.png"
          %span.white
            Envíos

        .one-third
          .tb-profile-box.bg-white.text-align-center
            %h3.title.orange-text
              = all_demands.count
            Publicados
        .one-third
          .tb-profile-box.bg-white.text-align-center
            %h3.title.orange-text
              = active_demands.count
            Activos
        .one-third.last
          .tb-profile-box.bg-white.text-align-center
            %h3.title.orange-text
              = discarded_demands.count
            No efectuados


      //ultimo tercio
      .one-third-profile-last.last
        %h5.tb-profile-title.title.text-align-center.orange
          = image_tag "public_profile/budgets.png"
          %span.white
            Presupuestos


        .tb-profile-box.bg-white.text-align-center
          %h3.title.orange-text
            = accepted_budgets.count
          Aceptados


    .tb-module-row.clear
      .comments
        %h5.tb-profile-title.title.text-align-center.orange
          = image_tag "public_profile/comments.png"
          %span.white
            Comentarios recibidos

        %table.one-profile-white.tb-clients-comment-table
          %thead
            %th.first
              %h5.title
                Transportista
            %th
              %h5.title
                Comentario
            %th
              %h5.title
                Fecha
            %th
              %h5.title
                Envío
          %tbody
            - client.received_ratings.each do |rating|
              %tr
                %td.first
                  - if rating.owner
                    %b.orange-text= link_to rating.owner.username, rating.owner.role
                  - else
                    %b Usuario eliminado
                %td
                  = rating.comment
                %td
                  = rating.created_at.strftime("%d-%m-%Y")
                %td
                  = rating.budget.demand.description if rating.budget and rating.budget.demand

    .tb-module-row.clear
      .comments
        %h5.tb-profile-title.title.text-align-center.orange
          = image_tag "public_profile/active-demands.png"
          %span.white
            Envíos Activos

      %table.one-profile-white.last.tb-clients-demands-table
        %thead
          %th.first
            %h5.title
              Descripción
          %th.tb-profile-quantity
            %h5.title
              Cant. presup.
          %th
            %h5.title
              Origen
          %th
            %h5.title
              Destino
          %th
            %h5.title
              Caduca el
          %tbody
          - active_demands.each do |demand|
            %tr
              %td.first
                %b.orange-text= link_to demand.description, demand
              %td.tb-profile-quantity
                = demand.budgets.count
              %td
                = demand.origin.city
              %td
                = demand.destiny.city
              %td
                - date = demand.expiration_date
                = "#{date.day} - #{date.month} - #{date.year}"
