= render partial: '/categories/generic'

= fields_for :demand do |form|
  = form.fields_for :data do |form|
    .one-half
      .form.tb-detail-box.bg-white.tb-pets
        %h5.title Mascotas

        .control-group
          = form.label :raza, class: "control-label"
          = form.text_field :breed, value: demand.parsed_data['breed']
        .control-group
          = form.label :peso, class: "control-label"
          = form.text_field :weight, value: demand.parsed_data['weight']
        .control-group
          = form.check_box :cage, {checked: demand.parsed_data['cage'] == 'Si'}, checked_value = "Si", unchecked_value = "No"
          = form.label :cage, t('helpers.label.demand.cage'), class: "control-label custom-checkbox"


  .one-half.last
    .tb-dimmensions.tb-detail-box.bg-white
      .form
        %h5.title Dimensiones aproximadas

        .control-group
          = form.label 'Largo', class: "control-label"
          = form.text_field :depth, value: demand.depth
          = form.select :depth_unit, %w(cm m ft in), selected: demand.depth_unit
        .control-group
          = form.label 'Ancho', class: "control-label"
          = form.text_field :width, value: demand.width
          = form.select :width_unit, %w(cm m ft in), selected: demand.width_unit
        .control-group
          = form.label 'Alto', class: "control-label"
          = form.text_field :height, value: demand.height
          = form.select :height_unit, %w(cm m ft in), selected: demand.height_unit
