= render partial: '/categories/generic'

= fields_for :demand do |form|
  = form.fields_for :data do |form|
    .one-half
      .form.tb-detail-box.bg-white.tb-pets
        %h5.title Ganado
        .control-group
          = form.select :type, ["bovino", "ovino", "porcino", "aves"],  {prompt: 'Tipo', selected: demand.parsed_data['type'] }, {class: "input-full-width"}
        .control-group
          = form.label :number_of_cages, t('helpers.label.demand.number_of_cages'), class: "control-label"
          = form.number_field :number_of_cages, value: demand.parsed_data['number_of_cages']
        .control-group
          = form.label :peso, class: "control-label"
          = form.text_field :weight, value: demand.parsed_data['weight']          
