#accomplished.tab-pane.tb-active-demands.lightgrey{ class: (params[:status] == 'accomplished') ? 'active' : nil }
  - accomplished_demands.each do |demand|

    //Titulo acordion
    .tb-accordion-demand
      - if demand.has_new_comments?(current_user) || demand.has_new_budgets?
        %span.tb-accordion-iconbox !
      %span.tb-accordion-demand-title
        %span.tb-demand-title-text= demand.description.truncate(20)
      %span.tb-accordion-demand-date= demand.expiration_date.strftime("%d/%m/%Y") if demand.expiration_date
      %span.tb-accordion-demand-info
        Origen:
        = demand.origin.to_s(:short) if demand.origin
      %span.tb-accordion-demand-info
        Destino:
        = demand.destiny.to_s(:short) if demand.destiny

      .right.tb-accordion-demand-btns
        - if current_user.has_role? :user
          = link_to 'Ver', demand, class: "button small white"

          %button{ "type" => "button", "data-toggle" => "collapse", "data-target" => "##{dom_id(demand)}", "id" => "button-demand_#{demand.id}" }
            &nbsp;

    - if demand.accepted_budget
      - accepted_budget = demand.accepted_budget

      //Cuerpo del acordion
      .accordion-body.collapse{ id: dom_id(demand), class: accordion_class(params[:demand], demand.id), style: accordion_style(params[:demand], demand.id) }
        .tb-accordion-budget.clear{ class: budget_class(accepted_budget) }
          .one-half
            %span.tb-accordion-budget-price= number_to_currency accepted_budget.price, precision: 0
            %span.tb-accordion-budget-rating= stars(accepted_budget.transporter.total_rating, accepted_budget.transporter.received_ratings.size)

          .one-half.last
            .tb-accordion-budget-state
              - if accepted_budget.has_new_comments?(current_user)
                %span.tb-accordion-iconbox= accepted_budget.new_comments(current_user).size

              %span= budget_status_label(accepted_budget, current_user)
              %button{ "type" => "button", "data-toggle" => "collapse", "data-target" => "##{dom_id(accepted_budget)}", "id" => "button-budget_#{accepted_budget.id}" }
                &nbsp;
        .accordion-body.collapse{ id: dom_id(accepted_budget), class: accordion_class(params[:budget], demand.accepted_budget.id), style: accordion_style(params[:budget], demand.accepted_budget.id) }
          = render partial: 'transporter', locals: { demand: demand, budget: accepted_budget, transporter: accepted_budget.transporter, rating: nil}

  = paginate accomplished_demands, params: {status: "accomplished"}
