#actives.tb-active-demands.lightgrey.tab-pane{ class: (params[:status].nil? || params[:status] == "active") ? 'active' : nil }
  - active_demands.each do |demand|
    //Titulo de acordion
    .tb-accordion-demand
      - if demand.has_new_comments?(current_user) || demand.has_new_budgets?
        %span.tb-accordion-iconbox !
      %span.tb-accordion-demand-title
        %span.tb-demand-title-text= demand.description.truncate(20)
        %span.orange-text.tb-accordion-demand-number.bold
          = "(#{demand.active_budgets.size})"

      %span.tb-accordion-demand-date= demand.expiration_date.strftime("%d/%m/%Y") if demand.expiration_date

      %span.tb-accordion-demand-info
        Origen:
        = demand.origin.to_s(:short) if demand.origin

      %span.tb-accordion-demand-info
        Destino:
        = demand.destiny.to_s(:short) if demand.destiny

      .right.tb-accordion-demand-btns
        - if current_user.has_role? :user
          = link_to 'Ver', demand, class: "button small white"
          = link_to 'Modificar', edit_demand_path(demand), class: "button small white"
          = link_to 'Cancelar',  discard_demand_path(demand), class: "button small white", confirm: "Esta seguro?"

          - if demand.active_budgets.size > 0
            %button{ "type" => "button", "data-toggle" => "collapse", "data-target" => "##{dom_id(demand)}", "id" => "button-demand_#{demand.id}" }
              &nbsp;

        - elsif current_user.has_role? :transporter
          = link_to 'Ver', demand, class: "button small white"
          = link_to 'Presupuestar', new_demand_budget_path(demand), class: "button small white"

    //Cuerpo de acordion
    .tb-accordion-demand-body.collapse{ id: dom_id(demand), class: accordion_class(params[:demand], demand.id), style: accordion_style(params[:demand], demand.id) }
      - demand.active_budgets.each do |budget|
        .clear
          .tb-accordion-budget.clear{ class: budget_class(budget) }
            .one-third
              %span.tb-accordion-budget-price= number_to_currency budget.price, precision: 0
              %span.tb-accordion-budget-rating
                - if budget.transporter.received_ratings.empty?
                  Transportista nuevo
                - else
                  = stars(budget.transporter.total_rating, budget.transporter.received_ratings.size)
            .one-third
              %span.tb-accordion-budget-date= "Valido hasta #{budget.expiration_date.strftime("%d/%m/%Y")}" if budget.expiration_date
            .one-third.last
              .tb-accordion-budget-state
                - if budget.has_new_comments?(current_user)
                  %span.tb-accordion-iconbox= budget.new_comments(current_user).size

                %span= budget_status_label(budget, current_user)
                %button{ "type" => "button", "data-toggle" => "collapse", "data-target" => "##{dom_id(budget)}", "id" => "button-budget_#{budget.id}", "class" => "budget-button" }
                  &nbsp;
          .accordion-body.collapse.budget-info{ id: dom_id(budget), class: "#{budget_class_by_status(budget)} #{accordion_class(params[:budget], budget.id)}", style: accordion_style(params[:budget], budget.id) }
            = render partial: 'transporter', locals: { demand: demand, budget: budget, transporter: budget.transporter, rating: nil }

  = paginate active_demands, params: {status: "active"}
