#discarded.tab-pane{ class: (params[:status] == 'discarded') ? 'active' : nil }
  - discarded_demands.each do |demand|

    //Titulo de acordion
    .tb-accordion-demand
      - if demand.has_new_comments?(current_user) || demand.has_new_budgets?
        %span.tb-accordion-iconbox !
      %span.tb-accordion-demand-title
        %span.tb-demand-title-text= demand.description.truncate(20)
      %span.tb-accordion-demand-date= demand.expiration_date.strftime("%d/%m/%Y") if demand.expiration_date
      
      %span.tb-accordion-demand-info
        Origen:
        = demand.origin.to_s(:short) if demand.origin
     
      %span.tb-accordion-demand-info
        Destino:
        = demand.destiny.to_s(:short) if demand.destiny

      .right.tb-accordion-demand-btns
        = link_to 'Ver', demand, class: "button small white"

  = paginate discarded_demands, params: {status: "discarded"}
