.tb-demands-form

  .tabbable.tabs-left
    - if demand.new_record?
      %ul.nav-tabs.categories
        - Category.roots.order("categories.order ASC").each do |category|
          %li{class: (category.name == 'Mudanzas' ? 'active' : '')}
            %a{ 'data-toggle' => "tab", 'href' => "##{category.id}"}
              = category.name
    - else
      .tb-module-header
        %h5.title.orange-text
          = demand.category.parent
          %span.black  >
          = demand.category
    .tab-content.lightgrey
      - if demand.new_record?
        - Category.roots.each do |category|
          .tab-pane{class: (category.name == 'Mudanzas' ? 'active' : ''), id: category.id}
            - category.children.order("categories.order ASC").each do |subcategory|
              = link_to subcategory.name, category_path(subcategory), remote: true, class: "button small #{subcategory.id == @category.id ? 'orange' : 'white'} category-trigger", id: "category-#{subcategory.id}"

      = form_for demand, html: {class: ' ', id: 'demand-form'} do |f|

        - if demand.errors.any?
          #error_explanation.tb-module-container
            %h6.bold= "No se pudo crear el envío, verifique los siguientes errores:"
            %ul
              - demand.errors.full_messages.each do |msg|
                %li= msg

        //Titulo acordion
        .tb-accordion-title.orange.clear
          %h5.title
            1.
            %span.white Detalles del envío

            %span.right.white.accordion-button
              %i.icon-minus.accordion-button

        //Bloque del acordion
        .tb-module-container.clear
          .tb-module-row.clear.sub-categories
            - if @category
              = hidden_field_tag :parent_category,  @category.parent.id if @category.parent

              = render template: "categories/#{"#{@category.parent.normalized_name}/" if @category.parent}#{@category.normalized_name}", locals: {form: f}

          //Nueva fila
          .tb-module-row.clear
            .one-half
              .form.bg-white.tb-detail-box
                %h5.title
                  Imagenes

                #image-form
                  .field
                    = fields_for :image do |image_form|
                      %span.fileinput-button.thumbnail
                        = image_form.file_field :image

                  .fotos
                    - demand.images.each do |image|
                      = render image
            .one-half.last
              .tb-dimmensions
                .form.tb-detail-box
                  = check_box_tag :meli
                  = label_tag :meli, "Este articulo es de MercadoLibre?", class: "control-label custom-checkbox"

                  #meli-box{style: "display:none;"}
                    .control-group
                      = label_tag 'Número artículo', nil, class: "control-label"
                      = text_field_tag :meli_item_id

                    %button{type: "button", id: "meli-button", class: "button medium orange", autocomplete: 'off', "data-loading-text" => "Importando..."}
                      Importar detalles
                  .tb-module-row.clear
                    %h5.title Descripción
                    = f.text_area :description, :rows => 1

                  %h5.title Detalles adicionales
                  = f.text_area :detail, :rows => 3

        //Titulo acordion
        .tb-accordion-title.orange.clear
          %h5.title
            2.
            %span.white Servicios extras

            %span.right.white.accordion-button
              %i.icon-plus

        //Bloque del acordion
        .tb-module-container.clear{style: 'display:none;'}
          - slices = extra_services.each_slice(extra_services.size / 2 + extra_services.size % 2)
          - slices.each do |extra_services_slice|
            .one-half{class: "#{extra_services_slice != slices.first ? 'last' : '' }"}
              .form.tb-demands-extra-services.tb-detail-box.tb-checkbox-list
                - extra_services_slice.each do |extra_service|
                  .control-group
                    = check_box_tag "demand[extra_service_ids][]", extra_service.id, demand.extra_services.include?(extra_service), id: dom_id(extra_service)
                    = label_tag dom_id(extra_service), extra_service.description, class: "control-label custom-checkbox"

        //Titulo acordion
        .tb-accordion-title.orange.clear
          %h5.title
            3.
            %span.white Información del origen y destino
            %span.right.white.accordion-button
              %i.icon-plus.accordion-button

        /Bloque del acordion
        #demand-form-map-container.tb-module-container.clear.lightgrey

          //Nueva fila
          .tb-module-row.clear
            .one-half
              .form.tb-detail-box
                %h5.title Información de origen
                = f.fields_for :origin do |origin_form|
                  = render 'addresses/form', {:form => origin_form}

                = f.fields_for :origin_information do |origin_information_form|
                  = render 'location_informations/form', {form: origin_information_form, date_ranges: ["Retirar el día", "Retirar antes del día", "Retirar después del día", "Retirar entre los días"]}

            .one-half.last
              .form.tb-detail-box
                %h5.title Información de destino
                = f.fields_for :destiny do |destiny_form|
                  = render 'addresses/form', {:form => destiny_form}

                = f.fields_for :destiny_information do |destiny_information_form|
                  = render 'location_informations/form', {form: destiny_information_form, date_ranges: ["Entregar el día", "Entregar antes del día", "Entregar después del día", "Entregar entre los días"]}

              = f.hidden_field :distance
              = f.hidden_field :status

          //Nueva fila
          .tb-module-row.clear
            .map-container
              #genius-map{style: 'height: 400px;'}
              .distance

          //Nueva fila
          .tb-module-row.clear
            .one-half
              .form.tb-detail-box
                .control-group
                  .tb-datepicker-expiration
                    = f.label 'Recibir presupuestos hasta el:'
                    .datepicker-field
                      - unless f.object.budget_hosting_expiration_date.nil?
                        = f.text_field :budget_hosting_expiration_date, value: l(f.object.budget_hosting_expiration_date), class: 'datepicker'
                      - else
                        = f.text_field :budget_hosting_expiration_date, class: 'datepicker'
                    %label#expiration_notification
            .one-half.last
              .tb-demands-submit-btn
                = f.submit 'Publicar Envio', class: 'button large orange'
