.form.bg-white.tb-detail-box
  %h5.title
    Imagenes

  #image-form
    .field
      = fields_for :image do |image_form|
        %span.fileinput-button.thumbnail
          = image_form.file_field :image


    .fotos
      - demand.images.each do |image|
        = render image
