.tb-module-container.lightgrey.clear
  .one-half
    .form.tb-detail-box.bg-white
      %h5.title Información de contacto

      %p= transporter.user.full_name
      %p= transporter.company.phone_number
      %p= transporter.email
      %p.text-align-right.right
        - if transporter.company and transporter.company.image
          = link_to image_tag(transporter.company.image.icon), transporter.company.image.to_s, class: 'colorbox-gallery'

      = link_to "Ver Perfil", transporter, class: 'button medium orange capitalize'

      %hr

      .field.tb-transporter-detail
        %span.bold
          Empresa:
        = transporter.company.name
      .field.tb-transporter-detail
        %span.bold
          Tipo de empresa:
        = transporter.company.company_type
      .field.tb-transporter-detail
        %span.bold
          Forma de pago:
        = transporter.company.payment_methods.map { |payment_method| payment_method.name }.join(" - ")

      .field.tb-transporter-detail
        %span.bold
          Condiciones de pago:
        = transporter.company.payment_conditions.map { |payment_condition| payment_condition.name }.join(" - ")

      .field.tb-transporter-detail
        %span.bold
          Seguro:
        = transporter.company.license_and_insurance

  .one-half.last
    .tb-module-row
      .form.tb-detail-box.bg-white
        %h5.title
          Observaciones
          %span.orange-text=  "(#{budget.comments.size})"

        .tb-comment-box
          .tb-comments#tb-comments
            - budget.comments.each do |comment|
              .comment{class: (comment.user.transporter? ? '' : 'orange-text'), id: comment.unread? ? comment.id : "" }
                %span.bold= comment.user.transporter? ? 'T:' : 'U:'
                = comment.message

          - unless rating
            = form_for [budget, Comment.new] do |f|
              = f.text_field :message, placeholder: 'Escriba aca su mensaje'
              = f.submit 'Enviar Respuesta', :class => 'button medium orange capitalize'

    - if rating
      = form_for rating do |f|
        .tb-module-row
          .form.tb-detail-box.bg-white
            %h5.title
              Valoración

              %span.rating-face.negative-face -1
              %span.rating-face.neutral-face 0
              %span.rating-face.positive-face 1

            = f.hidden_field :points
            = f.text_area :comment, placeholder: 'Escriba aca su comentario'

        .right= f.submit 'GUARDAR', class: 'button medium orange'

    - if budget.active? && !budget.cancelled?
      .buttons-group.text-align-center
        = link_to 'Aceptar Presupuesto', accept_demand_budget_path(demand, budget), class: "button large orange"
        = link_to 'Descartar Presupuesto', discard_demand_budget_path(demand, budget), class: "button large orange"
