.tb-navs-container
  %ul.nav.nav-tabs
    %li{ class: (params[:status].nil? || params[:status] == "active") ? 'active' : nil }
      %a{ href: "#actives", 'data-toggle' => "tab"}
        Activos
    %li{ class: (params[:status] == 'accomplished') ? 'active' : nil }
      %a{ href: "#accomplished", 'data-toggle' => "tab"}
        Realizados
    %li{ class: (params[:status] == 'discarded') ? 'active' : nil }
      %a{ href: "#discarded", 'data-toggle' => "tab"}
        Descartados

.tab-content
  = render "active_demands", active_demands: active_demands
  = render "accomplished_demands", accomplished_demands: accomplished_demands
  = render "discarded_demands", discarded_demands: discarded_demands
