.tb-demands-form.lightgrey
  = form_for demand, url: demands_path do |f|
    = hidden_field_tag "demand[provider]", provider
    - if demand.errors.any?
      #error_explanation.tb-module-container
        %h6.bold= "No se pudo crear el envío, verifique los siguientes errores:"
        %ul
          - demand.errors.full_messages.each do |msg|
            %li= msg

    .tb-module-container
      .tb-module-row
        .one-half
          .form.bg-white.tb-detail-box
            = select_tag "categories", options_from_collection_for_select(categories, "id", "name"), prompt: "¿Qué deseas enviar?", class: "input-full-width tb-module-row"

            = f.fields_for :origin, Address.new do |origin_form|
              = origin_form.label "Origen"
              = origin_form.text_field :street_line2, class: 'input-full-width'

              = origin_form.hidden_field :city
              = origin_form.hidden_field :country
              = origin_form.hidden_field :state
              = origin_form.hidden_field :street_line1
              = origin_form.hidden_field :administrative_area
              = origin_form.hidden_field :neighborhood
              = origin_form.hidden_field :latitude
              = origin_form.hidden_field :longitude


        .one-half.last
          .form.bg-white.tb-detail-box
            = select_tag "demand[category]", nil, prompt: "Seleccionar una subcategoría", class: "input-full-width tb-module-row"

            = f.fields_for :destiny, Address.new do |destiny_form|
              = destiny_form.label "Destino"
              = destiny_form.text_field :street_line2, class: 'input-full-width'

              = destiny_form.hidden_field :city
              = destiny_form.hidden_field :country
              = destiny_form.hidden_field :state
              = destiny_form.hidden_field :street_line1
              = destiny_form.hidden_field :administrative_area
              = destiny_form.hidden_field :neighborhood
              = destiny_form.hidden_field :latitude
              = destiny_form.hidden_field :longitude

      .tb-module-row.clear
        .one-half &nbsp;
        .one-half.last.tb-demands-submit-btn= f.submit 'Siguiente', class: 'button large orange'
