.tb-demands-search
  .row-fluid.search
    .span3
      
      %h5.title Definir la búsqueda

      .clear
        = search_form_for(demand_search, class: "search-form", url: search_demands_path, method: :post) do |f|
          .accordion
            .accordion-group
              = render 'demands/filters/categories', categories: categories
              = render 'demands/filters/location'
              = render 'demands/filters/dimentions'
              = render 'demands/filters/dates'
              = render 'demands/filters/vehicles_type'
              = render 'demands/filters/description'

              .control-group.inline
                %input#delete-filters{ type: "button", class: "button medium orange capitalize", value: "Borrar Filtros" }
                = f.submit "Aplicar filtros", class: "button medium orange capitalize", id: "apply-filters"

    .span9
      .tb-demands-search-container.lightgrey
        = render 'demands/filters/results'
