.show-demand
  .tb-module-header
    %h5.title.orange-text
      = demand.category.parent
      %span.black  >
      = demand.category
    - if current_user.transporter?
      .tb-module-header-icons.lightgrey
        = link_to "<i class='icon-heart'></i>".html_safe, favorites_path(demand_id: demand), method: :post, class: "tb-button grey tb-favorite-button medium #{ current_user.role.favorites.include?(demand) ? 'active' : '' }"
  .tb-demand-sub-header
    %span.tb-demand-sub-header-title= demand.description

    .tb-demand-sub-rate.right
      = link_to demand.user.username, demand.user.role
      = stars(demand.user.total_rating, demand.user.received_ratings.size)

  //Empieza primer modulo
  .tb-module-container.lightgrey.clear
    //#buy-credits
    .tb-module-row.clear
      .one-third
        .tb-detail-box
          .tb-detail-box-list
            .tb-detail-box-item
              %span.bold
                Fecha de publicación:
              = l demand.created_at.to_date
            .tb-detail-box-item
              %span.bold
                Recibir presupuestos hasta:
              = l demand.budget_hosting_expiration_date

      .one-third
        .bg-white.tb-detail-box
          %h5.tb-detail-box-title.title
            Información de origen
          .tb-detail-box-list
            .tb-detail-box-item.bold= demand.origin
            .tb-detail-box-item
              %span.bold
                Fecha preferida para retirar:
              %p= demand.origin_information.date_range
              %p= l demand.origin_information.delivery_date_from if demand.origin_information.delivery_date_from
              %p= l demand.origin_information.delivery_date_to if demand.origin_information.delivery_date_to

      .one-third.last
        .bg-white.tb-detail-box
          %h5.tb-detail-box-title.title
            Información de destino

          .tb-detail-box-list
            .tb-detail-box-item.bold= demand.destiny
            .tb-detail-box-item
              %span.bold
                Fecha preferida para entrega:
              %p= demand.destiny_information.date_range
              %p= l demand.destiny_information.delivery_date_from if demand.destiny_information.delivery_date_from
              %p= l demand.destiny_information.delivery_date_to if demand.destiny_information.delivery_date_to

    .clear
      = hidden_field_tag :origin_lat, demand.origin.latitude
      = hidden_field_tag :origin_long, demand.origin.longitude
      = hidden_field_tag :destiny_lat, demand.destiny.latitude
      = hidden_field_tag :destiny_long, demand.destiny.longitude


      .map-container
        #genius-map
          #address-map{:style => "height: 300px; clear:both;"}
        .distance

  //Titulo acordion
  .tb-accordion-title.orange.clear
    %h5.title
      %span.white
        Detalles del Envío
      %span.right.white.accordion-button
        %i.icon-plus

  //Empieza segundo modulo
  .tb-module-container.lightgrey.clear{style: 'display:none;'}
    %h4.title
      Inventario:
      %span
        Volumen aproximado de
        %span.orange-text= "#{demand.volumen} m3"

    - unless demand.icons.empty?

      //Inventario
      %ul.tb-inventary-list.clear
        - @groups.each do |group|
          - if group and group.icons.any?{|icon| !demand.icons[icon.id.to_s].nil? }
            %li
              %h5.tb-inventary-title.title= group.description
              - group.icons.each do |icon|
                - unless demand.icons[icon.id.to_s].nil?
                  .tb-inventary-item
                    \-
                    = icon.description
                    = "(#{demand.icons[icon.id.to_s]})"

    //Detalle del mobiliario
    .tb-module-row.tb-furnitures
      - if demand.parsed_data.first && demand.parsed_data.first.last.kind_of?(Hash)
        - demand.parsed_data.each do |key, values|
          - if values.kind_of? Hash
            .one-third

              //Cuadro 1
              .tb-detail-box.bg-white
                %h5.tb-detail-box-title.title= t(key)
                .tb-detail-box-list
                  - values.each do |key, value|
                    .tb-detail-box-item
                      %span.bold= t(key)
                      = value
      - else
        - unless demand.parsed_data.empty?
          .one-third
            //Cuadro 1
            .tb-detail-box.bg-white
              .tb-detail-box-list
                - demand.parsed_data.each do |key, values|
                  .tb-detail-box-item
                    %span.bold= t(key)
                    = values

      - if demand.have_dimensions?
        //Cuadro 2
        .one-third
          .tb-detail-box.bg-white
            %h5.tb-detail-box-title.title Dimensiones aproximadas
            .tb-detail-box-list
              - if !demand.depth.blank?
                .tb-detail-box-item
                  %span.bold
                    Largo
                  = "#{demand.depth} #{demand.depth_unit}"

              - if !demand.width.blank?
                .tb-detail-box-item
                  %span.bold
                    Ancho
                  = "#{demand.width} #{demand.width_unit}"

              - if !demand.height.blank?
                .tb-detail-box-item
                  %span.bold
                    Alto
                  = "#{demand.height} #{demand.height_unit}"

              - if !demand.weight.blank?
                .tb-detail-box-item
                  %span.bold
                    Peso
                  = "#{demand.weight} #{demand.weight_unit}"



      //imagenes
      .one-third.last
        .tb-detail-box.bg-white
          %h5.tb-detail-box-title.title
            Imagenes

          - demand.images.each do |image|
            = link_to image_tag(image.icon), image.to_s, class: 'colorbox-gallery'

    .tb-detail-box
      %h5.tb-detail-box-title.title
        Detalles adicionales

      %p= demand.detail

  - if !demand.discarded? && !demand.accepted_budget && current_user.transporter?
    //Titulo acordion
    .tb-accordion-title.orange.clear
      %h5.title
        %span.white
          Generar un presupuesto
        %span.right.white.accordion-button
          %i.icon-plus

    //Empieza tercer modulo
    .tb-module-container.lightgrey.clear{style: 'display:none;'}
      = render 'budgets/form'

  - if active_budgets.any? || demand.accepted_budget
    //Titulo acordion
    .tb-accordion-title.orange
      %h5.title
        %span.white
          Presupuestos recibidos
        %span.right.white.accordion-button
          %i.icon-plus

    //Empieza Lista de presupuestos
    = render(demand.active_budgets.any? ? demand.active_budgets : demand.accepted_budget)

//Titulo acordion
.tb-accordion-title.orange.clear
  %h5.title
    %span.white
      Consultas sobre el envío
    %span.right.white.accordion-button
      %i.icon-plus

//Empieza quinto modulo
.clear{style: 'display:none;'}
  %ul.tb-demand-questions.clear
    %li.lightgrey.clear
      - demand.comments.where(:question_id => nil).each do |comment|
        .tb-questions-user.bg-white
          = link_to comment.user.username, comment.user.role
        .tb-questions-text
          %span
            = image_tag  "http://placehold.it/15x15", :class => "tb-question-icon"
            = comment.message
        - if comment.answer
          .tb-questions-user.bg-white
            = link_to comment.answer.user.username, comment.answer.user.role
          .tb-questions-text
            %span= comment.answer.message
        - elsif current_user == demand.client.user
          .tb-questions-user.bg-white
            = link_to current_user.username, current_user.role
          .tb-questions-text
            = form_for [demand, Comment.new], html: {id: 'demand-comment-form'} do |f|
              = f.hidden_field :question_id, value: comment.id
              = f.text_area :message, class: "validate[required] tb-demands-question-field", rows: 0
              .control-group.text-align-right
                = submit_tag 'Enviar Respuesta', class: 'button large orange'

  - if current_user != demand.client.user and current_user.transporter?
    .tb-module-container
      = form_for [demand, Comment.new], html: {id: 'demand-comment-form'} do |f|
        = f.text_area :message, class: "validate[required] tb-demands-question-field", rows: 0
        .control-group.text-align-right
          = submit_tag 'Enviar', class: 'button large orange'
