#application-info.open-sans
  .one-third
    %h3.title.underlined.tb-longer ¿Por qué utilizar Ahorra Envíos?
    %ul
      %li
        %span
          %strong Presupuestos gratis
          sin obligación alguna.
      %li
        %span
          %strong Ahorre dinero -
          ¡Hasta un 75% menos en relación a las tarifas habituales!
      %li
        %span
          %strong ¡Sin problemas! -
          Los presupuestos llegan por correo electrónico.
      %li
        %span
          Lea los
          %strong comentarios y criticas
          anteriores antes de aceptar un presupuesto.
  .one-third
    %h3.title.underlined Envío realizado recientemente

    %img{:src => "http://placehold.it/85x85", :class=>"application-info-img"}
    %p.orange-text.application-info-first
      %strong 200 butacas apilables
    %p
      %strong
        Orig:
      Pilar
    %p.application-info-last
      %strong
        Dest:
      Barracas
    %p
      Precio de la competencia:
      %strong
        $2500
    %p
      Precio en Ahorra Envíos:
      %strong
        $500
    %p.button.large.orange.capitalize
      Ahorro: $2000

  .one-third.last
    %h3.title.underlined Datos estadísticos
    = stats.body.html_safe
    /
      %p
        Envíos publicados hoy:
        %strong 78
      %p
        Presupuestos publicados hoy:
        %strong 560
      %p
        Total de envíos publicados:
        %strong 8000
      %p
        Total transportistas:
        %strong 12000
      %p
        Usuarios registrados:
        %strong 5622
