
.clear.tb-featured
  .image-featured
    = image_tag "home/pareja-purchase.jpg"
  .over-featured

    %h2.orange-text.title Publicá tu envío ahora. ¡Ahorra tiempo y dinero!
    .featured-line
    %h5.tb-module-row Mudanceros y fleteros compiten para ofrecerte el precio más bajo

    = form_for demand, url: demands_path do |f|
      = hidden_field_tag "demand[provider]", provider
      .control-group.clear.tb-module-row
        
        = select_tag "categories", options_from_collection_for_select(categories, "id", "name"), prompt: "¿Qué deseas enviar?", class: "input-full-width"

      .tb-module-row  
        = select_tag "demand[category]", nil, prompt: "Seleccionar una subcategoría", class: "input-full-width"

      .control-group.clear
        .clear.tb-module-row
          = f.fields_for :origin, Address.new do |origin_form|
            = origin_form.label "Origen"
            = origin_form.text_field :street_line2, class: 'input-full-width'

            = origin_form.hidden_field :city
            = origin_form.hidden_field :country
            = origin_form.hidden_field :state
            = origin_form.hidden_field :street_line1
            = origin_form.hidden_field :administrative_area
            = origin_form.hidden_field :neighborhood
            = origin_form.hidden_field :latitude
            = origin_form.hidden_field :longitude
        .clear.tb-module-row
          = f.fields_for :destiny, Address.new do |destiny_form|
            = destiny_form.label "Destino"
            = destiny_form.text_field :street_line2, class: 'input-full-width'

            = destiny_form.hidden_field :city
            = destiny_form.hidden_field :country
            = destiny_form.hidden_field :state
            = destiny_form.hidden_field :street_line1
            = destiny_form.hidden_field :administrative_area
            = destiny_form.hidden_field :neighborhood
            = destiny_form.hidden_field :latitude
            = destiny_form.hidden_field :longitude

      = f.submit(class: "featured-btn button medium") do
        %span.common-sprite-icon-budget.featured-icon
          Recibí presupuestos gratis y sin compromiso!
  /.shadow-up
  /.shadow-down
