.tb-guide-steps.clear
  .one-fourth
    .guide-icon.orange
      %span.common-sprite-white-wallet
    .guide-legend
      %h4.bold Ahorrá dinero
      %p ¡Hasta un 75% menos en relación a las tarifas habituales!
  .one-fourth
    .guide-icon.orange
      %span.common-sprite-white-lock
    .guide-legend
      %h4.bold ¡Seguro!
      %p Leé los comentarios y críticas anteriores antes de aceptar un presupuesto.
  .one-fourth
    .guide-icon.orange
      %span.common-sprite-white-hand
    .guide-legend
      %h4.bold ¡Sin llamadas!
      %p 
        ¡Sin problemas!
        %br
        Los presupuestos te llegan por correo electrónico.
  .one-fourth.last
    .guide-icon.orange
      %span.common-sprite-white-check
    .guide-legend
      %h4.bold ¡Siempre gratis!
      %p Acepta el que más te conviene totalmente gratis!
