= render partial: '/categories/generic'

= fields_for :demand do |form|
  = form.fields_for :data do |form|
    .one-half
      .form.tb-detail-box.bg-white.tb-pets
        %h5.title Animales

        .control-group
          = form.select :type, ["bovino", "ovino", "porcino", "aves"],  {prompt: 'Tipo', selected: demand.parsed_data['type'] }, {class: "input-full-width"}
        .control-group
          = form.label :number_of_cages, t('helpers.label.demand.number_of_cages'), class: "control-label"
          = form.number_field :number_of_cages, value: demand.parsed_data['number_of_cages']
        .control-group
          = form.label :peso, class: "control-label"
          = form.text_field :weight, value: demand.parsed_data['weight']  

    .one-half.last
      .tb-dimmensions.tb-detail-box.bg-white
        .form
          %h5.title Dimensiones aproximadas

          .control-group
            = form.label 'Largo', class: "control-label"
            = form.text_field :depth, value: demand.depth
            = form.select :depth_unit, %w(cm m ft in), selected: demand.depth_unit
          .control-group
            = form.label 'Ancho', class: "control-label"
            = form.text_field :width, value: demand.width
            = form.select :width_unit, %w(cm m ft in), selected: demand.width_unit
          .control-group
            = form.label 'Alto', class: "control-label"
            = form.text_field :height, value: demand.height
            = form.select :height_unit, %w(cm m ft in), selected: demand.height_unit
