#additional-information
	.form.tb-detail-box.bg-white
		%h5.title Información adicional
		.tb-company-container
			%p Aquí puedes detallar la información adicional que un usuario valorará de tu empresa (experiencia, clientes, etc).

			= form.text_area :additional_information