
.form.tb-detail-box.bg-white.tb-company-information
  .clear.tb-module-row
    %h5.title.tb-company-title
      Empresa
    - if company.errors.any?
      #error_explanation
        %ul
          - company.errors.full_messages.each do |msg|
            %li= msg


    - if company.has_image?
      #profile-photo.tb-company-img{ style: profile_photo_style(company) }
        = form.fields_for :image do |u|
          = u.file_field :image
    - else
      .your-logo.tb-company-img
        = form.fields_for :image do |u|
          = u.file_field :image
  .tb-company-container.clear
    .one-half
      .control-group
        = form.label :name, class: "control-label"
        %span#asterix.orange-text *
        = form.text_field :name
      .control-group
        = form.label :company_type, class: "control-label"
        = form.select :company_type, %w(SA SRL Monotributo Cooperativa Resp.Inscripto), include_blank: true

      = fields_for address do |a|
        .control-group
          = a.label :state, class: "control-label"
          %span#asterix.orange-text *
          = a.text_field :state
          = hidden_field_tag "address[state]", "", id: "state-hidden"
        .control-group
          = a.label :city, class: "control-label"
          %span#asterix.orange-text *
          = a.text_field :city
          = hidden_field_tag "address[city]", "", id: "city-hidden"
          = hidden_field_tag "address[administrative_area]", "", id: "administrative_area-hidden"
      .control-group
        = form.label :phone_number, class: "control-label"
        %span#asterix.orange-text *
        = form.text_field :phone_number

      %p (Si informas tus teléfonos, cuando te acepten un presupuesto podrán llamarte para concretar. No olvides cargar el prefijo de la zona en que vives)

    .one-half.last
      .control-group
        = form.label :year_of_creation, class: "control-label"
        = form.text_field :year_of_creation
      .control-group
        = form.label :number_of_employees, class: "control-label"
        = form.text_field :number_of_employees
      .control-group
        = form.label :number_of_drivers, class: "control-label"
        = form.text_field :number_of_drivers
      .control-group
        = form.label :website, class: "control-label"
        = form.text_field :website
      .control-group
        = form.check_box :vat_registered
        = form.label :vat_registered, class: "custom-checkbox"
