#conditions-of-payment.tb-company-conditions
  .form.tb-detail-box.bg-white
    %h5.title	Condiciones de pago que acepta
    .tb-company-container.clear
      - payment_conditions.each do |payment_condition|
        .control-group
          = check_box_tag "company[payment_condition_ids][]", payment_condition.id, company.payment_condition_ids.include?(payment_condition.id), id: dom_id(payment_condition)
          = label_tag dom_id(payment_condition), payment_condition.name, class: "control-label custom-checkbox"
