#coverage-areas-and-vehicles.tb-company-coverage
	.form.tb-detail-box.bg-white
		.tb-module-row.clear
			.one-half
				%p Si defines los ámbitos de cobertura de tus servicios te podremos notificar por e-mail los envíos que mas te interesan
			.one-half.last		
				= link_to "Ámbitos de cobertura", transporter_coverage_areas_path(transporter), class: "button large orange tb-company-coverage-btn"
		.clear
			.one-half	
				%p Si defines tus vehículos podras asociarlos a tus presupuestos brindando mas información fácilmente
			.one-half.last	
				= link_to "Vehículos", transporter_vehicles_path(transporter), class: "button large orange tb-company-coverage-btn"
