#extra-services
  .form.tb-detail-box.bg-white
    %h5.title Servicios extra
    .tb-company-container.clear
      - controller.extra_services.each do |extra_service|
        .control-group.tb-company-list
          = check_box_tag "company[extra_service_ids][]", extra_service.id, company.extra_service_ids.include?(extra_service.id), id: dom_id(extra_service)
          = label_tag dom_id(extra_service), extra_service.description, class: "custom-checkbox control-label"
