 /.control-group
/  = form.label :address, class: "control-label"
/  = form.text_field :address
/.control-group
/  = form.label :city, class: "control-label"
/  = form.text_field :city

= fields_for(user) do |u|
  .control-group
    = u.label :username, class: "control-label"
    = u.text_field :username
  .control-group
    = u.label :email, class: "control-label"
    = u.email_field :email
  .control-group
    = u.label :name, class: "control-label"
    = u.text_field :name
  .control-group
    = u.label :surname, class: "control-label"
    = u.text_field :surname


/  .control-group
/    = u.label :phone_number, class: "control-label"
/    = u.text_field :phone_number
/
/.control-group
/  = form.label :receive_email_alerts, class: "control-label"
/  = form.check_box :receive_email_alerts
