= form_for(transporter) do |f|
  - if transporter.errors.any? || user.errors.any?
    #error_explanation
      %h6.bold
        = "Hay errores que no permiten guardar los cambios."
      %ul
        - transporter.errors.full_messages.each do |msg|
          %li
            = msg
        - user.errors.full_messages.each do |msg|
          %li
            = msg

  - if current_user
    = render 'fields', form: f
  - else
    = render 'users/form_fields_for'

  .actions
    = f.submit class: "btn btn-primary" 
