#license-and-insurance
	.form.tb-detail-box.bg-white
		%h5.title Licencias y Seguros
		.tb-company-container.clear
			%p Detalla tu licencia de transporte y R.U.T.A y los seguros que posees para vehículos y mercancías.

			= form.text_area :license_and_insurance
