#methods-of-payment
  .form.tb-detail-box.bg-white
    %h5.title Formas de pago que acepta
    .tb-company-container.clear
      - payment_methods.each do |payment_method|
        .control-group.tb-company-list
          = check_box_tag "company[payment_method_ids][]", payment_method.id, company.payment_method_ids.include?(payment_method.id), id: dom_id(payment_method)
          = label_tag dom_id(payment_method), payment_method.name, class: "control-label custom-checkbox"
