.one-half.last
  .form.text-align-center.tb-detail-box.bg-white
    = link_to "Ver mi perfil público", transporter, class: "button large orange"
    = link_to "Cancelar cuenta", registration_path(current_user), confirm: "Esta seguro que desea eliminar su cuenta?", method: :delete, class: "button large orange"
