#services
  .form.tb-detail-box.bg-white
    %h5.title Servicios que brinda
    .tb-company-container.clear
      - categories.each do |category|
        .control-group.tb-company-list
          = check_box_tag "company[category_ids][]", category.id, company.category_ids.include?(category.id), id: dom_id(category)
          = label_tag dom_id(category), category, class: "custom-checkbox control-label"
