.one-half.last
  #update-password.tb-update-password
    = form_for(transporter, html: {class: 'form   tb-detail-box  bg-white'}) do |f|

      %h5.title
        Cambiar contraseña

      - if transporter.errors.any? || user.errors.any?
        #error_explanation
          %h6.bold
            = "Hay errores que no permiten cambiar la contraseña:"
          %ul
            - transporter.errors.full_messages.each do |msg|
              %li
                = msg
            - user.errors.full_messages.each do |msg|
              - unless msg =~ /Nombre/ || msg =~ /Apellido/ || msg =~ /Email/
                %li
                  = msg

      = fields_for(user) do |u|
        .control-group
          = u.label "Contraseña actual", class: "control-label"
          %span#asterix.orange-text *
          = u.password_field :current_password
        .control-group
          = u.label "Nueva contraseña", class: "control-label"
          %span#asterix.orange-text *
          = u.password_field :password
        .control-group
          = u.label "Confirmar la nueva contraseña", class: "control-label"
          %span#asterix.orange-text *
          = u.password_field :password_confirmation

      .control-group.text-align-right.tb-submit-button
        = f.submit "Cambiar contraseña", class: "button medium orange capitalize"
