
.one-half
  .update-account
    = form_for(transporter, html: {class: 'form   tb-detail-box bg-white'}) do |f|

      %h5.title
        Actualizar cuenta

      - if transporter.errors.any? || user.errors.any?
        #error_explanation
          %h6.bold
            = "Hay errores que no permiten actualizar la cuenta."
          %ul
            - transporter.errors.full_messages.each do |msg|
              %li
                = msg
            - user.errors.full_messages.each do |msg|
              - unless msg =~ /contra/
                %li
                  = msg

      = fields_for(user) do |u|
        = u.hidden_field :current_password, value: "undefined"
        .control-group
          = u.label :username, class: "control-label"
          %span#asterix.orange-text *
          = u.text_field :username
        .control-group
          = u.label :email, class: "control-label"
          %span#asterix.orange-text *
          = u.email_field :email
        .control-group
          = u.label :name, class: "control-label"
          %span#asterix.orange-text *
          = u.text_field :name
        .control-group
          = u.label :surname, class: "control-label"
          %span#asterix.orange-text *
          = u.text_field :surname
        .control-group.tb-form-conditions
          = u.check_box :receive_email_alerts
          = u.label :receive_email_alerts, class: "custom-checkbox inline"


      .control-group.text-align-right.tb-submit-button
        = f.submit "Actualizar", class: "button medium orange capitalize"
