.tb-transporters-edit
  .tb-accordion-title.orange.clear
    %h5.title
      %span.black 1.
      %span.white Cuenta
      %span.right.white.accordion-button
        %i.icon-minus

  .tb-module-container.lightgrey.clear
    - ["account", "password"].each do |partial|
      = render "update_#{partial}", transporter: transporter, user: user

    = render 'public_profile_and_cancel_account'

  .tb-accordion-title.orange.clear
    %h5.title
      %span.black 2.
      %span.white Perfil profesional
      %span.right.white.accordion-button
        %i.icon-plus

  .tb-module-container.lightgrey.clear{style: 'display:none;'}
    #company
      = form_for([transporter, company]) do |f|
        = render 'company_information', form: f, company: company, address: address

        .one-half
          = render 'services'
          = render 'methods_of_payment'
          = render 'conditions_of_payment'

        .one-half.last
          = render 'extra_services'
          = render 'license_and_insurance', form: f
          = render 'additional_information', form: f

        .control-group.text-align-right
          = f.submit "Actualizar", class: "tb-submit-button button medium orange capitalize"

  .tb-accordion-title.orange.clear
    %h5.title
      %span.black 3.
      %span.white Ámbitos de cobertura
      %span.right.white.accordion-button
        %i.icon-plus

  .tb-module-container.lightgrey.clear{style: 'display:none;'}
    .tb-detail-box.bg-white.tb-small-text
      %p Si quiere que le notifiquemos por mail aquellos envíos que se ajusten a sus intereses, debe definir el ámbito de cobertura para cada servicio que ofrece su empresa

    .tb-module-row
      - coverage_areas.each do |coverage_area|
        .tb-coverage-area-row.clear
          %span.bold= coverage_area.description
          .right
            = link_to "Ver", transporter_coverage_area_path(current_user.role, coverage_area), class: "button small white"
            = link_to "Modificar", edit_transporter_coverage_area_path(current_user.role, coverage_area), class: "button small white"
            = link_to "Eliminar", transporter_coverage_area_path(current_user.role, coverage_area), method: :delete, data: { confirm: 'Está seguro?' }, class: 'button small white'

    = link_to 'Nuevo Ámbito de Cobertura', new_transporter_coverage_area_path(current_user.role), class: 'button medium orange capitalize right'

  .tb-accordion-title.orange.clear
    %h5.title
      %span.black 4.
      %span.white Vehículos
      %span.right.white.accordion-button
        %i.icon-plus

  .tb-module-container.lightgrey.clear{style: 'display:none;'}
    .tb-module-row
      .form.tb-detail-box.bg-white
        %p
          Si detalla sus vehiculos podrá seleccionar uno en el momento de generar un presupuesto, brindandole mas información importante al usuario que requiere un servicio.
    .tb-module-row

      %ul.unstyle#vehicles.tb-vehicles-list.clear
        - vehicles.each do |vehicle|
          %li.clear
            .tb-accordion-demand
              = image_tag vehicle.images.first.image.icon unless vehicle.images.empty?
              %b= vehicle.description
              .right.tb-accordion-demand-btns
                = link_to 'Mostrar', transporter_vehicle_path(current_user.role, vehicle), class: 'button small white'
                = link_to 'Editar', edit_transporter_vehicle_path(current_user.role, vehicle), class: 'button small white'
                = link_to 'Borrar', transporter_vehicle_path(current_user.role, vehicle), method: :delete, data: { confirm: "Está seguro que desea eliminar el vehículo '#{vehicle.description}'?" }, class: 'button small white'


    .vehicles-actions.right= link_to 'Nuevo Vehículo', new_transporter_vehicle_path(current_user.role), class: 'button medium orange capitalize'


