.tb-transporters-show

  .row-fluid
    .span6
      %h3.title= transporter.username.upcase if transporter.username
    .span4
      %span.registered-at="Registrado el #{transporter.created_at.strftime("%d-%m-%Y")}"
    .span2
      = stars(transporter.total_rating, transporter.received_ratings.size)

  .tb-module-container.lightgrey.clear.tb-profile
    .tb-module-row.clear

      //primer tercio
      .one-third-profile
        %h5.tb-profile-title.title.text-align-center.orange
          = image_tag "public_profile/valorations.png"
          %span.white
            Valoraciones

        .one-third
          .tb-profile-box.bg-white.text-align-center
            %h3.title.orange-text
              = positive_ratings.size
            Positivas

        .one-third
          .tb-profile-box.bg-white.text-align-center
            %h3.title.orange-text
              = neutral_ratings.size
            Neutras

        .one-third.last
          .tb-profile-box.bg-white.text-align-center
            %h3.title.orange-text
              = negative_ratings.size
            Negativas

      //segundo tercio
      .one-third-profile

        %h5.tb-profile-title.title.text-align-center.orange
          = image_tag "public_profile/budgets.png"
          %span.white
            Presupuestos aceptados


        .tb-profile-box.bg-white.text-align-center
          %h3.title.orange-text
            = transporter.accepted_budgets.size
          Aceptados

    .tb-module-row.clear


      %h5.tb-profile-title.title.text-align-center.orange
        = image_tag "public_profile/comments.png"
        %span.white
          Comentarios recibidos

      %table.one-profile-white.tb-transporter-comment-table
        %thead
          %th.first
            %h5.title
              Usuario
          %th
            %h5.title
              Comentario
          %th
            %h5.title
              Fecha
          %th
            %h5.title
              Envío
        %tbody
          - transporter.received_ratings.each do |rating|
            %tr
              %td.first
                - if rating.owner
                  %b.orange-text= link_to rating.owner.username, rating.owner.role
                - else
                  %b Usuario eliminado
              %td
                = rating.comment
              %td
                = rating.created_at.strftime("%d-%m-%Y")
              %td
                = rating.budget.demand.description if rating.budget and rating.budget.demand

    .tb-module-row.clear


      %h5.tb-profile-title.title.text-align-center.orange
        = image_tag "public_profile/professional-profile.png"
        %span.white
          Perfil profesional

      .tb-detail-box.bg-white
        %h5.title.tb-transporters-subtitle
          Empresa

        .one-half
          %ul.unstyled
            %li.inline
              %b Empresa:
              = company.name
            %li
              %b Tipo de empresa:
              = company.company_type
            %li
              %b Provincia:
              = company.state if company.address
            %li
              %b Localidad:
              = company.city if company.address
            %li
              %b Teléfonos:
              = company.phone_number

        .one-half.last
          %ul.unstyled
            %li.inline
              %b Año de creación:
              = company.year_of_creation
            %li
              %b N de conductores:
              = company.number_of_drivers
            %li
              %b N de vehículos:
              = transporter.vehicles.size
            %li
              %b Localidad:
              = company.city if company.address
            %li
              %b Sitio web:
              = link_to company.website, company.website, target: 'blank'

      .one-half
        .tb-detail-box.bg-white

          %h5.title.tb-transporters-subtitle
            Servicios que brinda
          %p= company.categories.map { |category| category.name }.join(" - ")

        .tb-detail-box.bg-white
          %h5.title.tb-transporters-subtitle
            Servicios extra
          %p= company.extra_services.map { |extra_service| extra_service.description }.join(" - ")

        .tb-detail-box.bg-white
          %h5.title.tb-transporters-subtitle
            Formas de pago que acepta
          %ul.unstyled
            - company.payment_methods.each do |payment_method|
              %li= "- #{payment_method.name}"
      .one-half.last

        .tb-detail-box.bg-white
          %h5.title.tb-transporters-subtitle
            Licencias y seguros
          %p= company.license_and_insurance


        .tb-detail-box.bg-white
          %h5.title.tb-transporters-subtitle
            Condiciones de pago que acepta

          %ul.unstyled
            - company.payment_conditions.each do |payment_condition|
              %li= "- #{payment_condition.name}"

        .tb-detail-box.bg-white
          %h5.title.tb-transporters-subtitle
            Información adicional
          %p= company.additional_information

    %h5.tb-profile-title.title.text-align-center.orange
      %span.white
        Ámbitos de cobertura

    .tb-detail-box.bg-white
      .row-fluid
        %ul.unstyled
          - transporter.coverage_areas.each do |coverage_area|
            %li= coverage_area.description

    %h5.tb-profile-title.title.text-align-center.orange
      = image_tag "public_profile/truck.png"
      %span.white
        Vehículos

    .tb-detail-box.bg-white
      .row-fluid
        - transporter.vehicles.each do |vehicle|
          .span2
            %ul.unstyled
              %li= image_tag vehicle.images.first.medium, class: 'img-polaroid' unless vehicle.images.empty?
              %li
                %b.orange-text= vehicle.description
