@import "../variables";
@import "compass/css3";

.tb-notify-index{
	input [type="checkbox"]{
		margin:4px;
		padding:0;

	}
	
}
.tb-notify-icons{
	margin-top: 5px;
	margin-right: 5px;
	span{
		width: 30px;
		height: 30px;
		line-height: 29px;
		background-color: $tb-black;
		text-align: center;
		@include border-radius(2px);
		margin-left: 5px;
		display: block;
		float: right;
		-webkit-transition: all 0.2s ease-out 0s;
		-moz-transition: all 0.2s ease-out 0s;
		-o-transition: all 0.2s ease-out 0s;
		&:hover{
			cursor:pointer;
			background-color: $tb-orange;
		}
	}

	
		
}