@import "../variables";

.tb-notify-body {
	font-size: $tb-size-12;
 	.title{
 		color: $tb-black;
 		font-size: $tb-size-14;
 	}
}

.tb-notify-title {

  padding-left: 2%;
}

.tb-notify-show{
	.tb-notify-star{
		margin-bottom: -1px;
	}
}