.tb-ratings-index
  %ul.nav.nav-tabs
    %li{ class: (params[:status].nil?) ? 'active' : nil }
      %a{ href: "#actives", 'data-toggle' => "tab"}
        Pendientes
    %li{ class: (params[:status] == 'received') ? 'active' : nil }
      %a{ href: "#received", 'data-toggle' => "tab"}
        Recibidas
    %li{ class: (params[:status] == 'given') ? 'active' : nil }
      %a{ href: "#given", 'data-toggle' => "tab"}
        Realizadas

  .tab-content.ratings.lightgrey
    #actives.tab-pane{ class: (params[:status].nil?) ? 'active' : nil }
      - @pendings.each do |rating|
        - demand = rating.budget.demand
        - budget = rating.budget
        //Titulo de acordion
        .tb-accordion-demand#demands
          %span.tb-accordion-demand-title
            %span.tb-demand-title-text= "#{demand.description.truncate(20)}"
            %span.orange-text.tb-accordion-demand-number.bold


          %span.tb-accordion-demand-date= demand.expiration_date.strftime("%d/%m/%Y") if demand.expiration_date

          %span.tb-accordion-demand-info
            Origen:
            = demand.origin.to_s(:short) if demand.origin

          %span.tb-accordion-demand-info
            Destino:
            = demand.destiny.to_s(:short) if demand.destiny

          .right.tb-accordion-demand-btns
            %button{ "type" => "button", "data-toggle" => "collapse", "data-target" => "#rating-#{rating.id}", "id" => "button-rating-#{rating.id}" }
              &nbsp;


        //Cuerpo de acordion
        .tb-accordion-demand-body.collapse{ id: "rating-#{rating.id}" }
          .tb-accordion-budget.clear{ class: budget_class(budget) }
            .one-third
              %span.tb-accordion-budget-price= number_to_currency budget.price, precision: 0
              %span.tb-accordion-budget-rating
                - if budget.transporter.received_ratings.empty?
                  Transportista nuevo
                - else
                  - budget.transporter.user.total_rating.times do
                    %span{ class: "star star-on" }
                = "(#{budget.transporter.received_ratings.size})"
            .one-third
              %span.tb-accordion-budget-date= "Valido hasta #{demand.expiration_date.strftime("%d/%m/%Y")}" if demand.expiration_date
            .one-third.last
              .tb-accordion-budget-state
                %a.button.orange.medium.tb-budget-btn{ "href" => '#', "type" => "button", "data-toggle" => "collapse", "data-target" => "#budget-#{budget.id}", "id" => "button-budget-#{budget.id}" }
                  VALORAR
          .accordion-body.collapse{ id: "budget-#{budget.id}" }
            = render partial: 'demands/transporter', locals: { demand: demand, budget: budget, transporter: budget.transporter, rating: rating }

    #received.tab-pane.search.ratings{ class: (params[:status] == 'received') ? 'active' : nil }
      %table.table.tb-rating-table
        %thead
          %tr.orange
            %th.tb-rating-user
              %h5.title Valorado por
            %th.tb-rating-value
              %h5.title Valoración
            %th.tb-rating-comment
              %h5.title Comentario
            %th.tb-rating-date
              %h5.title Fecha
            %th.tb-rating-type
              %h5.title Envío
        %tbody
          - @received.each do |rating|
            %tr
              - if rating.owner
                %td.bold= link_to rating.owner.username, rating.owner.role
              - else
                %td.bold Usuario eliminado
              %td.tb-rating-face-cell
                %span.rating-face{ class: rating.points == -1 ? 'negative-face' : (rating.points == 0 ? 'neutral-face' : 'positive-face')}= rating.points
              %td= rating.comment
              %td= rating.updated_at.to_s(:short)
              %td= rating.budget.demand.description if rating.budget and rating.budget.demand

    #given.tab-pane.search.ratings{ class: (params[:status] == 'given') ? 'active' : nil }
      %table.table.tb-rating-table
        %thead
          %tr.orange
            %th.tb-rating-user
              %h5.title Valorado por
            %th.tb-rating-value
              %h5.title Valoración
            %th.tb-rating-comment
              %h5.title Comentario
            %th.tb-rating-date
              %h5.title Fecha
            %th.tb-rating-type
              %h5.title Envío
        %tbody
          - @given.each do |rating|
            %tr
              - if rating.receiver
                %td.bold= link_to rating.receiver.username, rating.receiver.role
              - else
                %td.bold Usuario eliminado
              %td.tb-rating-face-cell
                %span.rating-face{ class: rating.points == -1 ? 'negative-face' : (rating.points == 0 ? 'neutral-face' : 'positive-face')}= rating.points
              %td= rating.comment
              %td= rating.updated_at.to_s(:short)
              %td= rating.budget.demand.description if rating.budget and rating.budget.demand
