= form_for([:admin, icons_template]) do |f|
  - if icons_template.errors.any?
    #error_explanation
      %h6.bold= "#{pluralize(icon_template.errors.count, "error")} prohibited this icon template from being saved:"
      %ul
        - icon_template.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :template_id
    = f.select :template_id, ::Template.all.collect {|p| [ p.description, p.id ] }
    = f.label :icon_id
    = f.select :icon_id, Icon.all.collect {|p| [ p.description, p.id ] }
    = f.label :amount
    = f.text_field :amount

  .actions
    = f.submit 'Guardar Plantilla y su icono', class: 'btn btn-primary'
