%h1 Plantillas y sus Iconos
%br

%table.table
  %tr
    %th Plantilla
    %th Icono
    %th Cantidad
    %th
    %th
    %th

  - icons_templates.each do |icon_template|
    %tr
      %td= icon_template.template.description
      %td= icon_template.icon.description
      %td= icon_template.amount
      %td= link_to 'Mostrar', admin_icons_template_path(icon_template), class: 'btn btn-info'
      %td= link_to 'Editar', edit_admin_icons_template_path(icon_template), class: 'btn btn-warning'
      %td= link_to 'Borrar', admin_icons_template_path(icon_template), method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger'

%br

= link_to 'Nuevo Icono de Plantilla', new_admin_icons_template_path, class: 'btn btn-primary'
