%p#notice= notice

%p
  %b Plantilla:
  = icons_template.template_id
  = icons_template.template.description
  %b Icono:
  = icons_template.icon_id
  = icons_template.icon.description
  %b Cantidad:
  = icons_template.amount  


= link_to 'Editar', edit_admin_icons_template_path(icons_template), class: 'btn'
= link_to 'Atrás', admin_icons_templates_path, class: 'btn'
