= form_for([:admin, extra_service]) do |f|
  - if extra_service.errors.any?
    #error_explanation
      %h6.bold= "#{pluralize(extra_service.errors.count, "error")} prohibited this extra service from being saved:"
      %ul
        - extra_service.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    = f.text_field :description

  .actions
    = f.submit 'Guardar Servicio Extra', class: 'btn btn-primary'
