%h1 Servicios Extra
%br

%table.table
  %tr
    %th Descripción
    %th
    %th
    %th

  - extra_services.each do |extra_service|
    %tr
      %td= extra_service.description
      %td= link_to 'Mostrar', admin_extra_service_path(extra_service), class: 'btn btn-info'
      %td= link_to 'Editar', edit_admin_extra_service_path(extra_service), class: 'btn btn-warning'
      %td= link_to 'Borrar', admin_extra_service_path(extra_service), method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger'

%br

= link_to 'Nuevo Servicio Extra', new_admin_extra_service_path, class: 'btn btn-primary'
