%p#notice= notice

%p
  %b Description:
  = extra_service.description

= link_to 'Editar', edit_admin_extra_service_path(extra_service), class: 'btn'
= link_to 'Atrás', admin_extra_services_path, class: 'btn'
