= form_for @billing_address, html: {class: 'form   tb-module-row', id: 'billing-address-form'} do |f|
  .tb-module-row
    .bg-white.tb-detail-box
      .one-half
        .row-fluid
          .span5= f.label 'Nombre'
          = f.text_field :first_name, class: 'validate[required]'
        .row-fluid
          .span5= f.label 'Apellido'
          = f.text_field :last_name, class: 'validate[required]'
        .row-fluid
          .span5= f.label 'Dirección'
          = f.text_field :street_line, class: 'validate[required]'
        .row-fluid
          .span5= f.label 'Ciudad'
          = f.text_field :city, class: 'validate[required]'

      .one-half.last
        .row-fluid
          .span5= f.label 'Código Postal'
          = f.text_field :zip, class: 'validate[required]'
        .row-fluid
          .span5= f.label 'Provincia'
          = f.text_field :state, class: 'validate[required]'
        .row-fluid
          .span5= f.label 'País'
          = f.text_field :country, class: 'validate[required]'

  .right= f.submit 'GUARDAR', class: 'button orange large'
