
.clear.tb-featured
  .image-featured
    = image_tag "landings/flete.jpg"
  .over-featured

    %h2.title Solicita presupuestos de fletes
    .featured-text
      %h4.title 
        Publicá en 1 minuto lo que necesitas transportar y comenzá a recibir presupuestos
   
    %input.button.large.orange{:type => "Submit", :value => "Recibir presupuestos gratis"} 
  = render 'guide_steps'
   

              
          