.aligncenterhome
  .one-third
    .text-align-center
      = image_tag "home/publish.png"
    /%p
    
    .step-text-table
      %span.dropcap3.orange 1
      .step-text      
        %h6.title Publica lo que quieres transportar
  .one-third
    .text-align-center
      = image_tag "home/budgets.png"
    /%p
    
    .step-text-table
      %span.dropcap3.orange 2
      .step-text
        %h6.title Recibe presupuestos gratis
  .one-third.last
    .text-align-center
      = image_tag "home/choose.png"
    /%p
    
    .step-text-table
      %span.dropcap3.orange 3
      .step-text
        %h6.title Elige el que más te conviene
