= hidden_field_tag :page_id, params[:id]



//= render 'user_steps'
.how-it-works
	.section-title
		%h4.title ¿Como Funciona #{content_tag(:span, "Ahorra Envíos", :class=>"title-brand")} ?


	.user-steps.clear
		.user-steps-container
			.one-fourth
				.text-align-center
					= image_tag "home/publish.png"
		
				
				.step-text-table
					%span.dropcap3.orange 1
					.step-text      
						%h5.title Publicas tu envío gratis
			.one-fourth
				.text-align-center
					= image_tag "home/budgets.png"
	
				
				.step-text-table
					%span.dropcap3.orange 2
					.step-text
						%h5.title Recibe presupuestos gratis
			

			.one-fourth
				.text-align-center
					= image_tag "home/choose.png"
		 
				
				.step-text-table
					%span.dropcap3.orange 3
					.step-text
						%h5.title Elige el mejor presupuesto


			.one-fourth.last
				.text-align-center
					= image_tag "home/rating.png"
		 
				
				.step-text-table
					%span.dropcap3.orange 4
					.step-text
						%h5.title Valoras al transportista


	.aligncenterhome.tb-howto-text

		.one-fourth
			%ul.orange-type-list
				%li 
					%span Seleccionas una categoría 
				%li 
					%span Detallas lo que necesites transportar 
				%li 
					%span Defines el lugar y fechas de recogida y entrega  

		.one-fourth
			%ul.orange-type-list
				%li 
					%span Notificamos a los transportistas tu envío y ellos compiten por realizar el servicio ofreciéndote presupuestos muy económicos. 
				%li 
					%span Te avisaremos por mail cada presupuesto recibido. 
				%li 
					%span No estás obligado a aceptar ningún presupuesto.  


		.one-fourth
			%ul.orange-type-list
				%li 
					%span Puedes basarte en la valoración y comentarios de los transportistas. 
				%li 
					%span Puedes hacerles preguntas desde la misma web. 
				%li 
					%span Comparas los presupuestos y aceptas el que más beneficios te brinda.
				%li 
					%span Compartimos tu información de contacto con el transportista seleccionado para que puedan ponerse en contacto y definir los detalles de entrega.  
					

		.one-fourth.last
			%ul.orange-type-list
				%li 
					%span Puedes basarte en la valoración y comentarios de los transportistas. 
				%li 
					%span Puedes hacerles preguntas desde la misma web. 
				%li 
					%span Comparas los presupuestos y aceptas el que más beneficios te brinda.
				%li 
					%span Compartimos tu información de contacto con el transportista seleccionado para que puedan ponerse en contacto y definir los detalles de entrega.  
					
				
