
.contact-form
  .section-title
    %h4.title Contacta con nosotros
  .tb-module-container.lightgrey.clear
    .one-half

      %form.form.tb-detail-box.bg-white
        %h5.title
          Envíanos un mensaje

        %p
          Consiga su cuenta gratuita de usuario o proveedor de servicios de transporte en Ahorra Envíos. No le costará más de 60 segundos dar los primeros pasos.

        .control-group
          %label.control-label Nombre
          %input{:type=>"text", :class=>"validate[required]"}

        .control-group
          %label.control-label Email
          %input{:type=>"text", :class=>"validate[required]"}

        .control-group
          %textarea{:class=>"validate[required]"} Mensaje

        .control-group.text-align-right
          %button{ type: "submit", class: "button medium orange capitalize", value: 'Enviar' }
            Enviar

    .one-half.last
      %form.form.tb-detail-box.bg-white
        %h5.title
          Información de contacto

        %dl.contact-info
          %dd Email: #{ link_to 'contacto@ahorraenvios.com ', 'mailto:contacto@ahorraenvios.com '}







