

= hidden_field_tag :page_id, params[:id]
.tb-faq
	%h1.title FAQ


	.tb-module-container

		%h4.title Preguntas más frecuentes:
		%p.orange-text.tb-question ¿Es realmente gratis este servicio para los usuarios?

		%p Sí. En ningún momento Ahorra Envíos solicitará datos de tu tarjeta de crédito ni cuenta bancaria. Podrás disfrutar y beneficiarte de este servicio totalmente gratis.

		%p.orange-text.tb-question ¿Tengo la obligación de elegir un presupuesto recibido?

		%p No, usted no tiene obligación alguna respecto a los presupuestos que reciba, no tiene que aceptar ninguno. Aunque lo más probable es que desee hacerlo. De todas formas, con el fin de protejer a los transportistas de usuarios que hagan abuso o un mal uso del servicio, el sistema realizará un seguimiento automatizado de aquellos que soliciten muchos presupuestos y que nunca acepten uno, penalizándolos en su reputación.


		%p.orange-text.tb-question Me parece una excelente idea, pero, ¿de verdad funciona?

		%p Sí, el hecho de que más de 4000 transportistas estén compitiendo por realizar tu envío te asegura un ahorro económico considerable. Ellos sabrán en todo momento el importe de los presupuestos que has recibido, con lo cual, deberán ir rebajando el monto si desean competir por tu envío. Y no sólo eso, piense el tiempo que ahorrará al no tener que contactar telefónicamente a cada transportista para solicitar un presupuesto.


		%p.orange-text.tb-question ¿Cómo sé que el transportista es de confianza?

		%p Ahorra Envíos implementa un sistema de reputación semejante al de Mercado Libre, para que los usuarios y transportistas puedan realizar una loración positiva, neutral o negativa después de cada transacción.

		%p.orange-text.tb-question ¿Está asegurada mi mercadería?

		%p Los transportistas de Ahorra Envíos detallan en su perfil público las licencias y seguros con las que cuentan para realizar los servicios. Es recomendable consultar dicha información en la página web antes de aceptar un presupuesto.


		%p.orange-text.tb-question ¿Cuántos presupuestos puedo esperar recibir?

		%p La gran mayoría de envíos publicados reciben al menos 4 presupuestos.

		%p.orange-text.tb-question ¿Cuánto tiempo tengo que esperar?

		%p En el momento en que cargas tu envío, notificamos por correo electrónico a todos los transportistas que puedan estar interesados en realizarlo. Aconsejamos que brindes un plazo de 2 o 3 días para poder recibir y comparar un mayor número de presupuestos. De todas formas, no descartes poder recibir una buena oferta en un par de horas.

		%p.orange-text.tb-question ¿Qué pasa cuando acepto un presupuesto?

		%p En ese preciso momento enviamos al transportista tus datos de contacto para que puedan concretar los detalles del servicio. Si has completado tu teléfono en tu perfil, será más fácil y rápido para el transportista ponerse en contacto contigo, sino, lo hará vía correo electrónico. Recuerde que tu también tienes la información de contacto del transportista y puedes consultarla en el presupuesto recibido.


		%p.orange-text.tb-question ¿Por qué puedo recibir presupuestos tan económicos?

		%p Te puedes beneficiar de grandes descuentos porque los transportistas que te envían sus presupuestos quizás aprovechen tu envío para completar un camión o aprovecharlo para no regresar vacíos de otra entrega realizada.





