.tb-landing-dates
  .tb-module-container.lightgrey.clear
    .tb-module-row
      %h3.title ¡MUCHAS GRACIAS! Revisá ahora tu mail para activar el anuncio.
      %h3.title Si querés recibir presupuestos más precisos ingresá los siguientes datos:
    .form
      = form_for Demand.new, url: demands_path do |f|
        .first-half
          .tb-module-container.border.clear
            %h4.title.uppercase.tb-module-row Origen
            = f.fields_for :origin, Address.new do |origin_form|
              .clear.tb-module-row
                = origin_form.label "Retirar el día:", class: 'title'
                .right-box
                  = origin_form.text_field :end, value: (params[:dates][:end] if params[:dates]), class: 'datepicker'
                  /= origin_form.text_field :street_line2, class: 'datepicker hasDatepicker'
                  
              .clear.tb-module-row
                = origin_form.label "Piso:", class: 'title'
                .right-box
                  %select.input-floor

              .clear
                = origin_form.label "Ascensor:", class: 'title'
                .right-box
                  .one-half 

                    %input{ :type=>"checkbox" }
                    %label.title.custom-checkbox.before SI
                  .one-half.last
                    %input{ :type=>"checkbox" }
                    %label.title.custom-checkbox.before NO


        .second-half
          .tb-module-container.border.clear
            %h4.title.uppercase.tb-module-row Destino
            = f.fields_for :origin, Address.new do |origin_form|
              .clear.tb-module-row
                = origin_form.label "Retirar el día:", class: 'title'
                .right-box
                  = origin_form.text_field :end, value: (params[:dates][:end] if params[:dates]), class: 'datepicker'
              .clear.tb-module-row
                = origin_form.label "Piso:", class: 'title'
                .right-box
                  %select.input-floor

              .clear
                = origin_form.label "Ascensor:", class: 'title'
                .right-box
                  .one-half 

                    %input{ :type=>"checkbox" }
                    %label.title.custom-checkbox.before SI
                  .one-half.last
                    %input{ :type=>"checkbox" }
                    %label.title.custom-checkbox.before NO


          

        .tb-module-container.border.clear.tb-module-row
          = f.fields_for :origin, Address.new do |origin_form|
            %label.title DETALLES ADICIONALES: (aquí podes comentar todos los detalles que consideres importantes)

            = origin_form.text_field :street_line2, class: 'input-full-width'

    

        %input.button.large.orange.right{:type => "Submit", :value => "enviar"} 
