
.tb-landing-thanks
	.tb-module-container.lightgrey.clear
		.tb-module-row	
			%h3.title ¡Muchas gracias!
			%h3.title Recorda activar desde tu email el anuncio.

		.tb-module-container.border.tb-module-row.clear
			%ul
				%li 
					%b descripcion: 
					2 pianos
				%li 
					%b origen: 
					Almagro, CABA
				%li 
					%b destino: 
					Palermo, CABA
				%li 
					%b datos de recolección: 
					15/10/2014 - Piso 8 - Ascensor
				%li 
					%b datos de entrega: 
					15/10/2014 - Piso 8 - Ascensor
				%li 
					%b Detalles adicionales: 
					biblioteca y plano
									

		%input.button.large.orange.right{:type => "Submit", :value => "enviar"} 
