.tb-landing-places
  .tb-module-container.lightgrey.clear
    %h3.title.tb-module-row Ingresá los datos de lo que necesitas transportar y comenzá a recibir presupuestos.
    .form
      = form_for Demand.new, url: demands_path do |f|
        .tb-module-container.border.tb-module-row.clear
          .first-half
            
            = f.fields_for :origin, Address.new do |origin_form|
              .clear
                = origin_form.label "Descripción", class: 'title'
                .right-box
                  = select_tag "demand[category]", nil, prompt: "", class: "input-full-width"

              .clear
                = f.fields_for :origin, Address.new do |origin_form|
                  = origin_form.label "Origen", class: 'title'
                  .right-box
                    = origin_form.text_field :street_line2, class: 'input-full-width'
                    %p (ej: barrio, ciudad, provincia)
              .clear
                = f.fields_for :destiny, Address.new do |destiny_form|
                  = destiny_form.label "Destino", class: 'title'
                  .right-box
                    = destiny_form.text_field :street_line2, class: 'input-full-width'
                    %p (ej: barrio, ciudad, provincia)

              .clear
                = f.fields_for :destiny, Address.new do |destiny_form|
                  = destiny_form.label "Mail", class: 'title'
                  .right-box
                    = destiny_form.text_field :street_line2, class: 'input-full-width'
                    %p (dirección de mail donde queires recibir los presupuestos)

          .second-half.text-align-center
            = image_tag "landings/cartonbox.png"
        %input.button.large.orange.right{:type => "Submit", :value => "Publicar anuncio"} 
