
.terms-and-conditions
	.section-title
		%h2.title Términos y Condiciones de Uso del Sitio

	.two-third
		%h3.title Condiciones Generales
		%ul.terms-list
			%li
				.terms-item-header.clear
					%span.terms-item-style.orange 1
					Capacidad
				%p Los Servicios sólo están disponibles para personas que tengan capacidad legal para contratar.
				%p No podrán utilizar los servicios las personas que no tengan esa capacidad, los menores de edad o los Usuarios de Ahorra Envíos que hayan sido suspendidos temporalmente o inhabilitados definitivamente. 
				%p Cualquier persona que pretenda registrar un Usuario como Empresa, debe tener capacidad para contratar a nombre de tal entidad y de obligar a la misma en lostérminos de este Acuerdo.
				
			%li
				.terms-item-header.clear
					%span.terms-item-style.orange 2
					Registración
				%p 
					/%span.terms-sub-item-style 2.1
					Es obligatorio completar el formulario de registración en todos sus campos con datos válidos para poder utilizar los servicios que brinda Ahorra Envíos. El futuro Usuario deberá completarlo con su información personal ("Datos Personales") de manera exacta, precisa y verdadera, y asume el compromiso de actualizar los Datos Personales conforme resulte necesario. Ahorra Envíos podrá utilizar diversos medios para identificar a sus Usuarios, pero no se responsabiliza por la certeza de los Datos Personales provistos por sus Usuarios. Los Usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de los Datos Personales ingresados. 
				%p Ahorra Envíos se reserva el derecho de solicitar algún comprobante y/o dato adicional a efectos de corroborar los Datos Personales, así como de suspender temporal o definitivamente a aquellos Usuarios cuyos datos no hayan podido ser confirmados, sean incompletos o hayan sido detectados como erróneos o falsos. En estos casos de inhabilitación, se darán de baja todos los artículos publicados por el Usuario, así como las ofertas realizadas, sin que ello genere algún derecho a resarcimiento. El Usuario accederá a su cuenta personal ("Cuenta") mediante el ingreso de su Apodo y clave de seguridad personal elegida ("Clave de Seguridad"). El Usuario se obliga a mantener la confidencialidad de su Clave de Seguridad. La Cuenta es personal, única e intransferible, y está prohibido que un mismo Usuario registre o posea más de una Cuenta. En caso de que Ahorra Envíos detecte distintas Cuentas que contengan datos coincidentes o relacionados, podrá cancelar, suspender o inhabilitar todas o alguna de estas cuentas. 
				%p El Usuario será responsable por todas las operaciones efectuadas en su Cuenta, pues el acceso a la misma está restringido al ingreso y uso de su Clave de Seguridad, de conocimiento exclusivo del Usuario. El Usuario se compromete a notificar a Ahorra Envíos de forma inmediata y por medio idóneo y fehaciente, cualquier uso no autorizado de su Cuenta, así como el ingreso por terceros no autorizados a la misma. Se aclara que está prohibida la venta, cesión o transferencia de la Cuenta (incluyendo la reputación y calificaciones) bajo ningún título. Ahorra Envíos se reserva el derecho de rechazar cualquier solicitud de registración o de cancelar una registración previamente aceptada, sin que esté obligado a comunicar o exponer las razones de su decisión y sin que ello genere algún derecho a indemnización o resarcimiento.
			
			%li
				.terms-item-header.clear
					%span.terms-item-style.orange 3
					Modificaciones del Acuerdo
				%p Ahorra Envíos podrá modificar los Términos y Condiciones Generales en cualquier momento haciendo públicos en el Sitio los términos modificados. Todos los términos modificados entrarán en vigor a los 10 (diez) días de su publicación. Dentro de los 5 (cinco) días siguientes a la publicación de las modificaciones introducidas, el Usuario deberá comunicar por e-mail si no acepta las mismas; en ese caso quedará disuelto el vínculo contractual y será inhabilitado como Usuario siempre que no tenga deudas pendientes. Vencido este plazo, se considerará que el Usuario acepta los nuevostérminos y el contrato continuará vinculando a ambas partes.
			%li
				.terms-item-header.clear
					%span.terms-item-style.orange 4
					Listado de Bienes
				%p 
					%span.terms-sub-item-style 4.1 
					Anuncio de bienes para el Transporte y/o Servicios. El Usuario deberá anunciar los bienes servicios en las categorías y subcategorías apropiadas. Los anuncios podrán incluir textos descriptivos, gráficos, fotografías y otros contenidos y condiciones pertinentes para el transporte del bien o la contratación del servicio, siempre que no violen ninguna disposición de este acuerdo o demás políticas de Ahorra Envíos. 
				%p El producto anunciado por el Usuario para el transporte debe ser descrito en cuanto a sus condiciones y características relevantes. En el caso de que se incluya una fotografía, esta deberá corresponder específicamente al artículo que se ofrece para el transporte.
				%p Se entiende y presume que mediante la aceptación de un presupuesto en Ahorra Envíos, el Usuario acepta que tiene la intención y el derecho de transportar el bien por él ofrecido, o está facultado para ello por su titular.
				%p Se establece que los precios de los servicios de transporte ofrecidos deberán ser expresados con IVA incluido cuando corresponda la aplicación del mismo, y en moneda del curso legal.
				%p Ahorra Envíos podrá remover cualquier publicación cuyo precio no sea expresado de esta forma, con el objetivo de evitar confusiones o malos entendidos en cuanto al precio final del servicio.
				%p Se deja expresamente establecido que ninguna descripción del servicio podrá contener datos personales o de contacto, tales como, y sin limitarse a, números telefónicos, dirección de e-mail, dirección postal, y direcciones de páginas de Internet que contengan datos como los mencionados anteriormente.
				%p No podrá publicitarse otros medios de pagos, distintos de los enunciados en la cuenta de Ahorra Envíos. En caso que se infrinja cualquiera de las disposiciones establecidas en esta cláusula, Ahorra Envíos podrá dar de baja la publicación donde se encuentre la infracción y en ningún caso se devolverán o bonificarán los cargos ya establecidos.

				%p 
					%span.terms-sub-item-style 4.2 
					Artículos Prohibidos. Sólo podrán ser anunciados aquellos bienes cuyo transporte no se encuentre tácita o expresamente prohibido en los Términos y Condiciones Generales y demás políticas de Ahorra Envíos por la ley vigente.

			%li
				.terms-item-header.clear
					%span.terms-item-style.orange 5
					Privacidad de la Información
				%p Para utilizar los Servicios ofrecidos por Ahorra Envíos, los Usuarios deberán facilitar determinados datos de carácter personal. Su información personal se procesa y almacena en servidores o medios magnéticos que mantienen altos estándares de seguridad y protección tanto física como tecnológica.
				%p Para mayor información sobre la privacidad de los Datos Personales y casos en los que será revelada la información personal, se pueden consultar nuestras Políticas de Privacidad.

			%li
				.terms-item-header.clear
					%span.terms-item-style.orange 6
					Obligaciones de los Usuarios
				%p 
					%span.terms-sub-item-style 6.1  

					Obligaciones del Usuario demandante de servicios de transporte. El Usuario demandante de servicios de transporte se compromete a publicar en el sitio con la máxima exactitud los detalles de la/-s carga/-s que necesite transportar.
				%p Una vez recibidos presupuestos por la carga que necesita transportar, el Usuario demandante deberá seleccionar uno de los presupuestos basándose en el precio del servicio a realizar y las valoraciones que los diferentes transportistas que han presupuestado por dicha carga hayan recibido de otros usuarios que utilizaron sus servicios con anterioridad.
				
				%p 
					%span.terms-sub-item-style 6.2  

					Obligaciones del Usuario transportista. Durante el plazo fijado por el Usuario demandante servicios de transporte, los Usuarios transportistas realizarán ofertas de contratación para los servicios de transportes de los bienes publicados.
				%p La oferta para los bienes publicados se cierra una vez que el Usuario demandante de servicios transporte acepta la oferta del Usuario transportista o bien hasta la fecha de caducidad de la demanda.
				%p El Usuario transportista debe intentar comunicarse con el Usuario demandante de servicios de transporte si éste no lo hace después de 48 (cuarenta y ocho) horas de aceptado el prespuesto.
				%p El Usuario transportista está obligado a completar el servicio de transporte en la fecha estipulada, salvo que la operación esté prohibida por la ley o los Términos y Condiciones Generales y demás políticas de Ahorra Envíos, en cuyo caso no estará obligado a concretar la operación.
				%p El Usuario transportista debe tener capacidad legal para realizar servicios de transportes desde y hasta las ubicaciones requeridas por el comprador del servicio.
				%p Dado que Ahorra Envíos es un punto de encuentro entre Demandantes y Proveedores de servicios de transporte y no participa de las operaciones que se realizan entre ellos, el Proveedor de servicios de transporte será responsable por todas las obligaciones y cargas impositivas que correspondan por la venta de su servicio, sin que pudiera imputársele a Ahorra Envíos algún tipo de responsabilidad por incumplimientos en tal sentido.
			%li
				.terms-item-header.clear
					%span.terms-item-style.orange 7
					Impuestos
				%p Todas las ofertas realizadas por el usuario transportista deben incluir IVA y cualquier impuesto / costo adicional. Tal como lo establece la normativa fiscal vigente, el comprador de servicios debe exigir factura o ticket al vendedor como comprobante de la operación.
				%p Ahorra Envíos no tiene participación alguna en el proceso de negociación y perfeccionamiento del contrato definitivo entre las partes. Por este motivo, Ahorra Envíos no es responsable por el efectivo cumplimiento de las obligaciones fiscales o impositivas establecidas por la ley vigente.

			%li
				.terms-item-header.clear
					%span.terms-item-style.orange 8
					Prohibiciones
				%p Tanto los Usuarios transportistas como los Usuarios demandantes de servicios de transporte tienen prohibido: (a) interferir en la puja entre distintos Usuarios; (c) dar a conocer sus datos personales o de otros usuarios por ningún medio; (d) publicar artículos prohibidos por los Términos y Condiciones Generales, demás políticas de Ahorra Envíos o leyes vigentes; (e) insultar o agredir a otros Usuarios; (f) utilizar su reputación, calificaciones, comentarios o réplicas recibidas en el sitio de Ahorra Envíos en cualquier ámbito fuera de Ahorra Envíos.
				%p Este tipo de actividades será investigado por el equipo de Ahorra Envíos y el infractor podrá ser sancionado con la pérdida y/o retiro de calificaciones, la suspensión o cancelación de la oferta, e incluso de su registro como Usuario de Ahorra Envíos, y/o de cualquier otra forma que se estime pertinente, sin perjuicio de las acciones legales a que pueda dar lugar por la configuración de delitos o contravenciones o los perjuicios civiles que pueda causar a otros Usuarios.

			%li
				.terms-item-header.clear
					%span.terms-item-style.orange 9
					Violaciones del Sistema o Bases de Datos
				%p No está permitida ninguna acción o uso de dispositivo, software, u otro medio tendiente a interferir tanto en las actividades y operatoria de Ahorra Envíos como en las ofertas, descripciones, cuentas o bases de datos de Ahorra Envíos.
				%p Cualquier intromisión, tentativa o actividad violatoria o contraria a las leyes sobre derecho de propiedad intelectual y/o a las prohibiciones estipuladas en este contrato harán pasible a su responsable de las acciones legales pertinentes, y de las sanciones previstas por este acuerdo, así como lo hará responsable de indemnizar los daños ocasionados.
			%li
				.terms-item-header.clear
					%span.terms-item-style.orange 10
					Sanciones. Suspensión de operaciones
				%p Sin perjuicio de otras medidas, Ahorra Envíos advertirá, suspenderá temporal o inhabilitará definitivamente la Cuenta de un Usuario o una publicación, e iniciará las acciones que estime pertinentes, y no le prestará sus Servicios si: (a) se quebrantara alguna ley, o cualquiera de las estipulaciones de los Términos y Condiciones Generales y demás políticas de Ahorra Envíos; (b) si incumpliera sus compromisos como Usuario; (c) si se incurriera a criterio de Ahorra Envíos en conductas o actos dolosos o fraudulentos; (d) Ahorra Envíos entendiera que las publicaciones u otras acciones pueden ser causa de responsabilidad para el Usuario que las publicó, para Ahorra Envíos para los Usuarios. En el caso de la suspensión o inhabilitación de un Usuario, todos los artículos que tuviera publicados o las ofertas realizadas también serán removidos del sistema. 

			%li
				.terms-item-header.clear
					%span.terms-item-style.orange 11
					Responsabilidad
				%p Ahorra Envíos sólo pone a disposición de los Usuarios un espacio virtual que les permite ponerse en comunicación mediante Internet para contratar y/o prestar servicios de transporte. Ahorra Envíos no es una empresa de transportes ni tiene posesión de los artículos publicados en su plataforma.
				%p Ahorra Envíos no interviene en el perfeccionamiento de las operaciones realizadas entre los Usuarios ni en lascondiciones por ellos estipuladas para las mismas, por ello no será responsable respecto de la integridad o legitimidad de los bienes publicados y servicios de transportes ofrecidos por los Usuarios, así como de la capacidad para contratar de los Usuarios o de la veracidad de los Datos Personales por ellos ingresados. Cada Usuario conoce y acepta ser el exclusivo responsable por los artículos que publica para su transporte y por las ofertas y/o contrataciones de servicio que realiza al aceptar un presupuesto.
				%p Debido a que Ahorra Envíos no tiene ninguna participación durante todo el tiempo en que el artículo se publica para su transporte, ni en la posterior negociación y perfeccionamiento del contrato definitivo entre las partes, no será responsable por el efectivo cumplimiento de las obligaciones asumidas por los Usuarios en el perfeccionamiento de la operación.
				%p El Usuario conoce y acepta que al realizar operaciones con otros Usuarios o terceros lo hace bajo su propio riesgo.En ningún caso Ahorra Envíos será responsable por lucro cesante, o por cualquier otro daño y/o perjuicio que haya podido sufrir el Usuario, debido a las operaciones realizadas o no realizadas por artículos publicados a través de Ahorra Envíos.
				%p Ahorra Envíos recomienda actuar con prudencia y sentido común al momento de realizar operaciones con otros Usuarios. El Usuario debe tener presentes, además, los riesgos de contratar con menores o con personas que se valgan de una identidad falsa. Ahorra Envíos no será responsable por la realización de ofertas y/o operaciones con otros Usuarios basadas en la confianza depositada en el sistema o los Servicios brindados por Ahorra Envíos.
				%p En caso que uno o más Usuarios o algún tercero inicien cualquier tipo de reclamo o acciones legales contra otro u otros Usuarios, todos y cada uno de los Usuarios involucrados en dichos reclamos o acciones eximen de toda responsabilidad a Ahorra Envíos y a sus directores, gerentes, empleados, agentes, operarios, representantes yapoderados.
			%li
				.terms-item-header.clear
					%span.terms-item-style.orange 12
					Alcance de los servicios de Ahorra Envíos
				%p Este acuerdo no crea ningún contrato de sociedad, de mandato, de franquicia, o relación laboral entre Ahorra Envíos y el Usuario. El Usuario reconoce y acepta que Ahorra Envíos no es parte en ninguna operación, ni tiene control alguno sobre la calidad, seguridad o legalidad de los artículos anunciados, la veracidad o exactitud de los anuncios, la capacidad de los Usuarios para ofrecer o demandar servicios de transportes.
				%p Ahorra Envíos no puede asegurar que un Usuario completará una operación ni podrá verificar la identidad o Datos Personales ingresados por los Usuarios. Ahorra Envíos no garantiza la veracidad de la publicidad de terceros que aparezca en el sitio y no será responsable por la correspondencia o contratos que el Usuario celebre con dichos terceros o con otros Usuarios.

			%li
				.terms-item-header.clear
					%span.terms-item-style.orange 13
					Fallas en el sistema
				%p Ahorra Envíos no se responsabiliza por cualquier daño, perjuicio o pérdida al Usuario 	causados por fallas en el sistema, en el servidor o en Internet. Ahorra Envíos tampoco será responsable por cualquier virus que pudiera infectar el equipo del Usuario como consecuencia del acceso, uso o examen de su sitio web o a raíz de cualquier transferencia de datos, archivos, imágenes, textos, o audio contenidos en el mismo.

				%p Los Usuarios no podrán imputarle responsabilidad alguna ni exigir pago por lucro cesante, en virtud de perjuicios resultantes de dificultades técnicas o fallas en los sistemas o en Internet. 
				%p Ahorra Envíos no garantiza el acceso y uso continuado o ininterrumpido de su sitio. El sistema puede eventualmente no estar disponible debido a dificultades técnicas o fallas de Internet, o por cualquier otra circunstancia ajena a Ahorra Envíos; en tales casos se procurará restablecerlo con la mayor celeridad posible sin que por ello pueda imputársele algún tipo de responsabilidad. Ahorra Envíos no será responsable por ningún error u omisión contenidos en su sitio web.


			%li
				.terms-item-header.clear
					%span.terms-item-style.orange 14
					Tarifas y Facturación.
				%p La registración y publicación de bienes o servicios en Ahorra Envíos es gratuita. El usuario NO deberá pagar un cargo de publicación.
				%p Por la utilización de los Servicios, el Usuario Transportista deberá pagar una tarifa ("Tarifa") a Ahorra Envíos sólo cuando un usuario no transportista visualice su presupuesto o en los casos establecidos en la sección Tarifas y Facturación.
				%p El Usuario transportista se obliga a abonar a Ahorra Envíos la Tarifa, por cualquier servicio prestado por Ahorra Envíos por el cual haya establecida una tarifa vigente.
				%p Ahorra Envíos se reserva el derecho de modificar, cambiar, agregar, o eliminar las tarifas vigentes, en cualquier momento, lo cual será notificado a los Usuarios, en la forma establecida en la Cláusula 3. Sin embargo, Ahorra Envíos podrá modificar temporalmente la Política de Tarifas y las tarifas por sus servicios por razón de promociones, siendo efectivas estas modificaciones cuando y en las condiciones en que se estipule en la promoción o anuncio.
				%p Ahorra Envíos se reserva el derecho de tomar las medidas judiciales y extrajudiciales que estime pertinentes para obtener el pago del monto debido.
				%p En caso de haberse facturado cargos que no hubiesen correspondido, el Usuario deberá comunicarse con nuestro equipo de Atención al Cliente para resolver dicha cuestión.

			%li
				.terms-item-header.clear
					%span.terms-item-style.orange 15
					Sistema de calificaciones
				%p Debido a que la verificación de la identidad de los Usuarios en Internet es difícil, Ahorra Envíos no puede confirmar ni confirma la identidad pretendida de cada Usuario.
				%p Por ello el Usuario cuenta con un sistema de calificaciones de Usuarios que es actualizado periódicamente por los comentarios ingresados por los Usuarios según las operaciones que hayan realizado. Tanto aquellos Usuarios que hayan resultado ganadores de una oferta como el demandante del servicio de transporte deberán ingresar una calificación informando acerca de la concreción o no de la operación; también podrá ingresar un comentario si así lo desea.
				%p Las calificaciones y comentarios realizadas serán incluidas bajo exclusiva responsabilidad de los Usuarios que los emitan. Ahorra Envíos no tiene obligación de verificar la veracidad o exactitud de los mismos y no se responsabiliza por los dichos allí vertidos por cualquier Usuario, por las operaciones que los Usuarios realicen teniéndolos en cuenta o por la confianza depositada en las calificaciones de la contraparte o por cualquier otro comentario expresado dentro del sitio o a través de cualquier otro medio incluido el correo electrónico. Ahorra Envíos se reserva el derecho de eliminar aquellos comentarios que sean considerados inadecuados u ofensivos. Ahorra Envíos mantiene el derecho de excluir a aquellos Usuarios que sean objeto de comentarios negativos provenientes de fuentes distintas.


			%li
				.terms-item-header.clear
					%span.terms-item-style.orange 16
					Propiedad intelectual. Enlaces
				%p Los contenidos de las pantallas relativas a los servicios de Ahorra Envíos como así también los programas, bases de datos, redes, archivos que permiten al Usuario acceder y usar su Cuenta, son de propiedad de Ahorra Envíos y están protegidas por las leyes y los tratados internacionales de derecho de autor, marcas, patentes, modelos y diseños industriales. El uso indebido y la reproducción total o parcial de dichos contenidos quedan prohibidos, salvo autorización expresa y por escrito de Ahorra Envíos.
				%p El Sitio puede contener enlaces a otros sitios web lo cual no indica que éstos sean propiedad u operados por Ahorra Envíos. En virtud que Ahorra Envíos no tiene control sobre tales sitios, no será responsable por los contenidos, materiales, acciones y/o servicios prestados por los mismos, ni por daños o pérdidas ocasionadas por la utilización de los mismos, sean causadas directa o indirectamente. La presencia de enlaces a otros sitios web no implica una sociedad, relación, aprobación, respaldo de Ahorra Envíos a dichos sitios y sus contenidos.

			%li
				.terms-item-header.clear
					%span.terms-item-style.orange 17
					Indemnización
				%p El Usuario indemnizará y mantendrá indemne a Ahorra Envíos, sus filiales, empresas controladas y/o controlantes, directivos, administradores, representantes y empleados, por cualquier reclamo o demanda de otros Usuarios o terceros por sus actividades en el Sitio o por su incumplimiento los Términos y Condiciones Generales y demás Políticas que se entienden incorporadas al presente o por la violación de cualesquiera leyes o derechos de terceros, incluyendo los honorarios de abogados en una cantidad razonable.

	.one-third.last
		%h3.title Condiciones de uso

		%p Este contrato describe los términos y condiciones generales (los "Términos y Condiciones Generales") aplicables al uso de los servicios ofrecidos por Ahorra Envíos S.A.("Los Servicios") dentro de los sitios www.AhorraEnvios.com y www.AhorraEnvios.com.ar ("AhorraEnvios" o el "sitio"). Cualquier persona (en adelante "Usuario" o en plural "Usuarios") que desee acceder y/o usar el sitio o los servicios podrá hacerlo sujetándose a los Términos y Condiciones Generales, junto con todas las demás políticas y principios que rigen AhorraEnvios y que son incorporados al presente por referencia.
		%p El Usuario debe leer, entender y aceptar todas las condiciones establecidas en los Términos y Condiciones Generales yen las Políticas de Privacidad, así como en los demás documentos incorporados a los mismos por referencia, previas a su registración como Usuario de AhorraEnvios.


		%h3.title Información que debemos facilitarle

		%p AhorraEnvios se encuentra registrada con dirección legal en Talcahuano 840, Piso 4, C1013AAR, Buenos Aires, Argentina.

