= form_for([:admin, vehicle_caracteristic]) do |f|
  - if vehicle_caracteristic.errors.any?
    #error_explanation
      %h6.bold= "#{pluralize(vehicle_caracteristic.errors.count, "error")} prohibited this vehicle caracteristic from being saved:"
      %ul
        - vehicle_caracteristic.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name

  .actions
    = f.submit nil, class: 'btn btn-primary'

= link_to 'Atrás', admin_vehicle_caracteristics_path, class: 'btn'
