%h1 Caracteristicas de Vehiculos
%br

%table.table
  %tr
    %th Descripción
    %th
    %th
    %th

  - vehicle_caracteristics.each do |vehicle_caracteristic|
    %tr
      %td= vehicle_caracteristic.name
      %td= link_to 'Mostrar', admin_vehicle_caracteristic_path(vehicle_caracteristic), class: 'btn btn-info'
      %td= link_to 'Editar', edit_admin_vehicle_caracteristic_path(vehicle_caracteristic), class: 'btn btn-warning'
      %td= link_to 'Borrar', admin_vehicle_caracteristic_path(vehicle_caracteristic), method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger'

%br

= link_to 'Nueva', new_admin_vehicle_caracteristic_path, class: 'btn btn-primary'
