%p#notice= notice

%p
  %b Name:
  = vehicle_caracteristic.name

= link_to 'Editar', edit_admin_vehicle_caracteristic_path(vehicle_caracteristic), class: 'btn'
= link_to 'Atrás', admin_vehicle_caracteristics_path, class: 'btn'
