%ul.grid.row4.services

  = link_to edit_client_path(current_user.role) do
    %li.last-row
      %div#profile-link
        %i.icon-user.large-icon
        %h2 Perfil
        - unless current_user.complete?
          %span.update-counter.center (incompleto)
        - else
          %span.update-counter


  = link_to demands_path do
    %li.last-row
      %div#demands-link
        %h2 Envíos
        - if current_user.role.has_news?
          %span.update-counter=  current_user.role.news_count
        - else
          %span.update-counter

        %i.icon-truck.large-icon

  = link_to notifications_path do
    %li.last-row
      %div#notifications-link
        %h2 Notificaciones

        - if current_user.unread_notifications.count > 0
          %span.update-counter= current_user.unread_notifications.count
        - else
          %span.update-counter


        %i.icon-volume-up.large-icon

  = link_to ratings_path do
    %li.last-row.last
      %div#rating-link
        %h2 Valoraciones

        - if current_user.pending_rating.count > 0
          %span.update-counter= current_user.pending_rating.count
        - else
          %span.update-counter


        %i.icon-star.large-icon
