#header-wrapper
  .header.clear
    #logo
      = link_to(root_path) do
        = image_tag "home/logo.png"
    .right
      .buttons
        - if !current_user
          = link_to 'Iniciar Sesión', new_user_session_path, class: 'button medium middlegrey capitalize'
          = link_to(user_omniauth_authorize_path(:facebook), class: '') do
            %span.common-sprite-fb-button
          = link_to 'Registrarse', new_user_session_path, class: 'button medium orange capitalize'
        - else
          %span
            Bienvenido
          %span.nick= current_user.username
          = stars(current_user.total_rating)
          = link_to 'Salir', destroy_user_session_path, method: :delete, class: 'button medium orange capitalize'

      

      #primary-menu

        %ul.menu
          %li= link_to 'Inicio', root_path, id: "home-link"
          %li= link_to 'Publicar Envío', new_demand_path, id: 'new-demand-link'
          %li= link_to 'Buscar Envío', search_demands_path
         

  / END HEADER
