= javascript_include_tag "application"
%script{type: "text/javascript", src: "https://maps.google.com/maps/api/js?sensor=false&libraries=places,drawing,geometry&region=ar&components=country:AR&language=es"}

