#wrapper

  .content-wrapper.clear
    - unless flash.empty?
      - flash.each do |name, msg|
        - if msg.is_a?(String)
          = content_tag :div, :class => "alert alert-#{name}" do
            %button{:class => "close", 'data-dismiss' => "alert"}
              x

            = msg

    /%hr

    = render_current_user_navigation_bar params

    .clear

    = yield
