.divider-border

#footer.footer
  #footer-content.footer-content

    .footer-links.clear
      .one-fifth
        .footer-item
          = link_to '¿Sos transportista?',page_path("como_funciona"), class: 'orange-text'
      .one-fifth
        .footer-item= link_to "Cómo funciona", page_path("como_funciona"), id: "como_funciona-link"
      .one-fifth
        .footer-item= link_to 'Faq', page_path("faq"), id: "faq-link"
      .one-fifth
        .footer-item= link_to 'Contactar', page_path("contacto"), id: "contact-link"
      .one-fifth.last
        .footer-item.asociated
          %span.common-sprite-ml-logo
          %p Servicio compatible



    %p.legend
      = Time.now.year
      &copy; Ahorra Envíos
      &ensp; &bull; &ensp;
      = link_to 'Términos y condiciones', page_path("terminos_condiciones")
      &ensp; &bull; &ensp;
      Políticas de privacidad

