.well.sidebar-nav
  %ul.nav.nav-list
    %li= link_to "Servicios Extra", admin_extra_services_path
    %li= link_to "Tipos de Movimientos", admin_movement_types_path
    %li= link_to "Usuarios", admin_users_path
    %li= link_to "Condiciones de Pago", admin_payment_conditions_path
    %li= link_to "Categorias", admin_categories_path
    %li= link_to "Grupos", admin_groups_path
    %li= link_to "Iconos", admin_icons_path
    %li= link_to "Plantillas", admin_templates_path
    %li= link_to "Iconos y sus Plantillas", admin_icons_templates_path
    %li= link_to "Caracteristicas de vehiculos", admin_vehicle_caracteristics_path
    %li= link_to "Transportistas", admin_transporters_path
    %li= link_to "Banners Home", admin_home_banners_path
    %li= link_to "Contenidos", admin_page_contents_path
    %li= link_to "Envios", admin_demands_path
    %li= link_to "Presupuestos", admin_budgets_path
