%ul.grid.row7.services
  = link_to transporter_budgets_path(current_user.role) do
    %li.last-row
      %div#budgets-link
        %h2 Presupuestos

        - if current_user.role.budgets_with_new_client_comments.count > 0
          %span.update-counter= current_user.role.budgets_with_new_client_comments.count
        - else
          %span.update-counter

        %i.icon-certificate.large-icon
  = link_to notifications_path do
    %li.last-row
      %div#notifications-link
        %h2 Notificaciones

        - if current_user.unread_notifications.count > 0
          %span.update-counter= current_user.unread_notifications.count
        - else
          %span.update-counter

        %i.icon-volume-up.large-icon
  = link_to ratings_path do
    %li.last-row
      %div#rating-link
        %h2 Valoraciones

        - if current_user.pending_rating.count > 0
          %span.update-counter= current_user.pending_rating.count
        - else
          %span.update-counter

        %i.icon-star.large-icon
  = link_to favorites_path do
    %li.last-row
      %div#favorites-link
        %h2 Favoritos
        %span.update-counter 
        %i.icon-heart.large-icon
  = link_to edit_transporter_path(current_user.role) do
    %li.last-row
      %div#transporter-profile-link
        %h2 Perfil

        - unless current_user.complete?
          %span.update-counter.center (incompleto)
        - else
          %span.update-counter

        %i.icon-user.large-icon
  = link_to "#" do
    %li.last-row
      %div#credits-link{style: "background-color: #ddd;"}
        %h2 Creditos
        /- if current_user.total_credits > 0
        /  %span.update-counter= current_user.total_credits
        /- else
        /  %span.update-counter
        %span.update-counter

        %i.icon-briefcase.large-icon
  = link_to transporter_reports_path(current_user.role) do
    %li.last-row.last
      %div#reports-link
        %h2 Informes
        %span.update-counter
        %i.icon-list-alt.large-icon
