@import "../variables";
@import "../responsive";

.tb-favorites-index{
	min-height: 300px;
	back
	h1, h2, h3, h4, h5, h6{
	    margin: 0;
	}
	.tb-favourite-table{
	    table-layout: fixed;

	    h1, h2, h3, h4, h5, h6{
	        margin: 0;
	    }
	    .title{
	        color: $tb-white;
	    }
	    .tb-favourite-value{
	        width: 20%;
	    }
	    .tb-favourite-km{
	        width: 10%;
	    }
	    .tb-favourite-end, .tb-favourite-budget{
	    	width: 15%;
	    }

	    tbody{

	        tr{
	            color: $tb-gray;
	            font-size: $tb-size-12;
	            background-color: $tb-subtitle-bg;
	        }
	        td{
	            border-collapse: collapse;
	            border-bottom: 5px solid $tb-container;
	            vertical-align: middle;

		    	.icon-heart{
		    		margin-right: 10px;
		    		float: left;
		    		margin-top: 4px;

		    	}
		    	.tb-favorite-name{
		    		float: left;
		    		white-space: nowrap;
			    	overflow: hidden;
			    	text-overflow: ellipsis;
			    	max-width: 80%;
			    	display: block;
			    }
			   

	        }
	       /* .tb-favorite-heart, .tb-favorite-img{
		        text-align: center;
		        vertical-align: middle;
		        padding: 0 0 0 10px;
		     
		    }*/
		  
	    }
	    .tb-fav-budget-btn{
	    	margin-left: 5px;
	    }

    
	}
	@mixin tb-favorites-responsive{
		
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; }
		
		td { 
			/* Behave  like a "row" */
	
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding: 8px 0 8px 50%;
			min-height: 22px;
			
			
		}
		
		td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		
		.tb-history-table{
			tr{
				td{
					width: auto;
					&:first-child{
						span{padding-left: 0};
					}
				}
			}
		*/
		td:nth-of-type(2):before { content: "Descripción envío"; }
		td:nth-of-type(3):before { content: "Origen"; }
		td:nth-of-type(4):before { content: "Destino"; }
		td:nth-of-type(5):before { content: "Km"; }
		td:nth-of-type(6):before { content: "Finaliza en "; }
		td:nth-of-type(7):before { content: "Presupuestos"; }
	
	}
	@include tb-size-medium{

		@include tb-favorites-responsive;
	}
	@include tb-size-small{
		@include tb-favorites-responsive;
	}
}