= form_for([transporter, company]) do |f|
  - if company.errors.any?
    #error_explanation
      %h6.bold= "#{pluralize(company.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - company.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :company_type
    = f.text_field :company_type
  .field
    = f.label :number_of_employees
    = f.number_field :number_of_employees
  .field
    = f.label :number_of_drivers
    = f.number_field :number_of_drivers
  .field
    = f.label :year_of_creation
    = f.number_field :year_of_creation
  .field
    = f.label :transport_license_number
    = f.text_field :transport_license_number
  .field
    = f.label :image
    = f.fields_for :image do |u|
      = u.file_field :image

  .actions
    = f.submit 'Guardar Compañía', class: "btn btn-primary"
