%table
  %tr
    %th Nombre
    %th Año de creación
    %th Numero de licencia de transporte
    %th Numero de conductores
    %th Numero de empleados
    %th Tipo de empresa
    %th
    %th
    %th

  %tr
    %td= company.name
    %td= company.year_of_creation
    %td= company.transport_license_number
    %td= company.number_of_drivers
    %td= company.number_of_employees
    %td= company.company_type
