%p#notice= notice

%p
  %b Nombre:
  = company.name
%p
  %b Año de creación:
  = company.year_of_creation
%p
  %b Numero de licencia de transporte:
  = company.transport_license_number
%p
  %b Numero de conductores:
  = company.number_of_drivers
%p
  %b Numero de empleados:
  = company.number_of_employees
%p
  %b Tipo de empresa:
  = company.company_type

