= fields_for :demand do |form|
  = form.fields_for :data do |form|

    .form.tb-detail-box.bg-white
      %h5.title
        Vehiculo a recoger

      .control-group
        = form.check_box :works, {checked: demand.parsed_data['works'] == 'Si'}, checked_value = "Si", unchecked_value = "No"
        = form.label :works, t('helpers.label.demand.works'), class: "control-label custom-checkbox"
      .control-group
        = form.check_box :has_been_modified, {checked: demand.parsed_data['has_been_modified'] == 'Si'}, checked_value = "Si", unchecked_value = "No"
        = form.label :has_been_modified, t('helpers.label.demand.has_been_modified'), class: "control-label custom-checkbox"
      .control-group
        = form.check_box :is_in_trailer, {checked: demand.parsed_data['is_in_trailer'] == 'Si'}, checked_value = "Si", unchecked_value = "No"
        = form.label :is_in_trailer, t('helpers.label.demand.is_in_trailer'), class: "control-label custom-checkbox"
