.tb-dimmensions{
	.form{
		.one-half &{
			label{
				width: 34%;
				
				
			}
			input[type="text"]{
				width:40%;
				margin-left: 1%;

			}
			select{
				width: 17%;
			}
		}
	}
	
}
.tb-pets{
	.one-half &{
		label{
			width: 42%;
			
		}	
	
	}
}
.tb-pax{
	.control-group{
		margin-bottom: 5px;
	}
	.control-label{
		width: 42%;
		/*&.custom-checkbox{
			width: 82%;
		}
*/
	}
	
}