@import "variables";

/* ICON GRID */

/* CSS reset */
.da-thumbs div, .da-thumbs ul, .da-thumbs ol, .da-thumbs li, .da-thumbs h3 {
	margin:0;
	padding:0;
}

.da-thumbs img {
	border:0;
}

.da-thumbs a{
	text-decoration: none;
}

/* Icon Hover */
.da-thumbs li ,
.da-thumbs li  img {
	display: block;
	position: relative;
}
.da-thumbs li  {
	overflow: hidden;
}
.da-thumbs li  article {
	position: absolute;
	background-image:url(/images/image_hover.png);
	background-repeat:repeat;
	width: 100%;
	height: 100%;
}
.da-thumbs li  article.da-animate {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
/* Initial state classes: */
.da-slideFromTop {
	left: 0px;
	top: -100%;
}
.da-slideFromBottom {
	left: 0px;
	top: 100%;
}
.da-slideFromLeft {
	top: 0px;
	left: -100%;
}
.da-slideFromRight {
	top: 0px;
	left: 100%;
}
/* Final state classes: */
.da-slideTop {
	top: 0px;
}
.da-slideLeft {
	left: 0px;
}
.da-thumbs li  article a {
	color:#fff;
	padding:5px;
	display:block;
}

.da-thumbs {
	text-align:center;
}
/*
.da-thumbs li  article h3{
	color:#666;
	font-size:10pt;
	font-weight:normal;
	padding-top:5px;
	cursor:default;
	min-height: 32px;
	line-height: 15px;
}
*/
.da-thumbs li  article em{
	margin-bottom:5px;
	font-size:10pt;
	font-weight:normal;
	color:#fff;
	display:block;
}

.da-thumbs li  article span{
	display:inline-block;
}

span.mas{
	float:left;
	width:21px;
	overflow:hidden;
	display:block;
	font-size:14pt;
	background-color:#f96e5b;
	cursor:pointer;
}

span.menos{
	float:left;
	width:21px;
	overflow:hidden;
	display:block;
	font-size:16pt;
	background-color:#f96e5b;
	cursor:pointer;
	margin-left:0px;
}

.icons-image {
  position: relative;
}


span.qty {
	color: #f96e5b;
  font-weight: bold;
  left: 46px;
  position: absolute;
  top: 41px;
  width: 12px;
}

/* Image Grid */
.image_grid {
	float: left;
	margin: 5px 0 0;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.image_grid li{
	float: left;
	line-height: 17px;
	color: #686f74;
	list-style:none;
	overflow:hidden;
	margin-bottom:3px;
	margin-right:3px;
	text-align:center;
}

/* Responsive image grid*/
/* Mobile landscape width 320 */
@media only screen and (max-width: 767px) {
	.image_grid li img{
		width:63px;
	}

	/*
	.image_grid{
		width:300px;
	}

	

	.portfolio_4col .da-thumbs li article h3{
		padding-top:5px;
	}
*/
}


@media only screen and (min-width: 480px) and (max-width: 767px) {
	/*
	.image_grid{
		width:450px;
	}

	.image_grid li{
		width:178px !important;
	}

	.portfolio_4col .da-thumbs li article h3{
		padding-top:58px;
	}
	*/
}