@import "../variables";


.ie7 {
	#categories{
		label.custom-checkbox{
			line-height: 14px;
			width:	75%;
		}
		input[type="checkbox"]{
			float:left;
			margin-right: 5px;
		}	
	}
	.porfolio_list{
		li{
			.mas, .menos{
				a{
					color: $tb-white;
					&:hover{
						color: $tb-black;
					}
				}
			}
		}
	}
}