= form_for Credit.new, html: {class: '  tb-credits-form', id: 'credits-form'}  do |f|
  .bg-white.tb-detail-box.tb-module-row
    %h5.title
      Seleccione el importe a cargar (iva incluído):
    .tb-detail-box-content
      .row-fluid
        .span5= f.label '$50'
        = f.radio_button :amount, 50, class: 'validate[required]'
      .row-fluid
        .span5= f.label '$100'
        = f.radio_button :amount, 100, class: 'validate[required]'
      .row-fluid
        .span5= f.label '$200'
        = f.radio_button :amount, 200, class: 'validate[required]'
      .row-fluid
        .span5= f.label '$500'
        = f.radio_button :amount, 500, class: 'validate[required]'

    %h5.title
      Método de pago
    .tb-detail-box-content
      .row-fluid
        .span5= f.label 'PayPal'
        = f.radio_button :payment_type, 'paypal', class: 'validate[required]'
      .row-fluid
        .span5= f.label 'MercadoPago'
        = f.radio_button :payment_type, 'mercadopago', class: 'validate[required]'
      .row-fluid
        .span5= f.label 'Visa'
        = f.radio_button :payment_type, 'visa', class: 'validate[required]'

  .right
    = f.submit 'Comprar', class: 'button orange large'
