.tb-navs-container 
  %ul.nav.nav-tabs
    %li{ class: (params[:status].nil?) ? 'active' : nil }
      %a{ href: "#buy-credits", 'data-toggle' => "tab"}
        Comprar Créditos
    %li{ class: (params[:status] == 'history') ? 'active' : nil }
      %a{ href: "#history", 'data-toggle' => "tab"}
        Historial de compras
    %li{ class: (params[:status] == 'billing') ? 'active' : nil }
      %a{ href: "#billing-data", 'data-toggle' => "tab"}
        Datos de facturación

.credits.tb-credits-index.tab-content
  #buy-credits.clear.tab-pane{ class: (params[:status].nil?) ? 'active' : nil }
    .tb-module-container.clear.lightgrey
      .one-third.tb-credits-first
        .tb-accordion-title.text-align-center.orange
          %h5.title.white
            Credito Actual
        .tb-detail-box.bg-white.text-align-center
          .available-credits.orange-text= number_to_currency current_user.total_credits, precision: 0 
          = link_to "(Ver tarifario)", "/data/#{pdf_file}", target: "_blank"


      .one-third.tb-credits-second
        = render 'form'
      .one-third.last.tb-credits-third
        .tb-detail-box.bg-white.tb-credits-billinfo
          %h5.title Datos de facturación
          .tb-detail-box-content
            %div= "#{@billing_address.first_name} #{@billing_address.last_name}"
            %div= @billing_address.street_line
            %div= @billing_address.city
            %div= @billing_address.zip
            %div= @billing_address.state
            %div= @billing_address.country

          .right= link_to 'Modificar datos', credits_path(status: 'billing'), class: 'button orange medium'

          .clear

  #history.clear.tab-pane.ratings.search{ class: (params[:status] == 'history') ? 'active' : nil }

    %table.table.reports-table.tb-history-table
      %thead
        %tr.orange
          %th
            %h5.title Fecha
          %th           
            %h5.title Nº de pedido
          %th
            %h5.title Movimiento
          %th
            %h5.title Pagado con
          %th
            %h5.title Importe abonado
          %th
            %h5.title Importe acreditado
          %th
            %h5.title Estado
      %tbody
        - credits.each do |credit|
          %tr
            %td
              %span= credit.created_at.to_s(:short)
            %td
              %span= credit.id
            %td
              %span= credit.movement_type.description if credit.movement_type
            %td
              %span= credit.payment_type
            %td
              %span= credit.amount
            %td
              %span= credit.amount
            %td
              %span= credit.status

  #billing-data.tab-pane{ class: (params[:status] == 'billing') ? 'active' : nil }
    .tb-module-container.clear.lightgrey
      = render 'billing_addresses/form'

%br
