%p#notice= notice

- if credit.movement_type
  %p
    %b Movement type:
    = credit.movement_type.description
%p
  %b Monto:
  = credit.amount

- if credit.budget
  %p
    %b Envio:
    = credit.budget.demand.description

= link_to 'Atras', credits_path, class: 'button orange medium'
