.tb-demands-form.lightgrey
  = form_for(demand, url: wizard_path, method: :put, html: {class: ' ', id: 'demand-form'}) do |f|
    - if demand.errors.any?
      #error_explanation.tb-module-container
        %h6.bold= "No se pudo crear el envío, verifique los siguientes errores:"
        %ul
          - demand.errors.full_messages.each do |msg|
            %li= msg

    .tb-accordion-title.orange.clear
      %h5.title
        %span.white Recibí mejores precios completando la siguiente informacion

    .tb-module-container.clear
      //Nueva fila
      - if demand.category.name == "Mudanzas" || (demand.category.parent && demand.category.parent.name == "Mudanzas")
        = render partial: '/categories/generic'
      .tb-module-row.clear
        .one-half
          .form.bg-white.tb-detail-box
            %h5.title
              Imagenes

            #image-form
              .field
                = fields_for :image do |image_form|
                  %span.fileinput-button.thumbnail
                    = image_form.file_field :image

              .fotos
                - demand.images.each do |image|
                  = render image
        .one-half.last
          .tb-dimmensions
            .form.bg-white.tb-detail-box

              - if demand.category.name == "Mudanzas" || (demand.category.parent && demand.category.parent.name == "Mudanzas")
                .tb-module-row.clear
                  %h5.title Descripción
                  
                  - if demand.category.parent
                    = f.text_area(:description, rows: 1, value: "#{demand.category.parent.name} #{demand.category.name}", class: "input-full-width")
                  - else
                    = f.text_area(:description, rows: 1, value: "#{demand.category.name}", class: "input-full-width")

              %h5.title Detalles adicionales
              = f.text_area(:detail, rows: 3, class: "input-full-width")

      .tb-module-row.clear
        .one-half
          &nbsp;
        .one-half.last
          .tb-demands-submit-btn
            = link_to 'Atras', previous_wizard_path, class: 'button large orange'
            = f.submit 'Publicar', class: 'button large orange'
