.tb-demands-form.lightgrey
  = form_for(demand, url: wizard_path, method: :put, html: {class: ' ', id: 'demand-form'}) do |f|
    = hidden_field_tag :demand_id, demand.id
    - if demand.errors.any?
      #error_explanation.tb-module-container
        %h6.bold= "No se pudo crear el envío, verifique los siguientes errores:"
        %ul
          - demand.errors.full_messages.each do |msg|
            %li= msg
    .tb-module-container.clear
      .tb-module-row.clear.sub-categories

        - if @category
          -if @category.parent
            = hidden_field_tag :parent_category,  @category.parent.id if @category.parent

            - begin
              = render template: "categories/#{"#{@category.parent.normalized_name}/" if @category.parent}#{@category.normalized_name}", locals: {form: f}
            -rescue
              = render partial: "categories/#{@category.parent.normalized_name}" , locals: {form: f}

      .tb-module-row.clear
        .one-half
          .form.bg-white.tb-detail-box
            %h5.title Retirar el día
            = f.fields_for :origin_information do |origin_information_form|
              = render 'location_informations/form', {form: origin_information_form, date_range: "Retirar el día"}

        .one-half.last
          .form.bg-white.tb-detail-box
            %h5.title Entregar el día
            = f.fields_for :destiny_information do |destiny_information_form|
              = render 'location_informations/form', {form: destiny_information_form, date_range: "Entregar el día"}

      .tb-module-row.clear
        .one-half
          .form.bg-white.tb-detail-box
            .control-group
              .tb-datepicker-expiration
                = f.label 'Recibir presupuestos hasta el:'
                .datepicker-field
                  - unless f.object.budget_hosting_expiration_date.nil?
                    = f.text_field :budget_hosting_expiration_date, value: l(f.object.budget_hosting_expiration_date), class: 'datepicker'
                  - else
                    = f.text_field :budget_hosting_expiration_date, class: 'datepicker'
                %label#expiration_notification

        .one-half.last
          .tb-demands-submit-btn
            = link_to 'Atras', (current_user ? (demand.active? ? demands_path : new_demand_path) : root_path), class: 'button large orange'
            = f.submit 'Siguiente', class: 'button large orange'
