/.control-group.extra-services
/  = form.check_box :has_place_to_park, class: "right"
/  = form.label :has_place_to_park, class: " custom-checkbox"
/
.control-group
  /= form.select :date_range, date_ranges, {}, class: "date-range-select input-full-width"
  / = form.label date_range

.control-group
  .date-from.datepicker-box
    .datepicker-field
      - unless form.object.delivery_date_from.nil?
        = form.text_field :delivery_date_from, value: l(form.object.delivery_date_from), class: 'datepicker'
      - else
        = form.text_field :delivery_date_from, class: 'datepicker'

  .date-to.datepicker-box.last{style: "display:none;"}
    .datepicker-field
      - unless form.object.delivery_date_to.nil?
        = form.text_field :delivery_date_to, value: l(form.object.delivery_date_to), class: 'datepicker'
      - else
        = form.text_field :delivery_date_to, class: 'datepicker'
