= form_for([:admin, movement_type]) do |f|
  - if movement_type.errors.any?
    #error_explanation
      %h6.bold= "#{pluralize(extra_service.errors.count, "error")} prohibited this extra service from being saved:"
      %ul
        - movement_type.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    = f.text_field :description

  .actions
    = f.submit 'Guardar Tipo de Movimiento', class: 'btn btn-primary'
