%h1 Tipo de Movimiento
%br

%table.table
  %tr
    %th Descripcion
    %th      
    %th
    %th

  - movement_types.each do |movement_type|
    %tr
      %td= movement_type.description
      %td= link_to 'Mostrar', admin_movement_type_path(movement_type), class: 'btn btn-info'
      %td= link_to 'Editar', edit_admin_movement_type_path(movement_type), class: 'btn btn-warning'
      %td= link_to 'Borrar', admin_movement_type_path(movement_type), method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger'

%br

= link_to 'Nuevo Tipo de Movimiento', new_admin_movement_type_path, class: 'btn btn-primary'
