%p#notice= notice

%p
  %b Description:
  = movement_type.description

= link_to 'Editar', edit_admin_movement_type_path(movement_type), class: 'btn'
= link_to 'Atrás', admin_movement_types_path, class: 'btn'
