.tb-module-container.lightgrey.session-new.clear
  .one-half

    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form   sign-in-form tb-detail-box bg-white', id: "sign-in-form"}) do |f|

      %h5.title
        Iniciar Sesión

      .control-group
        = f.label "Nombre de usuario o e-mail", class: 'control-label'
        = f.text_field :login, class: 'validate[required]'

      .control-group
        = f.label "Contraseña", class: 'control-label'
        = f.password_field :password, class: 'validate[required]'

      %p= link_to 'Olvidé mi contraseña', new_password_path(resource_name)

      .control-group.text-align-right
        = f.submit "Iniciar Sesión", :class => 'button medium orange capitalize'
        %i.icon-lock.icon-large

  .one-half.last
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form   tb-detail-box bg-white', id: "registration-form"}) do |f|
      %h5.title
        Registrarse

      %p
        Consiga su cuenta gratuita de usuario o proveedor de servicios de transporte en Ahorra Envíos. No le costará más de 60 segundos dar los primeros pasos.

      = devise_error_messages!

      = f.hidden_field :provider
      = f.hidden_field :uid
      .tb-module-row
        .control-group
          = f.label :username, class: 'control-label'
          = f.text_field :username, class: 'validate[required]'

        .control-group
          = f.label :email, class: 'control-label'
          = f.email_field :email, class: 'validate[required]'

        .control-group
          = f.label :password, class: 'control-label'
          = f.password_field :password, class: 'validate[required]'

        .control-group
          = f.label :password_confirmation, class: 'control-label'
          = f.password_field :password_confirmation, class: 'validate[required]'
        .control-group.tb-form-conditions
          = f.check_box :accept_use_conditions
          = f.label :accept_use_conditions, class: 'inline custom-checkbox'

      .control-group.text-align-center
        - if session[:demand_id]
          %button{ type: "submit", class: "button large orange sign-in", name: 'commit', value: 'client' }
            %i.icon-user
            Registrarme
        - else
          %button{ type: "submit", class: "button large orange sign-in", name: 'commit', value: 'client' }
            %i.icon-user
            Soy Usuario

          %button{ type: "submit", class: "button large orange sign-in", name: 'commit', value: 'transporter' }
            %i.icon-truck
            Soy Transportista

      #connect-facebook.control-group.text-align-center.tb-detail-box.bg-white
        = link_to(user_omniauth_authorize_path(:facebook), class: '') do
          %span.common-sprite-fb-button
