.control-group
  = form.label 'Partido, Localidad o Barrio'
  = form.text_field :street_line2, class: 'input-full-width'

= form.hidden_field :city
= form.hidden_field :country
= form.hidden_field :state
= form.hidden_field :street_line1
= form.hidden_field :administrative_area
= form.hidden_field :neighborhood
= form.hidden_field :latitude
= form.hidden_field :longitude
