@import "../variables";

.tb-vehicles-index, .tb-vehicles-new, .tb-vehicles-edit, .tb-vehicles-show {
	.tb-detail-box{
		p{
			font-size: $tb-size-12;
		}
	}
} 


.tb-vehicles-form{
	label{
		font-weight: bold;
	}
	.tb-vehicle-horizontal{
		label{
			float: left;
			line-height: 34px;
		}
		input{
			float: left;
			margin-left: 10px;
			width: 80%;
		}
	}

}

.tb-vehicles-list{
	list-style-type: none;
	width: 100%;
	display: block;
	margin: 0;

	li{
		display: block;
		margin-bottom:3px;
		background: $tb-subtitle-bg;
	}
}

#images .thumbnail {
	float: left;
	margin: 0 10px;
}

.vehicle-actions {
	float: right;
	> .button {
		vertical-align: middle;
	}
	> a, > a:hover, > a:focus {
		text-transform: none;
	}

}

/*
#company.one.lightgrey.last .form {
  margin-top: 0px;
}

table#vehicles {
  margin: 2.5%;
  border-collapse:separate;
  border-spacing: 0 5px;
}

table#vehicles tr {
  background-color: #f8f8f8;
}
*/


#image-form .control-group {
	margin-bottom: 10px;
	margin-top: 15px;
}



#images span:first-child{
	margin-left: 0;
}
