= form_for([:admin, category]) do |f|
  - if category.errors.any?
    #error_explanation
      %h6.bold= "#{pluralize(category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - category.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name

    = f.label :base_price
    = f.number_field :base_price

    = f.label :order
    = f.number_field :order

    = f.label :ancestry
    = f.select :ancestry, Category.roots.collect {|p| [ p.name, p.id ] }, {include_blank: 'None'}

  .field
    = f.fields_for :image do |image_form|
      = image_form.label :image
      = image_form.file_field :image
      
  .actions
    = f.submit 'Guardar Categoria', class: 'btn btn-primary'
