%h1 Categorias
%br

%table.table
  %tr
    %th Imagen
    %th Nombre
    %th Padre
    %th
    %th
    %th

  - categories.each do |category|
    %tr
      %td= image_tag category.image.image if category.image
      %td= category.name
      %td= category.parent.name if category.ancestry
      %td= link_to 'Mostrar', admin_category_path(category), class: 'btn btn-info'
      %td= link_to 'Editar', edit_admin_category_path(category), class: 'btn btn-warning'
      %td= link_to 'Borrar', admin_category_path(category), method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger'

%br

= link_to 'Nuevo Categoria', new_admin_category_path, class: 'btn btn-primary'
