%p#notice= notice

%p
  %b Nombre:
  = category.name
  %b Padre:
  = category.parent.name if category.ancestry

.image= image_tag category.image.image if category.image

= link_to 'Editar', edit_admin_category_path(category), class: 'btn'
= link_to 'Atrás', admin_categories_path, class: 'btn'
