= form_for([:admin, group]) do |f|
  - if group.errors.any?
    #error_explanation
      %h6.bold= "#{pluralize(group.errors.count, "error")} prohibited this grupo from being saved:"
      %ul
        - group.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    = f.text_field :description
    = f.label :order
    = f.text_field :order

  .actions
    = f.submit 'Guardar Grupo', class: 'btn btn-primary'
