%h1 Grupos
%br

%table.table
  %tr
    %th Descripción
    %th Orden
    %th
    %th
    %th

  - groups.each do |group|
    %tr
      %td= group.description
      %td= group.order
      %td= link_to 'Mostrar', admin_group_path(group), class: 'btn btn-info'
      %td= link_to 'Editar', edit_admin_group_path(group), class: 'btn btn-warning'
      %td= link_to 'Borrar', admin_group_path(group), method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger'

%br

= link_to 'Nuevo Grupo', new_admin_group_path, class: 'btn btn-primary'
