%p#notice= notice

%p
  %b Description:
  = group.description
  %b Orden:
  = group.order
  
= link_to 'Editar', edit_admin_group_path(group), class: 'btn'
= link_to 'Atrás', admin_groups_path, class: 'btn'
