.tb-vehicles-form
  .tb-module-row.tb-detail-box.bg-white
    = form_for [current_user.role, vehicle], html: {class: 'form ', id: 'vehicle-form'} do |f|
      - if vehicle.errors.any?
        #error_explanation
          %h6.bold= "#{pluralize(vehicle.errors.count, "error")} prohibited this vehicle from being saved:"
          %ul
            - vehicle.errors.full_messages.each do |msg|
              %li= msg
      .tb-module-row
        .control-group.tb-vehicle-horizontal
          = f.label :description
          = f.text_field :description

    = form_for Image.new, html: {id: 'image-form'} do | f |
      .control-group
        = f.label 'Fotos'

      #images.tb-upload
        %span.fileinput-button.thumbnail
          = f.file_field :image

        - vehicle.images.each do |image|
          = render image

  .vehicle-actions
    = submit_tag 'Guardar', class: 'button medium orange capitalize'
    = link_to 'Cancelar', edit_transporter_path(current_user.role), class: 'button medium orange capitalize'
