.tb-accordion-title.orange
	%h5.title
		1.
		%span.white Editando Vehículo

.tb-vehicles-edit
	.tb-module-container.lightgrey.clear
		.tb-module-row
			.tb-detail-box.bg-white
				%p
					Para definir un nuevo vehículo debe primero asignarle una descripción y luego subir una o varias fotos del vehículo.
		//#company
		= render 'form'
