.tb-accordion-title.orange
  %h5.title
    1.
    %span.white Vehículos
.tb-vehicles-index
  .tb-module-container.lightgrey.clear
    .tb-module-row
      .form.tb-detail-box.bg-white
        %p
          Si detalla sus vehiculos podrá seleccionar uno en el momento de generar un presupuesto, brindandole mas información importante al usuario que requiere un servicio.
    .tb-module-row

      %ul.unstyle#vehicles.tb-vehicles-list.clear
        - vehicles.each do |vehicle|
          %li.clear
            .tb-accordion-demand
              = image_tag vehicle.images.first.image.icon unless vehicle.images.empty?
              %b= vehicle.description
              .right.tb-accordion-demand-btns
                = link_to 'Mostrar', transporter_vehicle_path(current_user.role, vehicle), class: 'button small white'
                = link_to 'Editar', edit_transporter_vehicle_path(current_user.role, vehicle), class: 'button small white'
                = link_to 'Borrar', transporter_vehicle_path(current_user.role, vehicle), method: :delete, data: { confirm: 'Está seguro?' }, class: 'button small white'


    .vehicles-actions.right= link_to 'Nuevo Vehículo', new_transporter_vehicle_path(current_user.role), class: 'button medium orange capitalize'
