.tb-accordion-title.orange
	%h5.title
		1.
		%span.white Nuevo Vehículo

.tb-vehicles-new
	.tb-module-container.lightgrey.clear
		.tb-module-row
			.form.tb-detail-box.bg-white
				%p
					Para definir un nuevo vehículo debe primero asignarle una descripción y luego subir una o varias fotos del vehículo.


		= render 'form'
