.tb-vehicles-show
	.tb-module-container.clear.lightgrey
		.tb-module-row
			.tb-detail-box.bg-white
				%p
					%b Descripción:
					= vehicle.description

				%p
					%b Fotos:


					- vehicle.images.each do |image|
						= link_to image_tag(image.medium), image.to_s, class: 'colorbox-gallery'
		.right
			= link_to 'Editar', edit_transporter_vehicle_path(current_user.role, vehicle), class: 'button orange medium capitalize'
			= link_to 'Atrás', edit_transporter_path(current_user.role), class: 'button orange medium capitalize'

