@import "variables";
@import "responsive";
@import "compass/css3";


select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	

	/*-moz-border-radius: 2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border-radius: 0px;
	box-shadow: none;
	*/
	@include box-sizing(border-box);

	
	background-color: $tb-input-bg;
	border: 1px solid $tb-white;
	
	height: 31px;
    line-height: 31px;
	
	color: $tb-black;
    font-size: $tb-size-14;
    font-family: 'Open Sans', sans-serif;
	outline: none;
	padding: 4px 6px;
	position: relative;
	
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;

	&.input-full-width{
		width: 100% !important;
	}
	&:focus{
		border: 1px solid #8DC5C5;
		color: #333;
		outline: none;
		box-shadow: 0 0 5px $tb-orange;
		-webkit-box-shadow: 0 0 5px $tb-orange;
		-moz-box-shadow: 0 0 5px$tb-orange;
		border:1px solid $tb-orange;
	}

	.one-half &{
		  width: 54%;
		  @include tb-size-small{
			width: 95%;
		}
	}
}
input.submit, input.submit:focus, input.submit:active {
	cursor:pointer;
	text-align:center;
	text-transform: uppercase;
	font-size:11px;
	font-weight: bold;
	line-height: 14px;
	color: #fff;
	text-decoration:none !important;
	padding: 7px;
	border: none;
	-moz-border-radius: 20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	box-shadow:0 0 0;
	-moz-box-shadow:0 0 0;
	-webkit-box-shadow:0 0 0;
	@include box-sizing(border-box);

}
input.submit:hover {
	background-color: #444;
}
input[type="radio"]{
	border: none;
	outline: none;
}

.tb-submit-button{
	margin-top: 10px;
}

.etiqueta {color:rgba(0,0,0, 0.4);}
.asterisco {color:#f96e5b;}

.clear:after {
	clear: both;
	content: "";
	display: block;
}

input[type="text"]::-webkit-input-placeholder, 
input[type="text"]::-moz-placeholder {
	font-size: 0.7em;
}
 
.control-label,
label {
  text-align: left;
  font-size: $tb-size-12;
  color: $tb-gray;
 	display: block;
 	line-height: 30px;

}
.datepicker-horizontal > label {font-size: 12px;}
.right > img {
    margin-right: 20%;
    margin-top: -100%;
}
.datepicker-box {
  width: 44%;
  float: left;
}

.datepicker-box.last {
  margin-left: 10%;
}

input#datepicker, input.datepicker {
  margin-left: 0px;
  width: 66%;
  float: left;
}

.ui-datepicker-trigger {
  margin-left: 6px;
  vertical-align: top;
}

.ui-datepicker-trigger:hover {
  cursor: pointer;
}


textarea {
  height: 90px;
  resize: none;
}
.form{
	p {
	  font-size: 12px;
	}
	
	em {
	  color:#aaaaaa;
	  display: inline;
	  font-size: 11px;
	  font-style: normal;
	  font-weight: bold;
	}
	.contact-error {
	  color: $tb-orange;
	  font-size: 11px;
	  font-weight: bold;
	  position: absolute;
	  top: 0;
	  right: 60px;
	}
	.tb-form-conditions{
		margin-top: 10px;
		.field_with_errors{
			float:left;
		}
		label.custom-checkbox{
			margin-left: 25px;
			&:before{
				right: auto;
				left: -16%;
				bottom: 0;
			}
			&:after{

			}
		}
		input[type=checkbox]:checked + label.custom-checkbox:after {  
			right: auto;
			left: -14%;
			bottom: 2px;
		}
	}
	input[type="checkbox"] {
		visibility: hidden;
		float: right;
		.ie7 &, .ie8 &{
			visibility: visible;
			border-style: none;
		}
	}
	label.custom-checkbox{
		position: relative;  
		line-height: normal;
		padding-top: 5px;
		margin-bottom: 10px;
		width: 80%;
		float: none;
		&:before{  

			content: "";  
			display: inline-block;  

			width: 7px;  
			height: 7px;  
			border-radius: 55px; 


			position: absolute;  
			right: -20%;  
			bottom: 1px;  
			border: 5px solid #ededed;
			.ie8 &{
				display: none;
			}
		}
		&.before{
			padding-left: 16%;
			&:before{
				right: auto;
				left: 0;
			}
			&:after{
				right: auto;
				left: 0;
			}
		}
		
	}

}
.form input[type=checkbox]:checked + label.custom-checkbox:after {  
	content: "\2713";
	position: absolute;  
	right: -19%;  
	bottom: 4px;   
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
	font-size: 15px;  
	color: gray;  
	text-align: center;  
	line-height: 15px;  
}  

.contact-info {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
