
/*--------------------------------------------------
RESET
---------------------------------------------------*/
pre,code{
	font-family: 'Open Sans', sans-serif;
	white-space:pre;
	padding:20px;
	letter-spacing: 0.1em;
}
pre{
	padding:5px;
}

code{
	-moz-border-radius: 2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	font-size:11px;
	color: #666666;
	padding: 3px;
	padding-left: 10px;
	background-color: #E6E6E6;
}
.clear:after, .clear:before {
	
	content: "";
	display: table;
}
.clear:after{clear: both;}
.clear{
	 zoom: 1; 
	 clear:both;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,  del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0px;
	padding:0px;
	border:0px;
	border-collapse:separate;
	border-spacing:0px;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	text-decoration:none;
}
html, body {
	height: 100%;
	width: 100%;
}
em {
	font-style: italic;
}
strong, b {
	font-weight: bold;
	font-style: bold;
}
::-moz-selection{ color: #fff; background: #707070; }
::selection { color: #fff; background: #707070; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


img, iframe {
	max-width:100%;
}