@import "variables";
@import "responsive";
@import "compass/css3/border-radius";
@import "compass/css3";

@import "compass/utilities/sprites";
@import "common-sprite/*.png";
$common-sprite-sprite-dimensions: true;
@include all-common-sprite-sprites;


.common-sprite-sprite{
	display: block;
}


//Facebook button del header 
.common-sprite-fb-button{
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	&:hover{
	
		background-position: 0 0;
	}
}



//Titulo indicando en que seccion nos encontramos.  
.tb-module-header{
	position:relative;
	display: block;
	.title{
		margin-bottom: 0;
		max-width: 73%;
		line-height: 40px;
	}
	.tb-module-header-icons{
		position: absolute;
		right: 0;
		bottom: 0px;
		padding: 8px 1%;
		width:  24%;
		text-align: right;
		a{
			margin-left: 10px;
		}
	}
}




.tb-module-container{
	padding:15px 2%;
	&.border{
		border: 1px solid $tb-row-bottom-border;
	}
}
.tb-module-row{
	margin-bottom: 15px;
}
.tb-detail-box {
   //background-color: white;
  	overflow: hidden;
  	padding: 2%;
  	color: $tb-gray;
 	.one-half &{
	    padding: 4% 3% 3% 4%;
  	}
  	.one-third &{
	    padding: 5%;
  	}
    .title{
    	margin-bottom: 15px;
    }

}

.tb-detail-box-title{
    font-size: $tb-size-18;
    margin-bottom: 20px;
    font-family: 'Fjalla One',sans-serif;
    span{
    	font-size: $tb-size-16;
    	em{
    		font-style: normal;
    		color: $tb-orange;
    	} 
    
    }
}
.tb-detail-box-content{
	padding-left: 5%;
}
.tb-detail-box-list{
	padding-left: 5%;
	font-size: $tb-size-12;
	

    .tb-detail-box-item {
        margin: 0 0 10px;
        p{
             margin: 7px 0;
        }
    }
}
.tb-upload{
	&:hover{
		cursor: pointer;
	};
}
.tb-small-text{
  font-size: $tb-size-12;
}


	
.tb-favorite-button{
	font-size: 20px;
	padding: 5px 9px;
	border: medium none;
	cursor:pointer;
	text-align:center;
	display:inline-block;
	@include border-radius(2px);

	&:hover {
		//color: $tb-white;
		text-decoration: none;
	}
	&.active{
		.icon-heart{color: $tb-orange;}
	}
}

.hidden{
	display: none;
}

//colors

//text
.orange-text { color: $tb-orange !important;}
.middlegray-text { color: #949494; }
.uppercase {text-transform: uppercase;}
.bold { font-weight: bold; }


.right {float:right;}
.left {float: left;}


//backgrounds
.grey { background-color:#444; }
.lightgrey { background-color:#E6E6E6; color: #000;}
.yellow { background-color:#FEEB43; color: #707070; }
.bg-white{background-color: #fff;}

.orange { background-color:#f96e5b; }
.green { background-color:#78d18b; }
.tealgreen { background-color:#3ea9a1; }
.blue { background-color: #7CC0CB; }
.navyblue { background-color: #657383; }
.purple { background-color:#9a86a2; }
.magenta {background-color:#C25283; }
.pink { background-color:#F9A7B0; }
.red { background-color:#dc4f49; }
.cream { background-color:#C9C299; }



@include tb-size-medium{

	.tb-slider-slogan, .tb-slider-box{
		width: 100%;
	}
}
@include tb-size-small{

	.tb-slider-slogan, .tb-slider-box{
		width: 100%;
	}
}

