$tb-orange: #f96e5b;
$tb-white: #fff;
$tb-black: #444;
$tb-gray: #666;
$tb-container: #E6E6E6;
$tb-input-bg: #ededed;
$tb-subtitle-bg: #f8f8f8;
$tb-row-bottom-border: #B3B3B3;


$tb-size-12:12px;
$tb-size-14:14px;
$tb-size-16:16px;
$tb-size-18:18px;
$tb-size-20:20px;
$tb-size-24:24px;
$tb-size-30:30px;

