@import "variables";
@import "responsive";
@import "compass/css3";


//Titulo de acordion. Junto con clase orange. Boton a la derecha
.tb-accordion-title{
	padding: 0 2%;
	display:block;
	.ie7 &{overflow:hidden;}
	.title{
		line-height: 2.3em;
		margin-bottom: 0;
	}
	.accordion-button{
		&:hover{
			cursor: pointer;
		}
	}
}


//accordion negro para presupuestos
.tb-accordion-budget{
	background-color: $tb-black;
    color: white;
	line-height: 37px;
	font-size: $tb-size-12;
	padding: 0 10px;
	.tb-accordion-budget-price{
		font-family: 'Fjalla One',sans-serif;
	    font-size: 20px;
	    margin-right: 5%;
	    float: left;
	}
	.tb-accordion-budget-rating{

		height: 37px;
		
		.star{
			vertical-align: text-top;
		}

		.reviews-size{
			vertical-align: middle;
			margin-left: 5px;

		}
	}
	.tb-accordion-budget-date{
		text-align: right;
		
	}
	.tb-accordion-budget-state{
		text-align: right;
		text-transform: uppercase;
	}
	.tb-budget-btn{
		line-height: normal;
	}
	button{
		

	 	background: url(../images/bullet-toggle-inverse.png) no-repeat right 5px #444;
		width: 30px;
		&.active{
		  background: url(../images/bullet-toggle-inverse.png) no-repeat right -30px #444;
		}
		
	}

	//Estilo para el budget que se esta viendo
	&.tb-budget-active {
	  background-color: $tb-orange;

		 button{
		  background: url(../images/bullet-toggle-inverse.png) no-repeat right 5px $tb-orange;
			&.active{
			  background: url(../images/bullet-toggle-inverse.png) no-repeat right -30px $tb-orange;
			}
		}
	}

	//Estilo para un nuevo presupuesto
	&.tb-budget-new {
	  .tb-accordion-budget-price, .tb-accordion-budget-state{
	  	color: $tb-orange;
	  }
	}
	&.tb-budget-message{
		.tb-accordion-budget-state{
			color: $tb-orange;
		}
	}
}

//caja naranja para resaltas algo
.tb-accordion-iconbox{
	width: 25px;
	height: 25px;
	text-align: center;
	@include border-radius(3px);
	margin-right: 10px;
	color: $tb-white;
	display: inline-block;
	background-color: $tb-orange;
	line-height: 25px;
	margin-top: 8px;
	font-weight: bold;
	.tb-accordion-demand &{
		float: left;
	}
}



%clear{
	zoom: 1; 
	&:after, &:before {
	
		content: "";
		display: table;
	}
	&:after{clear: both;}
}

//Acordion de filtros
.tb-accordion-filter{
	line-height: 37px;
	font-size: $tb-size-12;
	padding: 0 10px;
	background-color: $tb-black;
	color: white;
	button {
		background: url(../images/bullet-toggle-inverse.png) no-repeat right 5px #444;
		width: 35px;
		margin-top: 9px;

	}

	button.active {
		background: url(../images/bullet-toggle-inverse.png) no-repeat right -30px #444;
	}


	



}


.tb-accordion-demand{
	font-size: $tb-size-12;
	padding: 0 10px;    
	background-color: $tb-subtitle-bg;
	color: $tb-black;
	line-height: 40px;
	display: block;
	overflow: hidden;
	border-bottom: 2px solid $tb-container;
	&.tb-active{
		border-left: 4px solid $tb-orange;
		border-bottom: 1px solid lighten($tb-orange, 5);
		
	}
	.tb-accordion-demand-title {

	    font-weight: bold;
	    margin-left: -4px;
	    width: 18%;
	    display: block;
	    float: left;
	   
	    .tb-demand-title-text{
			 white-space: nowrap;
			 overflow: hidden;
	   		 text-overflow: ellipsis;
	   		 max-width: 77%;
	    	display: block;
	    	float: left;

		}
	}
	.tb-accordion-demand-number{
		margin-left: 3%;
		width: 19%;
		display: block;
		float: left;
		
	}
	.tb-accordion-demand-date{
		margin-left: 1%;
		width: 9%;
		display: block;
		float: left;
	}
	.tb-accordion-demand-info{
		margin-left: 1%;
		width: 20%;
		display: block;
		float: left;
	}
	.tb-accordion-demand-btns{
		button{
			background: url(../images/bullet-toggle.png) no-repeat right 5px #E6E6E6;
			width: 35px;
		}

		button.active {
			background: url(../images/bullet-toggle.png) no-repeat right -30px #E6E6E6;
		}
	}
	@include tb-size-medium{
		.tb-accordion-demand-title{
			width: 85%;
			margin-left: 0;
		}
		.tb-accordion-demand-date,
		.tb-accordion-demand-info{
			width: 100%;
		}
	}
}
//accordion negro para presupuestos
.tb-accordion-notify{
	background-color: $tb-container;
	border-bottom: 1px solid darken($tb-container, 10);
	line-height: 37px;
	font-size: $tb-size-12;
	padding: 0 10px;
	.star{
		margin-left: 5px;
		vertical-align: middle;
		&:hover{
			cursor: pointer;
		};
	}
	
	&.unread{
		border-bottom: 1px solid $tb-gray;
		background-color: $tb-black;
		color: white;
		a{
			color: $tb-white;
			&:hover{
				color: $tb-orange;
			}
		}
	}

}