
@import "_variables";

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 17px;
	color: $tb-black;
	background: #fff;
	border-top: 7px solid #f5f5f5;
}
h1,h2,h3,h4,h5,h6 {
	//margin-bottom: 15px;
	font-weight: normal;
}
h1{
	font-size:42px;
	line-height: 44px;
}
h2{
	font-size: 32px;
	line-height: 34px;
}
h3{
	font-size:24px;
	line-height: 29px;
}
h4{
	font-size:20px;
	line-height: 25px;
}
h5{
	font-size:16px;
	line-height: 21px;
}
h6{
	font-size:14px;
	line-height: 17px;
}
.title {
  color: $tb-black;
  font-family: 'Fjalla One',sans-serif;
  //font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
ul, ol  {
	list-style-type: none;
	display: block;
	padding: 0px;
	margin: 0 0 14px 10px;
}
blockquote {
	float: left;
	width: 60%;
	margin: 10px 15px 10px 0;
	color: #aaa;
	background: url(../images/sprite.png) no-repeat scroll 0 -330px transparent;
}
blockquote.right {
	margin: 10px 0 15px  15px;
}
blockquote p {
	font: 16px/17px Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: italic;
	padding-left: 40px;
}

a {
	-moz-transition:all 0.14s ease 0s;
	-webkit-transition:all 0.14s ease 0s;
	-o-transition:all 0.14s ease 0s;
	outline:none;
}
a:hover, a:focus {
	color: #444;
	text-decoration: none;
}
.title, .title a {
	text-decoration: none;
}

.alignleft {
	float:left;
	margin: 10px 20px 10px 0;
}
.alignright {
	float:right;
	margin: 10px 0 10px 20px;
}
.aligncenter {
	display: block;
	margin: 10px auto 10px auto;
}
.aligncenterhome {
	display: block;
	margin: auto 100px;
}

.text-align-right {
	text-align: right;
}
.text-align-left {
	text-align: left;
}
.text-align-center {
	text-align: center;
}
.divider {
	
	width: 100%;
	height: 70px;
	@extend %clear;
}
.divider-border {
	
	width: 100%;
	margin: 40px 0;
	@extend %clear;

}

.mini-divider-border {

	width: 100%;
	margin: 15px 0;
	@extend %clear;
	
}

.inline {
	display: inline !important;
}
