input.submit, input.submit:focus, input.submit:active {
  background: #f96e5b;
}
a {
  color: #f96e5b;
}
#primary-menu ul li a.current {
  background-color: #f96e5b;
}
.fixed #primary-menu ul li a.current {  background-color: #f96e5b; }

.tweets a:hover , #footer .tweets a:hover, .tweets .tweet_time a:hover, #footer .tweets .tweet_time a:hover {
  color: #f96e5b;
}
.photostream a:hover, #footer .photostream a:hover {
  background-color: #f96e5b;
  border: 1px solid #f96e5b;
}
.team-member-info .social-personal li a:hover {
  background-color: #f96e5b;
}
.skills-graph li span {
  background-color: #f96e5b;
}
.services div:hover, .services div:hover a {
  background-color:#f96e5b;
}
.grey:hover { background-color:#f96e5b; }
.highlight1 {
  background-color: #f96e5b;
}
.item-info-overlay {
  background-color: #f96e5b;
}
.hexagon .item-info-overlay {
    background-color: #f96e5b;
}
.circle .item-info-overlay {
    background-color: #f96e5b;
}
.triangle .item-info-overlay {
    background-color: #f96e5b;
}
ul.item-nav li:hover {
  background-color: #f96e5b;
}
.contact-success {
  background-color: #f96e5b;
}
.form .contact-error {
    color: #f96e5b;
}

.flex-direction-nav li a:hover { background-color: #f96e5b; }

.widget a:hover {
  color: #f96e5b;
}
.widget ul#recentcomments a.author:hover {
  color: #f96e5b;
}
.post-title h2.title a:hover {
  color: #f96e5b;
}
.post-meta a:hover {
  color: #f96e5b;
}
.post-info div.date {
  background-color: #f96e5b;
}
.comment .author a:hover {
  color: #f96e5b;
}
.comment .comment-meta .reply:hover {
  background-color:#f96e5b;
}
.wp-pagenavi span.current {
  background-color: #f96e5b;
}
