@import "variables";

.tb-comment-box{
	font-size: $tb-size-12;
	.tb-comments{
		height: 120px;
		margin-bottom: 10px;
		overflow-y: auto;
	}
	
	.comment{
		
	}
	.tb-comment-button{
		float: right;
		display: block;

	}
	.tb-comment-input{
		float: left;
	}
}