@import "variables";

%clear{
	zoom: 1; 
	&:after, &:before {
	
		content: "";
		display: table;
	}
	&:after{clear: both;}
}

.ie7 {
	table{
		border-collapse: collapse;
	}
	.tb-accordion-filter{
			@extend %clear;
		>span{
			float: left;
		}
	}
	.nav-tabs.nav, .tb-navs-container {
		width: 100%;
	}
	.services{
		 
	 	li, a, h2, i{
	 		&:hover{
	 			cursor: pointer;
	 			background: $tb-orange;
	 			color: $tb-white;
	 		}
	 	}
		  
	}
	.tb-fb-button{
		margin-bottom: 11px;
	}
	#image-form{
		.thumbnail{
			border-style:none;
		}
		img{
			float: left;
		}
	}
	
}
