@import "variables";
@import "responsive";

.tb-profile{
	h1,h2,h3,h4,h5,h6 {
		margin-bottom: 0px;
		
	}
	.one-third{
		width: 31.33%;
	}

	.one-third-profile            { width: 37%; }
	.one-third-profile-last       { width: 20%; }
	.one-third-profile-last-white { width: 20%; background-color: white; margin-top: 1%; height: 90px;}
	

	.tb-profile-title{

		margin: 0 0 10px 0;
		line-height: 2.3em;
	}
	table{
		table-layout: fixed;
		

	}
	th, td {
		width: 10%;
	  	font-size: 11px;
		border-left: 1px solid #DDDDDD;
		line-height: 2em;
		padding: 8px 20px 8px 20px;
		text-align: left;
		vertical-align: top;
		&.tb-profile-quantity{
			text-align: center;
			width: 15%;
		}
		&.first {
			border-left: none;
			width: 25%;
		}
	}
	.one-profile-white { 
		width: 100%; 
		background-color:white; 
	}
	

	.profile .comments-transporter{ margin-top: 0;}


	.tb-profile-box{
		line-height: 1.5em;
		height: 68px;
		font-size: $tb-size-14;
		padding: 10px 2%;
	}


	@mixin tb-profile-responsive{
		.one-third-profile, .one-profile-white, .one-third, .one-third-profile, .one-third-profile-last{
		
			width: 100%;
		}
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr { border: 1px solid #ccc; }
		
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding: 8px 0 8px 50%;
			min-height: 22px;
			width: auto;
			&.first{
				width: auto;
			}
			&.tb-profile-quantity{
				text-align: left;
				width: auto;
				
			}
			
			
		}
		
		td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		.tb-clients-comment-table{
			td:nth-of-type(1):before { content: "Transportista"; }
			td:nth-of-type(2):before { content: "Comentario"; }
			td:nth-of-type(3):before { content: "Fecha"; }
			td:nth-of-type(4):before { content: "Envío"; }
		}
		.tb-transporter-comment-table{
			td:nth-of-type(1):before { content: "Usuario"; }
			td:nth-of-type(2):before { content: "Comentario"; }
			td:nth-of-type(3):before { content: "Fecha"; }
			td:nth-of-type(4):before { content: "Envío"; }
		}
		.tb-clients-demands-table{
			td:nth-of-type(1):before { content: "Descripción"; }
			td:nth-of-type(2):before { content: "Cant. presup."; }
			td:nth-of-type(3):before { content: "Origen"; }
			td:nth-of-type(4):before { content: "Destino"; }
			td:nth-of-type(5):before { content: "Caduca el"; }
		}
	}
	@include tb-size-medium{

		@include tb-profile-responsive;
	}
	@include tb-size-small{
		@include tb-profile-responsive;
	}
	

}
.tb-update-password {
  margin-bottom: 13px;
  .control-group label{
    width: 39%;
    float: left;
  		    
  }

  @include tb-size-medium{
  	.control-group{
  		label{
  			width: 100%;
  		}
  	}
  }
}
.tb-clients-update-account{
	.control-group label{
	    width: 39%;
	    float: left;
	    &.custom-checkbox{
	    	width: auto;
	    }
	  }
	.tb-input-lead{
		margin-top: 10px;
	}
}