@import "variables";


/*---------------iPhone portrait---------------*/
@mixin tb-size-small{
	@media only screen and (max-width: 479px) { 
		@content;
	}
}

/*---------------iPhone landscape---------------*/
@mixin tb-size-medium{
	@media only screen and (max-width: 767px) { 
		@content;
	}
}


/*---------------iPad portrait---------------*/
@mixin tb-size-large{
	@media only screen and (min-width: 768px) and (max-width: 959px) { 
		@content; 
	}
}
