.stars {
  //margin-right: 5px;
}

.star {
  background: url(<%= asset_path "3904077461-entry-action-icons.png" %>);

  display: inline-block;
  width: 16px;
  height: 16px;

}
.star-gray {
  background-position: -26px 0px;
}
.star-off {
  background-position: -102px 0px;
}

.star-on {
  background-position: -63px -32px;

}
.star-on-small {
  background-position: -16px -32px;

}

.rating-face {
  float: right;
  height: 32px;
  margin: 0 8px 20px;
  width: 32px;
  color: transparent;
}

.positive-face {
  background: url(<%= asset_path "positive_rating.png" %>);
}

.neutral-face {
  background: url(<%= asset_path "neutral_rating.png" %>);
}

.negative-face {
  background: url(<%= asset_path "negative_rating.png" %>);
}

form .rating-face.active, form .rating-face:hover {
 background-position: 0px -32px;
}
