@import "variables";
@import "responsive";
@import "compass/css3";

/*@import "_base";
@import "_reset";
@import "_forms";
*/

/*------------------------------------------------------

CSS overview:

1. RESET
2. MAIN CONTENT
3. PRIMARY MENU
4. SECTION TITLE
5. FOOTER
6. TWITTER
7. PHOTOSTREAM
8. COLUMNS
9. TEAM
10. GRID VIEW
11. BUTTONS
12. HIGHLIGHTS
13. DROPCAPS
14. DIFFERENT UL STYLES
15. TOGGLE
16. ACCORDION
17. PORTFOLIO
18. PORTFOLIO THUMBNAIL HOVER
19. SHAPED STYLE ITEM
20. HEXAGON STYLE
21. CIRCLE STYLE
22. TRIANGLE STYLE
23. PORTFOLIO FILTERABLE NAVIGATION
24. ITEM NAVIGATION
25. CONTACT MODAL WINDOW
26. CONTACT
27. TABS

---------------------------------------------------------*/


/*--------------------------------------------------
MAIN CONTENT
---------------------------------------------------*/
#wrapper {
	width: 100%;
	/*  float: left;*/
}
.content-wrapper {
	width: 960px;
	margin: 0 auto 0 auto;
	//margin-top: 1px solid $tb-gray;
	//margin: 0 auto 50px auto;
}

.content-line {
	width: 420px;
	height: 50px;
	margin: 0 auto 0 auto;
	background-color: #eee;
}
#header-wrapper {
	width: 100%;
}
.header {
	width: 960px;
	padding: 10px 0;
	margin: 0 auto;
	position:relative;
	.buttons {
		
		margin-top: 0%;
	}

}

#contact-fullwidth.header {
	border-bottom: none;
	margin: 0 auto;
}
#logo{
	float: left;
	margin-bottom: 10px;
	img{
		width: 170px;
	}
}
/*--------------------------------------------------
PRIMARY MENU
---------------------------------------------------*/
#primary-menu {
	float: right;
	margin: 0;
	padding: 0;
}
#primary-menu select {
	display:none;
}
#primary-menu select {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #eee;
	cursor: pointer;
	width: 100%;
	padding: 7px;
	margin: 38px 0;
	box-shadow:0 0 0 rgba(0,0,0,0);
	-moz-box-shadow:0 0 0 rgba(0,0,0,0);
	-webkit-box-shadow:0 0 0 rgba(0,0,0,0);
	color: #676767;
}
#primary-menu ul {
	margin: 0;
	//list-style-type: none;
	float: right;
}
#primary-menu ul li:hover {
	visibility: inherit;
}
#primary-menu ul li {
	position: relative;
	display: inline;
	float: left;
	margin: 0 0 0 -1px;
	background: url(../images/sprite.png) no-repeat scroll right -153px transparent;
}
#primary-menu ul li:last-child {
	background: none;
}
#primary-menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Fjalla One', sans-serif;
  color: #444;
  padding:10px;
  display: block;
  float: left;
}
#primary-menu ul li a:hover, #primary-menu ul li.sfHover a {
	background-color: #f96e5b;
	color: #fff;
}
#primary-menu ul li a.current {
	color: #fff;
}
#primary-menu ul li a.logo {
	display: none;
	margin: 0;
}
#primary-menu ul ul {
	position: absolute;
	top: -9999em;
	width: 180px;
	background: #444;
	z-index: 9999;
}
#primary-menu ul ul li {
	width: 100%;
}
#primary-menu ul li:hover ul {
	left: 0;
	top: 51px;
}
#primary-menu ul li:hover li ul {
	top: -9999em;
}
#primary-menu ul li li:hover ul {
	left: 180px;
	top: 0;
}
#primary-menu ul ul {
	padding: 0;
	margin: 0;
}
#primary-menu ul ul li {
	margin: 0;
	background: none;
	border-bottom: 1px solid #555;
}
#primary-menu ul ul li:last-child {
	border-bottom: none;
}
#primary-menu ul ul li a {
	font-size: 11px;
	padding: 12px 15px;
}
#primary-menu ul li:hover ul li a {
	color: #999;
}
#primary-menu ul li:hover ul li a:hover {
	color: #fff;
}
.fixed { position: fixed; top: 0px; background-color: #E6E6E6; z-index:999; height: 59px; box-shadow: 0 0 3px rgba(0, 0, 0, 0.1); }
#header-wrapper .fixed { }
.fixed .header { border-bottom: none; }
.fixed #logo { display:none; }
.fixed .logo2 { position:absolute; left: 0px; top:12px; }
.fixed #primary-menu ul { padding: 0; }
.fixed #primary-menu ul li { background: url(../images/sprite.png) no-repeat scroll right -149px transparent; }
.fixed #primary-menu ul li:last-child {  background: none; }
.fixed #primary-menu ul li a { color: #333; padding: 21px 15px; }
.fixed #primary-menu ul li a:hover, .fixed #primary-menu ul li.sfHover a {  background-color: #444; color: #fff; }
.fixed #primary-menu ul li a.current { color: #fff; }
.fixed #primary-menu ul li:hover ul { top: 59px; }
.fixed #primary-menu ul ul li { background: none; }
.fixed #primary-menu ul li:hover ul li a { padding: 12px 15px; background: #444; color:#999; }
.fixed #primary-menu ul li:hover ul li a:hover { color:#fff; }
/*--------------------------------------------------
SECTION TITLE
---------------------------------------------------*/
.section-title {
	overflow: hidden;
	margin: 0 0 30px 0;
	padding: 0 0 30px 0;
	border-bottom: 1px solid #eee;
}
.section-title .title, .section-title .title a  {
	font-family: 'Fjalla One', sans-serif;
	display: inline;
	word-spacing: 5px;
}
.section-title h1.title {
	font-size:22px;
	line-height: 28px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}
.section-title h1.title span {
	font-family: 'Fjalla One', sans-serif;
	font-weight: 300;
	text-transform: none;
	color: $tb-black;
}
.section-title p {
	font-family: 'Fjalla One', sans-serif;
	font-weight: 300;
	font-size: 22px;
	line-height: 27px;
}
.section-title .section-nav {
}
.section-title .section-nav  ul {
	padding: 20px;
	margin: 0 auto;
}
/*--------------------------------------------------
FOOTER
---------------------------------------------------*/
.footer {
	width: 100%;
	float: left;
	color: #999;
	background-color: #444;
	font-size: 11px;
	border-bottom: 7px solid #333;
	 a {
		color: #ccc;
		&:hover {
			color: #f96e5b;
		}
		&.orange-text{
			color: $tb-orange;
			&:hover{
				color: #999;
			}
		}
	}
	p {
	  font-size: 12px;
	  text-align: center;
	  a{
	  	color: #999;
	  }
	  

	}
	.legend{
		padding: 20px 0;
	  }
	/*h3 {
		font-size: 15px;
		font-family: 'Fjalla One', sans-serif;
		font-weight: 400;
		color: #fff;
		display: block;
	}*/
	ul {
		
		padding: 0;
		margin: 0;
		li {
			margin-bottom:0;
			line-height: 17px;
			.date {
				font: normal 11px/20px Helvetica,Arial,sans-serif;
				display: block;
			}

		}
	}
	.footer-links{
		border-bottom: 1px solid #999;
		display: block;
		padding-bottom: 10px;
		.footer-item{
						
			font-size: 15px;
			font-family: 'Fjalla One', sans-serif;
			//line-height: 60px;
			padding: 21px 0; 
			
			&.asociated{
				width: 150px;
				background-color: #2a2a2a;
				border-radius: 3px;
				padding: 5px;
				line-height: 17px;
				overflow: hidden;
				
				p{
					margin-top: 10px;
					float: left;
					width: 40%;
				}
				.common-sprite-ml-logo{
					float: left;
					margin-right: 5px;
				}
			}
		}
	}
}


.footer-content {
	width: 960px;
	margin: 0 auto;
	padding: 10px;
}

/*#footer-bottom, #footer-top {
	padding: 35px 0;
	overflow: hidden;
	position: relative;
}
#footer-bottom {
	background-color: #333;
	font-size: 11px;
	padding: 25px 25px 18px 25px;
	color: #999999;
}
#footer-bottom p {
	margin-bottom: 0;
}*/
/*--------------------------------------------------
TWITTER
---------------------------------------------------*/
.tweets ul, #footer .tweets ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.tweets li, #footer .tweets li {
	margin-bottom: 30px;
	word-wrap: break-word;
}
.tweet_even:last-child, .tweet_odd:last-child {
	margin-bottom: 0;
}
.tweets ul span, #footer .tweets ul span {
}
.tweets .tweet_text, #footer .tweets .tweet_text{
	list-style-type: none;
	display: block;
}
.tweets .tweet_text a, #footer .tweets .tweet_text a {
	display: inline;
}
.tweets .tweet_time {
	display: block;
	margin-top: 5px;
}
.tweets .tweet_time a, #footer .tweets .tweet_time a {
	font: normal 11px/20px Helvetica,Arial,sans-serif;
	font-style: normal;
	padding: 5px 0;
}
#footer .tweets .tweet_time a {
	color: #999;
	font-style: italic;
}
.tweets a:hover , #footer .tweets a:hover, .tweets .tweet_time a:hover, #footer .tweets .tweet_time a:hover {
}
/*--------------------------------------------------
PHOTOSTREAM
---------------------------------------------------*/
.photostream-wrapper, #footer .photostream-wrapper {
	float: left;
}
.photostream ul, #footer .photostream ul, .widget .photostream ul {
	//list-style-type: none;
	padding: 0;
	margin: 0;
	margin-left: -10px;
}
.photostream ul li, #footer .photostream ul li, .widget .photostream ul li {
	width: auto;
	float: left;
	margin: 0 0 10px 10px;
}
.photostream a, #footer .photostream a, .photostream img, #footer .photostream img {
	height: 40px;
	width: 40px;
}
.photostream a, #footer .photostream a {
	border: 1px solid #eee;
	padding: 4px;
	display: block;
}
#footer .photostream a {
	border: 1px solid #555;
}
#footer .photostream a {
}
.photostream a:hover, #footer .photostream a:hover {
}
.photostream img, #footer .photostream img {
	opacity:0.7;
	filter:alpha(opacity=70);
}
.photostream a:hover img, #footer .photostream a:hover img {
	opacity:1;
	filter:alpha(opacity=100);
}
/*--------------------------------------------------
COLUMNS
---------------------------------------------------*/
.one, .one-something, .one-half, .one-fifth, .two-third,
.one-third, .one-fourth, .one-third-profile, .one-little-third,
.one-third-profile-last , .one-little-third-first, .one-little-third-last,
.one-third-profile-last-white, .one-profile-white, .one-transporter-column,
.one-comment-column, .date-comment-column, .demand-comment-column,
.one-description-column, .one-budget-quantity-column, .one-origin-column,
.one-destiny-column, .one-caducation-column { float:left; position:relative; margin-right:3%; }
.one { width: 100%; margin-right: 0; }
.one-half { width: 48.5%; }
.two-third { width: 65.33%; }
.one-something {width: 62.33%;}
//.one-third  { width: 30.66%; }
.one-third  { width: 31.3%; }
.one-fourth { width: 22%; }
.one-fifth {width: 17.6%;}
.last { margin-right: 0 !important; }



.one-transporter-column { width: 15%; margin: 3% 0 3% 3%;}
.one-comment-column     { width: 35%; margin: 3% 0 3% 3%;}
.date-comment-column    { width: 15%; margin: 3% 0 3% 3%;}
.demand-comment-column  { width: 18%; margin: 3% 0 3% 0;}

.one-description-column     { width: 26%; margin: 3% 0 3% 3%;}
.one-budget-quantity-column { width: 13%; margin: 3% 0 3% 3%;}
.one-origin-column          { width: 13%; margin: 3% 0 3% 3%;}
.one-destiny-column         { width: 13%; margin: 3% 0 3% 3%;}
.one-caducation-column      { width: 13%; margin: 3% 0 3% 0;}


.comments { height: 45px; }
.comments-transporter { height: 45px; }



//.comments h3.title { font-size: 18px }
.comments-transporter h3.title { font-size: 18px }
/*--------------------------------------------------
TEAM
---------------------------------------------------*/
.team {
	background-color: #E6E6E6;
	position: relative;
}
.team-member-info {
	padding: 15px;
	overflow: hidden;
}
.team-member-info ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.team-member-info li {
	display: inline;
}
.team-member-info h2 {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
}
.team-member-info h3 {
	font-size:11px;
	text-transform: uppercase;
	line-height: 17px;
}
.team-member-info p {
	margin-top: 13px;
}
.team-member-info img {
}
div.arrow {
	background: url(/images/sprite.png) no-repeat 0 -128px transparent;
	height: 6px;
	width: 12px;
	margin: -10px 0 0 17px;
	position: relative;
}
.team-member-info h2, .team-member-info h3, .team-member-info p {
	margin-bottom: 0;
}
.team-member-info .social-personal {
	margin-top: 13px;
	padding-top: 13px;
	border-top: 1px dotted #CCCCCC;
}
.team-member-info .social-personal li {
	display: inline;
	float: left;
}
.team-member-info .social-personal li a {
	padding: 0 5px;
	font-size: 11px;
	color: #676767;
}
.team-member-info .social-personal li a:hover {
	color:#fff;
}
.team-member-info .social-personal li span {
	font-size: 10px;
}
/*--------------------------------------------------
SERVICES GRAPH
---------------------------------------------------*/
.skills-graph {
	display: block;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.skills-graph li, .skills-graph li span {
	-moz-border-radius: 300px 300px 300px 300px;
	-webkit-border-radius: 300px 300px 300px 300px;
	border-radius: 300px 300px 300px 300px;
}
.skills-graph li {
	margin-bottom: 10px;
	font-size: 11px;
	text-transform: uppercase;
}
.skills-graph li p {
	margin-bottom: 0;
}
.skills-graph li strong {
	margin-left: 5px;
	color: #444;
}
.skills-graph li span {
	height: 13px;
}
/*--------------------------------------------------
GRID VIEW
---------------------------------------------------*/
.grid {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
}

.content-wrapper > ul.grid {
	margin: 0 0 9px 0;
}

.grid li {
	float: left;
	border-bottom: 1px dashed #ddd;
	border-right: 1px dashed #ddd;
}
.grid.row3 li {
	width: 319px;
}
.grid.row4 li {
	width: 239px;
}
.grid.row5 li {
	width: 191px;
}
.grid.row6 li {
	width: 159px;
}
.grid.row7 li {
	width: 135px;
}
.grid li.last {
	border-right: none;
}
.grid li.last-row {
	border-bottom: none;
}
.grid img {
	display: block;
	margin: 0 auto;
}

.clients img {
	-moz-transition:all 0.14s ease 0s;
	-webkit-transition:all 0.14s ease 0s;
	-o-transition:all 0.14s ease 0s;
	opacity:0.5;
	filter:alpha(opacity=50);
}
.clients img:hover {
	opacity:1;
	filter:alpha(opacity=100);
}
/*--------------------------------------------------
BUTTONS
---------------------------------------------------*/
button {
	border: medium none;
}

input.button, input.button:focus, a.button, a.button:focus{
  border: medium none;
}

.button {
	border: medium none;
	cursor:pointer;
	text-align:center;
	display:inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	-moz-border-radius: 2px;
	-webkit-border-radius:2px;
	border-radius:2px;

	color: #FFFFFF;
	text-transform:uppercase;
	text-decoration: none;
	@include box-sizing(border-box);
	line-height: 1.5em;

	&:hover {
		text-transform:uppercase;
		text-decoration: none;
		background-color: #444 !important;
		color: #FFFFFF !important;
	}

	&.xlarge{
		border-radius: 4px;
	}
	&.capitalize, &:hover.capitalize {
		text-transform:capitalize;
	}
	&.small {
		padding:0 6px;
		font-size: 11px;
		line-height: 16px;
	}
	&.medium {
		font-size:12px;
		padding: 7px 14px;
	}
	&.large {
		padding: 11px 19px 11px 19px !important;
		font-size: 17px;
		font-family: 'Fjalla One',sans-serif;
		font-weight: normal !important;
	}

	&.large.sign-in {
		padding: 11px 31.5px 11px 31.5px !important;
	}

	&.rounded {
		-moz-border-radius: 20px;
		-webkit-border-radius:20px;
		border-radius:20px;
	}


	&.white {
	  background-color: white;
	  color: #666666;
	}
	&.middlegrey {
	  background-color: $tb-gray;
	  
	}
}


/*--------------------------------------------------
HIGHLIGHTS
---------------------------------------------------*/
.highlight1 {
	color: #FFFFFF;
	padding: 0 2px;
}
.highlight2 {
	background-color: #444;
	color: #FFFFFF;
	padding: 0 2px;
}
.highlight3 {
	border-bottom: 1px dotted;
}
/*--------------------------------------------------
DROPCAPS
---------------------------------------------------*/
.dropcap1 {
	float: left;
	font-size: 53px;
	line-height: 50px;
	color: #444;
	margin: 0 8px 0 0;
	font-weight: bold;
}
.dropcap2 {
	border-radius: 2px 2px 2px 2px;
	color: #FFFFFF;
	display: block;
	float: left;
	font-size: 24px;
	line-height: 32px;
	margin: 6px 8px 0 0;
	padding: 5px 0;
	text-align: center;
	width: 44px;
}
.dropcap3 {
	border-radius: 55px 55px 55px 55px;
	color: #FFFFFF;
	display: block;
	float: left;
	font-size: 20px;
	margin: 6px 8px 0 0;
	text-align: center;
	/*width: 44px; original from template
	line-height: 44px; original from template
	font-size: 24px;*/
	width: 40px;
	line-height: 40px;
	font-weight: bold;
}
/*--------------------------------------------------
DIFFERENT UL STYLES
---------------------------------------------------*/
.check-list, .arrow-list, .star-list {
	list-style-type:none;
	margin: 0px;
	padding: 0px;
	display: block;
}
.check-list li, .arrow-list li, .star-list li {
	margin-bottom: 5px;
	padding-left: 20px;
}
.arrow-list li {
	background: url(../images/bullet-ul.png) no-repeat scroll -82px 5px transparent;
}
.check-list li {
	background: url(../images/bullet-ul.png) no-repeat scroll -42px -45px transparent;
}
.star-list li {
	background: url(../images/bullet-ul.png) no-repeat scroll 0px -82px transparent;
}
ul.colored-counter-list {
	counter-reset:li;
	margin-left:0;
	padding-left:0;
}
ul.colored-counter-list > li {
	position:relative;
	list-style:none;
	padding-left: 35px;
	margin-bottom: 13px;
}
ul.colored-counter-list > li:before {
	content:counter(li);
	counter-increment:li;
	position:absolute;
	top:0;
	left:0;
	width:25px;
	margin-right:8px;
	padding: 3px 0;
	text-align:center;
	-moz-border-radius: 2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background-color: #444;
	color: #fff;
}
/*--------------------------------------------------
TOGGLE
---------------------------------------------------*/
.toggle-wrap {
	float: left;
	width: 100%;
	margin-bottom: 6px;
}
.trigger {
}
.trigger a {
	display: block;
	padding: 10px;
	padding-left: 15px;
	text-decoration: none;
	font-weight: bold;
	color: #333;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.17);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.17);
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	background: url(../images/bullet-toggle.png) no-repeat right 15px #E6E6E6;
}
.trigger.active a {
	background: url(../images/bullet-toggle.png) no-repeat right -20px #E6E6E6;
}
.toggle-container {
	overflow: hidden;
	float: left;
	padding: 15px;
}
/*--------------------------------------------------
ACCORDION
---------------------------------------------------*/
.trigger-button {
	float: left;
	width: 100%;
	padding: 10px 0 10px 0;
	margin-bottom: 6px;
	text-decoration: none;
	font-weight: bold;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.17);
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.17);
	background: url(../images/bullet-toggle.png) no-repeat right 15px #E6E6E6;
	cursor:pointer;
}

.accordion-heading span{
	.ie7 &{
		float: left;
	}
}


.accordion-group {
	border: none;
	border-radius: 0px;
	margin-bottom: 0px;
}

.accordion-heading button {
	background: url(../images/bullet-toggle.png) no-repeat right 5px #E6E6E6;
	width: 35px;
}

.accordion-heading button.active {
	background: url(../images/bullet-toggle.png) no-repeat right -30px #E6E6E6;
}

.trigger-button span {
	padding-left: 15px;
}

.notification-heading.read a {
	color: black;
}

.notification-heading.read {
	background-color: #f8f8f8;
	color: black;
}

.notification-heading.unread a {
	color: white;
}

.notification-heading.unread {
	background-color: #444;
	color: white;
}

.notification-heading {
  border-bottom: solid 1px #E6E6E6;
}

/*--------------------------------------------------
PORTFOLIO
---------------------------------------------------*/
.portfolio-grid ul li a.hide {
	display: none;
}
.portfolio-grid {
	width: 965px;
	margin: 0 0 0 -5px;
	padding: 0;
	float: left;
}
.portfolio-grid ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.portfolio-grid ul li {
	float: left;
	margin: 0 0 5px 5px;
	padding: 0;
	position: relative;
	background-color: #E6E6E6;
}
.portfolio-grid ul li.col2 {
	width: 477px;
}
.portfolio-grid ul li.col3 {
	width: 316px;
}
.portfolio-grid ul li.col4 {
	width: 236px;
}
.portfolio-grid ul li img {
	float: left;
}
.item-info {
	padding: 15px;
	float: left;
}
.item-info h3, .item-info-overlay h3 {
	font-size: 15px;
	font-family: 'Fjalla One', sans-serif;
	font-style: normal;
	font-weight: 300;
	line-height: 17px;
	margin-bottom: 0;
}
.item-info h3.title a {
	color: $tb-black;
}
.item-info-overlay h3.title a {
	color: #fff;
}
.item-info-overlay h3.title a:hover {
	color:$tb-black;
}
.item-info h4, .item-info-overlay h4 {
	font-size:11px;
	line-height: 14px;
	color: #444;
	text-transform: uppercase;
	margin-bottom: 0;
}
/*--------------------------------------------------
PORTFOLIO THUMBNAIL HOVER
---------------------------------------------------*/
.item-info-overlay {
	color: #fff;
	font-size:11px;
}
.item-info-overlay {
	position:absolute;
	width:100%;
	height:100%;
	left: 0;
	top: 0;
	display: none;
	z-index: 120;
}
.item-info-overlay div {
	padding: 0 9% 9% 9%;
}
.item-info-overlay h3 {
	padding: 9% 9% 2% 9%;
	font-size: 17px;
}
.item-info-overlay p {
	margin-top: 10px;
	padding-top: 10px;
}
.item-info-overlay a.preview, .item-info-overlay a.view {
	position: absolute;
	bottom: 0px;
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	text-indent: -9999px;
	height: 37px;
	width: 37px;
	z-index: 110;
}
.item-info-overlay a.view {
	background: url(../images/sprite.png) no-repeat scroll 11px 13px #333;
	right: 0px;
}
.item-info-overlay a.view:hover {
	background: url(../images/sprite.png) no-repeat scroll 11px -18px #333;
}
.item-info-overlay a.preview {
	background: url(../images/sprite.png) no-repeat scroll 12px -50px #333;
	right: 38px;
}
.item-info-overlay a.preview:hover {
	background: url(../images/sprite.png) no-repeat scroll 12px -83px #333;
}
/*--------------------------------------------------
SHAPED STYLE ITEM
---------------------------------------------------*/
.portfolio-grid ul.shaped li {
	margin: 0 0 15px 5px;
	background-color: transparent;
}
.shaped .item-container {
	display: block;
	position: relative;
}
.shaped .item-mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
}
.shaped .item-container img {
	z-index:9;
}
.shaped .item-info-overlay {
	text-align: center;
}
.shaped .item-info-overlay a.preview, .shaped .item-info-overlay a.view {
	bottom: 30px;
	height: 30px;
	width:30px;
}
.shaped .item-info-overlay a.view {
	background: url(../images/sprite.png) no-repeat scroll 7px 10px #333;
	right: 88px;
}
.shaped .item-info-overlay a.view:hover {
	background: url(../images/sprite.png) no-repeat scroll 7px -21px #333;
}
.shaped .item-info-overlay a.preview {
	background: url(../images/sprite.png) no-repeat scroll 9px -53px #333;
	right: 119px;
}
.shaped .item-info-overlay a.preview:hover {
	background: url(../images/sprite.png) no-repeat scroll 9px -86px #333;
}
/*--------------------------------------------------
HEXAGON STYLE
---------------------------------------------------*/
.hexagon .item-container {
	width: 236px;
	height: 257px;
}
.hexagon .item-mask {
	background: url(../images/mask-hexagon.png) no-repeat 0 0 transparent;
	width: 236px;
	height: 257px;
}
.hexagon .item-container img {
	height: 257px;
}
.hexagon .item-info-overlay {
	background: url(../images/mask-hexagon.png) no-repeat 0 0;
}
.hexagon .item-info-overlay h3 {
	padding: 30% 0% 2% 0%;
}
/*--------------------------------------------------
CIRCLE STYLE
---------------------------------------------------*/
.circle .item-container {
	width: 236px;
	height: 232px;
}
.circle .item-mask {
	background: url(../images/mask-circle.png) no-repeat 0 0 transparent;
	width: 236px;
	height: 232px;
}
.circle .item-container img {
	height: 232px;
}
.circle .item-info-overlay {
	background: url(../images/mask-circle.png) no-repeat 0 0;
}
.circle .item-info-overlay div {
	padding: 9%;
}
.circle .item-info-overlay h3 {
	padding: 9% 9% 2% 9%;
}
/*--------------------------------------------------
TRIANGLE STYLE
---------------------------------------------------*/
.triangle .item-container {
	width: 316px;
	height: 272px;
}
.triangle .item-mask {
	background: url(../images/mask-triangle.png) no-repeat 0 0 transparent;
	width: 316px;
	height: 272px;
}
.triangle .item-container img {
	height: 272px;
}
.triangle .item-info-overlay {
	background: url(../images/mask-triangle.png) no-repeat 0 0;
}
.triangle .item-info-overlay div {
	padding: 19%;
}
.triangle .item-info-overlay h3 {
	padding: 18% 14% 2% 14%;
}
.item-info-overlay p {
	margin-top: 5px;
	padding-top: 5px;
}
.shaped.triangle .item-info-overlay a.preview, .shaped.triangle .item-info-overlay a.view {
	bottom: 10px;
}
.shaped.triangle .item-info-overlay a.preview {
	right: 54px;
}
.shaped.triangle .item-info-overlay a.view {
	right: 23px;
}
/*--------------------------------------------------
PORTFOLIO FILTERABLE NAVIGATION
---------------------------------------------------*/
.filterable {
	width: 100%;
	float: left;
	padding-bottom: 25px;
}
.filterable  ul {
	margin: 0 auto;
}
.filterable li {
	background: none;
	display: inline;
	float: left;
}
.filterable li:last-child {
	background: none;
}
.filterable li:last-child a {
	margin: 0 0 0 7px;
}
.filterable li a {
	font-size: 11px;
	color: #aaa;
	line-height: 16px;
	text-transform: uppercase;
	text-decoration: none;
	float: left;
	margin:0 5px;
	padding:0 3px;
	-moz-border-radius: 2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
.filterable li a:hover {
	color: #444;
}
.filterable li.current a {
	color:#444;
}
.filterable li span {
	font-size: 11px;
	color: #ccc;
}
/*--------------------------------------------------
ITEM NAVIGATION
---------------------------------------------------*/
ul.item-nav {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
ul.item-nav li {
	float: left;
	margin-left: 1px;
	background: #444;
	-webkit-transition:all 0.14s ease 0s;
	-moz-transition:all 0.14s ease 0s;
	-o-transition:all 0.14s ease 0s;
}
ul.item-nav li a {
	background: url(../images/sprite.png) no-repeat scroll 0 0 transparent;
	display: block;
	height: 45px;
	width: 45px;
	text-indent: -9999px;
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
}
ul.item-nav li:hover {
}
ul.item-nav li.prev a {
	background-position: 17px -212px;
}
ul.item-nav li.next a {
	background-position: 17px -282px;
}
ul.item-nav li.all a {
	background-position: 12px -247px;
}
/*--------------------------------------------------
CONTACT MODAL WINDOW
---------------------------------------------------*/
#wrapper.fullwidth {
	margin-bottom: 40px;
}
.google-map.fullwidth {
	height: 700px;
	width: 100%;
	z-index:9;
	top: 0px;
}
#contact-mask {
	display: none;
	background: #fff;
	position: fixed; left: 0; top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	z-index: 999;
}
#contact-intro {
	width: 960px;
	margin: 0 auto;
	padding: 45px 0 0 0;
	overflow: hidden;
}
#contact-intro h1.title {
	font-family: 'Fjalla One', sans-serif;
	font-size:22px;
	line-height: 28px;
	font-weight: 700;
	text-transform: uppercase;
}
#contact-intro p {
	font-family: 'Fjalla One', sans-serif;
	font-weight: 300;
	font-size: 22px;
	line-height: 27px;
}
.contact-button {
	margin-top: 45px;
}
.contact-popup {
	display:none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 99999;
	width: 960px;
}


.control-group .right-side{
	text-align: right;
}


.contact-popup .close {
	position: absolute;
	top: 10px;
	right: 0px;
}
/*--------------------------------------------------
CONTACT
---------------------------------------------------*/
.google-map {
	height: 300px;
	width: 100%;
}



.contact-success {
	padding: 20px;
	color: #fff;
	font-size:11px;
}

.contact-info {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.contact-popup .form {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}


/*--------------------------------------------------
PANEL
---------------------------------------------------*/
#panel {
	position: fixed;
	top: 70px;
	z-index: 999;
}
#panel-admin {
	float: left;
	width: 170px;
	padding: 20px;
	background: #333;
	color: #999999;
}
.open{
	background: url(../images/style-panel-button.png) no-repeat 0 0 transparent;
	display: block;
	height: 190px;
	width: 33px;
	float: right;
}
#panel-admin select, #panel-admin select:focus {
	width: 100%;
	padding: 3px;
	margin: 10px 0 15px 0;
	font-size: 12px;
	border: none;
	background-color: #fff;
}



/*---------------iPad portrait---------------*/
@include tb-size-large{
	.header, .content-wrapper, #footer-content, #contact-intro, .contact-popup { width: 714px; }
	.portfolio-grid { width: 719px; }
	.portfolio-grid ul li.col2 { width: 354px; }
	.portfolio-grid ul li.col3 { width: 234px; }
	.portfolio-grid ul li.col4 { width: 174px; }
	.portfolio-grid ul.shaped.hexagon li { margin: 0 0 15px 3px; }
	.portfolio-grid ul.shaped.triangle li { margin: 0 0 15px 30px; }
	.portfolio-grid ul.shaped.circle li { margin: 0 0 15px 3px; }
	.grid.row3 li {width: 237px;}
	.grid.row4 li {width: 177px;}
	.grid.row5 li {width: 142px;}
	.grid.row6 li {width: 118px;}
	.google-map.fullwidth { height: 500px; }
}

/*---------------iPhone landscape---------------*/
@include tb-size-medium{
	body { -webkit-text-size-adjust: none; }
	.header, .content-wrapper, #footer-content, #contact-intro, .contact-popup, #primary-menu select { width: 420px; }
	#header-wrapper.fixed { display:none !important; }
	#primary-menu select { display:block; }
	#primary-menu ul { display:none; }
	.one, .one-half, .two-third, .one-third, .one-fourth, .one-fifth { float:left; position:relative; width: 100%;margin-right: 0; margin-bottom: 5px; }
	.portfolio-grid { width: 100%; margin: 0; }
	.portfolio-grid ul li.col2, .portfolio-grid ul li.col3, .portfolio-grid ul li.col4 {  width: 100%;  margin: 0 0 6px 0; }
	.portfolio-grid ul.shaped.hexagon li { margin: 0 92px 20px 92px; }
	.portfolio-grid ul.shaped.triangle li { margin: 0 52px 20px 52px; }
	.portfolio-grid ul.shaped.circle li { margin: 0 92px 20px 92px; }
	.grid.row3 li, .grid.row4 li, .grid.row5 li, .grid.row6 li {width: 209px;}
	.google-map.fullwidth { height: 300px; }
	.contact-button { margin-top: 0; }
	#footer-bottom, #footer-bottom .text-align-right { text-align: center; }
	#footer-bottom .one-half { margin-bottom: 2px; }
}

/*---------------iPhone portrait---------------*/
@include tb-size-small{
	.header, .content-wrapper, #footer-content, #contact-intro, .contact-popup, #primary-menu select { width: 300px; }
	#header-wrapper.fixed { display:none !important; }
	#primary-menu select { display:block; }
	#primary-menu ul { display:none; }
	.one, .one-half, .two-third, .one-third, .one-fourth, .one-fifth { float:left; position:relative; width: 100%;margin-right: 0; margin-bottom: 5px; }
	.grid li { border-right: none; }
	.grid.row3 li, .grid.row4 li, .grid.row5 li, .grid.row6 li { width: 300px; }
	.portfolio-grid { width: 100%; margin: 0; }
	.portfolio-grid ul li.col2, .portfolio-grid ul li.col3, .portfolio-grid ul li.col4 {  width: 100%;  margin: 0 0 6px 0; }
	.portfolio-grid ul.shaped.hexagon li { margin: 0 32px 20px 32px; }
	.portfolio-grid ul.shaped.triangle li { margin: 0 0px 20px 0; }
	.triangle .item-container, .triangle .item-mask { width: 300px; height: 263px; }
	.triangle .item-mask, .triangle .item-info-overlay { background: url(../images/mask-triangle-portrait.png) no-repeat 0 0 transparent; }
	.triangle .item-container img { height: 263px; }
	.triangle .item-info-overlay div {  padding: 20%; }
	.portfolio-grid ul.shaped.circle li { margin: 0 32px 20px 32px; }
	.google-map.fullwidth { height: 300px; }
	.contact-button { margin-top: 0; }
	#footer-bottom, #footer-bottom .text-align-right { text-align: center; }
	#footer-bottom .one-half { margin-bottom: 2px; }
}

.large-icon {
	font-size: 3em;
}

.white {
	color: #FFF;
}
.comment-box > form > input[type="text"] {
	margin: 0;
	font-size: 14px;
}

.comment-box > form {
	margin-top: 10px;
}

.comment-box > form > input {
	margin: 0;
}

i.icon-extra-large {
	font-size: 8.333em;
	vertical-align: 50%;
}




.slides li p{
	font-family: 'Open Sans', sans-serif;
	margin: 1%;
}

.xlarge {
	font-family: 'Fjalla One',sans-serif;
	font-size: 25px;
	padding-bottom: 14px !important;
	padding-left: 21px !important;
	padding-right: 21px !important;
	padding-top: 14px !important;
	font-weight: normal !important;
}

.buttons {
	text-align: right;
	margin-top: 2%;
}

.open-sans {
	font-family: 'Open Sans', sans-serif;
}

.underlined {
	border-bottom-color: #EEEEEE;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	//padding: 0 0 10px 0;
	padding-bottom: 2px;
}

.leftsidelined {
	border-left-color: #EEEEEE;
	border-left-style: solid;
	border-left-width: 2px;
	padding: 0 0 0 2%;
}

.your-logo {
	background: url("transporter/logo.png") no-repeat right top;
	height: 100px;
	width: 105px;
	border:none;
	overflow:hidden;
	margin: 0 17px 10px 0;
	float: right;
	cursor: pointer;
}

.profile-photo {
	height: 100px;
	width: 105px;
	border:none;
	overflow:hidden;
	margin: 0 17px 10px 0;
	float: right;
	cursor: pointer;
}

#company_image_attributes_image {
	height: 137px;
	width: 105px;
	margin-left:0;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	cursor: pointer;
}

#company_image_attributes_image:hover{
	cursor: pointer;
}

li {
	line-height: 25px;
}





/*
#budget-buttons .button.large.orange {
    padding-left: 16px !important;
    padding-right: 16px !important;
}
*/



#asterix {
	margin-left: -10px;
}

.dark-grey {
	background-color: #444;
	color: white;
}

.dark-grey button {
	background: url(../images/bullet-toggle-inverse.png) no-repeat right 5px #444;
}

.dark-grey button.active {
	background: url(../images/bullet-toggle-inverse.png) no-repeat right -30px #444;
}

/*

.search td h3.title {
	font-size:17px;
	margin: 0px;
}
*/
#genius-map img {
	max-width: none;
  vertical-align: none;
}

.map-container {

  position: relative;
  .distance {
	  background-color: white;
	  font-weight: bold;
	  padding: 12px;
	  position: absolute;
	  right: 10px;
	  bottom: 10px;
	}
}



#demand_search .control-group .medium {
  margin-top: 7px;
  padding: 7px !important;
}




.little-box {
  height: 100px;
  text-align: center;
  background-color: white;
 //padding-top: 20px;
}

.span5.little-box {
  width: 30%;
  margin-left: 5%;
}

.big-box {
  background-color: white;
  padding: 2%;
  margin-bottom: 2%;
}

.registered-at {
 font-family: 'Fjalla One',sans-serif;
 color: #949494;
 font-size: 16px;
}

a.favorite-button{
  font-size: 20px;
  padding: 5px 9px !important;
}

a.favorite-button:hover, a.favorite-button.active {
  color: #F96E5B !important;
}
