@import "variables";
@import "responsive";

/*--------------------------------------------------
TABS
---------------------------------------------------*/

.tabs-left {
	> .nav-tabs {
		border: none;
		background-color:#E6E6E6;
		margin-bottom: 0px;
		list-style: none outside none;
		margin-right: 0px;
		background-color: white;
		a{
		  color: #666666;
		  font-weight: bold;
		  text-transform: none;
		  font-family: 'Open Sans', sans-serif;
		  display: block;
		  font-size: 12px;
		}
		> .active {
			border-left: 3px solid #f96e5b;
			border-top: none;
			> a{
				background-color:#E6E6E6;
				border-top: 0px;
				border-bottom: 0px;
				border-left: 0px;
			}
		}
		> li {
			border-right: none;
			> a {
				border-radius: 0;
				margin-right: 0px;
			}
		}

	}

	> .tab-content {
		> .tab-pane {
			min-height: 18px;
			padding: 10px;
			font-weight: bold;
		}
	}
	.tab-content {
		.form {
			background-color: white;
			//margin: 3% 0 0 3%;
			overflow: hidden;
			//padding: 2%;
			input, textarea {
				margin-bottom: 5px;
				/*width: 63%;*/
			}
		}
		.form.little-column {
			//margin: 3%;
			textarea {
				width: 97%;
			}
		}
	}
	.controls {
		margin-left: 3%;
		margin-right: 0;
		margin-top: 3%;
		padding: 2% 0 2% 2%;
		width: 44%;
		span {
			float: left;
			margin-top: 15px;
			font-size: 13px;
		}
	}
}



.nav-tabs {
	border-bottom: 3px solid $tb-orange;
	border-top: 1px solid #ddd;
	background-color:$tb-container;
	margin-bottom: 0px;

	a{
		color: #444;
		text-transform: uppercase;
		font-family: 'Fjalla One',sans-serif;
	}
	 > li {
		margin-bottom: -3px;
		border-right: 1px solid #ddd;
		> a {
			border-radius: 0px;
			margin-right: 0px;
		}

	}
	> .active {
		border-top: 3px solid $tb-orange;
		&:first-child{

			> a{
				border-left: none;
			}
		}
		> a, a:hover {
			color: #f96e5b;
		}
	}
	@include tb-size-small{
		border-bottom: 0 none;
		> li {
		    float: none;
		    margin-bottom: -1px;
				> a {
				    margin-right: 0;
				
				    border: 1px solid #ddd;
				    border-radius: 0 0 0 0;

				    &:hover, &:focus{
				    	border-color: #ddd;
    					z-index: 2;
				    }
				}
			&:first-child {
				> a {
				    border-top-left-radius: 4px;
				    border-top-right-radius: 4px;
				}
			}
			&:last-child {
				> a {
				    border-bottom-left-radius: 4px;
				    border-bottom-right-radius: 4px;
				}
			}
		}
	}
}
.tb-navs-container{
    overflow: hidden;

    border-bottom: 2px solid $tb-white;
    
}
