= render partial: '/categories/generic'

.one-half
  .form.tb-detail-box.bg-white
    %h5.title
      Cargas en General

    .control-group
      = form.select :vehicle_type, VehicleCaracteristic.all, prompt: 'Caracteristica del Vehiculo', selected: demand.parsed_data['vehicle_type']

= render '/categories/general'
