= fields_for demand do |form|
  = form.fields_for :data do |form|
    .tb-module-row.clear
      
      .form.bg-white.tb-detail-box
        .one-half.clear
          = check_box_tag :meli
          = label_tag :meli, "Este articulo es de MercadoLibre?", class: "control-label custom-checkbox"

        #meli-box{style: "display:none;"}
          .control-group
            = label_tag 'Número artículo', nil, class: "control-label"
            = text_field_tag :meli_item_id

          %button{type: "button", id: "meli-button", class: "button medium orange", autocomplete: 'off', "data-loading-text" => "Importando..."}
            Importar detalles

  .tb-module-row
    .one-half
      .tb-dimmensions
        .form.bg-white.tb-detail-box
          .tb-module-row.clear
            %h5.title Descripción
            = form.text_area(:description, rows: 1, class: "input-full-width") 
            

    .one-half.last
      .tb-module-row.tb-dimmensions
        .form.little-column.tb-detail-box.bg-white
          %h5.title Dimensiones aproximadas

          .control-group
            = form.label 'Largo', class: "control-label"
            = form.text_field :depth, value: demand.depth
            = form.select :depth_unit, %w(cm m ft in), selected: (demand.depth_unit.blank? ? 'm' : demand.depth_unit)
          .control-group
            = form.label 'Ancho', class: "control-label"
            = form.text_field :width, value: demand.width
            = form.select :width_unit, %w(cm m ft in), selected: (demand.width_unit.blank? ? 'm' : demand.width_unit)
          .control-group
            = form.label 'Alto', class: "control-label"
            = form.text_field :height, value: demand.height
            = form.select :height_unit, %w(cm m ft in), selected: (demand.height_unit.blank? ? 'm' : demand.height_unit)
          .control-group
            = form.label 'Peso', class: "control-label"
            = form.text_field :weight, value: demand.weight
            = form.select :weight_unit, %w(tn kg lbs oz), selected: (demand.weight_unit.blank? ? 'kg' : demand.weight_unit)
