//Nueva fila

- if @category.name == 'Mudanzas' || (@category.parent && @category.parent.name == 'Mudanzas')
  .tb-module-row.clear
    %h6.title.tb-demands-form-lead
      %span Inventario
      Recomendamos detallar mobiliario para recibir presupuestos mas exactos

    .right

  //Nueva fila
  .tb-module-row.clear
    = fields_for :demand do |form|
      = form.fields_for :data do |form|

        = render partial: '/categories/icons', :locals => {:form => form}

= fields_for :demand do |form|
  = form.hidden_field :category_id, value: @category.id
