.one-half.last
  .tb-module-row.tb-dimmensions
    .form.little-column.tb-detail-box.bg-white
      = fields_for :demand do |f|
      
        %h5.title Dimensiones aproximadas

        .control-group
          = f.label 'Largo', class: "control-label"
          = f.text_field :depth, value: demand.depth
          = f.select :depth_unit, %w(cm m ft in), selected: demand.depth_unit
        .control-group
          = f.label 'Ancho', class: "control-label"
          = f.text_field :width, value: demand.width
          = f.select :width_unit, %w(cm m ft in), selected: demand.width_unit
        .control-group
          = f.label 'Alto', class: "control-label"
          = f.text_field :height, value: demand.height
          = f.select :height_unit, %w(cm m ft in), selected: demand.height_unit
        .control-group
          = f.label 'Peso', class: "control-label"
          = f.text_field :weight, value: demand.weight
          = f.select :weight_unit, %w(tn kg lbs oz), selected: demand.weight_unit
