.tb-module-row
  .tb-navs-container
    %ul.nav.nav-tabs
      - @groups.each do |group|
        - if group
          %li{class: (@groups.first == group ? 'active' : '')}
            %a{ href: "##{group.description.split.join}", 'data-toggle' => "tab"}
              = group.description

  .tab-content
    - @groups.each do |group|
      - if group
        %div{ id: group.description.split.join, class: "#{(@groups.first == group ? 'active' : '')} tab-pane"}
          .image_grid
            %ul.porfolio_list.da-thumbs
              - group.icons.each do |icon|
                %li{id: "icon-#{icon.id}"}
                  .icons-image
                    = image_tag icon.image, alt: icon.description
                    %article.da-animate.da-slideFromRight{style: "display: block;"}
                      %h6= icon.description
                      %span.menos= link_to '-', '#', class: 'remove-icon'
                      %span.mas= link_to '+', '#', class: 'add-icon'
                    %span.qty
                      = demand.icons.keys.include?(icon.id.to_s) ? demand.icons[icon.id.to_s] : 0

  = fields_for :icons do |form|
    #icon-form
      - demand.icons.each do | key, value |
        = hidden_field_tag "demand[icons][#{key}]", value
