= fields_for demand do |form|
  = form.fields_for :data do |form|
    .tb-module-row
      .one-half
        .form.bg-white.tb-detail-box
          %h5.title
            Vivienda origen

          = form.fields_for :origin do |form_origin|
            /
              .control-group
                = form_origin.select :type, ["casa", "ph", "departamento"],  {prompt: 'Tipo', selected: (demand.parsed_data['origin']['type'] if demand.parsed_data['origin'])},{class: "input-full-width"}
            .control-group
              = form_origin.select :floors, ['Planta baja', '1er piso', '2do piso', '3er piso o más piso'], {prompt: 'Piso', selected: (demand.parsed_data['origin']['floors'] if demand.parsed_data['origin'])},{class: "input-full-width"}
            .control-group.tb-checkbox-list
              = form_origin.check_box :elevator, {checked: (demand.parsed_data['origin']['elevator'] == 'Si' if demand.parsed_data['origin'])}, checked_value = "Si", unchecked_value = "No"
              = form_origin.label :elevator, t('helpers.label.demand.elevator'), class: "control-label custom-checkbox"
            .control-group.tb-checkbox-list
              = form_origin.check_box :need_elevator, {checked: (demand.parsed_data['origin']['need_elevator'] == 'Si' if demand.parsed_data['origin'])}, checked_value = "Si", unchecked_value = "No"
              = form_origin.label :need_elevator, t('helpers.label.demand.need_elevator'), class: "control-label custom-checkbox"
            /
              .control-group.tb-checkbox-list
                = form_origin.check_box :package_help, {checked: (demand.parsed_data['origin']['package_help'] == 'Si' if demand.parsed_data['origin'])}, checked_value = "Si", unchecked_value = "No"
                = form_origin.label :package_help, t('helpers.label.demand.package_help'), class: "control-label custom-checkbox"
              .control-group.tb-checkbox-list
                = form_origin.check_box :upload_help, {checked: (demand.parsed_data['origin']['upload_help'] == 'Si' if demand.parsed_data['origin'])}, checked_value = "Si", unchecked_value = "No"
                = form_origin.label :upload_help, t('helpers.label.demand.upload_help'), class: "control-label custom-checkbox"

      .one-half.last
        .form.bg-white.tb-detail-box
          %h5.title
            Vivienda destino

          = form.fields_for :destiny do |form_destiny|
            /
              .control-group
                = form_destiny.select :type, ["casa", "ph", "departamento"], {prompt: 'Tipo', selected: (demand.parsed_data['destiny']['type'] if demand.parsed_data['destiny'])},{class: "input-full-width"}
            .control-group
              = form_destiny.select :floors, ['Planta baja', '1er piso', '2do piso', '3er piso o más piso'], {prompt: 'Piso', selected: (demand.parsed_data['destiny']['floors'] if demand.parsed_data['destiny'])},{class: "input-full-width"}
            .control-group.tb-checkbox-list
              = form_destiny.check_box :elevator, {checked: (demand.parsed_data['destiny']['elevator'] == 'Si' if demand.parsed_data['destiny'])}, checked_value = "Si", unchecked_value = "No"
              = form_destiny.label :elevator, t('helpers.label.demand.elevator'), class: "control-label custom-checkbox"
            .control-group.tb-checkbox-list
              = form_destiny.check_box :need_elevator, {checked: (demand.parsed_data['destiny']['need_elevator'] == 'Si' if demand.parsed_data['destiny'])}, checked_value = "Si", unchecked_value = "No"
              = form_destiny.label :need_elevator, t('helpers.label.demand.need_elevator'), class: "control-label custom-checkbox"
            /
              .control-group.tb-checkbox-list
                = form_destiny.check_box :package_help, {checked: (demand.parsed_data['destiny']['package_help'] == 'Si' if demand.parsed_data['destiny'])}, checked_value = "Si", unchecked_value = "No"
                = form_destiny.label :package_help, t('helpers.label.demand.package_help'), class: "control-label custom-checkbox"
              .control-group.tb-checkbox-list
                = form_destiny.check_box :download_help, {checked: (demand.parsed_data['destiny']['download_help'] == 'Si' if demand.parsed_data['destiny'])}, checked_value = "Si", unchecked_value = "No"
                = form_destiny.label :download_help, t('helpers.label.demand.download_help'), class: "control-label custom-checkbox"
