.one-half
  .form.tb-detail-box.bg-white.tb-pax
    %h5.title Pasajeros

    .control-group
      = form.label :cantidad_de_personas, class: "control-label"
      = form.text_field :qty_passengers, value: demand.parsed_data['qty_passengers'], class: 'validate[required]'
    .control-group.tb-checkbox-list
      = form.check_box :luggage, {checked: demand.parsed_data['luggage'] == 'Si'}, checked_value = "Si", unchecked_value = "No"
      = form.label :luggage, t('helpers.label.demand.luggage'), class: "control-label custom-checkbox"
    .control-group.tb-checkbox-list
      = form.check_box :round_trip, {checked: demand.parsed_data['round_trip'] == 'Si'}, checked_value = "Si", unchecked_value = "No"
      = form.label :round_trip, t('helpers.label.demand.round_trip'), class: "control-label custom-checkbox"
    .control-group.tb-checkbox-list
      = form.check_box :must_wait, {checked: demand.parsed_data['must_wait'] == 'Si'}, checked_value = "Si", unchecked_value = "No"
      = form.label :must_wait, t('helpers.label.demand.must_wait'), class: "control-label custom-checkbox"
    .control-group
      = form.label 'Cuanto tiempo', class: "control-label"
      = form.text_field :time_to_wait, value: demand.parsed_data['time_to_wait'], class: 'validate[required]'
