<p>Bienvenido!</p>

<p>Te has registrado en ahorraenvios.com.</p>

<p>
  Para finalizar el registro, deberás confirmar tu dirección de correo electrónico haciendo <%= link_to 'click aquí', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %>.
</p>
