= form_for([:admin, payment_condition]) do |f|
  - if payment_condition.errors.any?
    #error_explanation
      %h6.bold= "#{pluralize(payment_condition.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - payment_condition.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nombre
    = f.text_field :name

  .actions
    = f.submit 'Guardar Condicion de Pago', class: 'btn btn-primary'
