%h1 Condiciones de Pago
%br

%table.table
  %tr
    %th Nombre
    %th
    %th
    %th

  - payment_conditions.each do |payment_condition|
    %tr
      %td= payment_condition.name
      %td= link_to 'Mostrar', admin_payment_condition_path(payment_condition), class: 'btn btn-info'
      %td= link_to 'Editar', edit_admin_payment_condition_path(payment_condition), class: 'btn btn-warning'
      %td= link_to 'Borrar', admin_payment_condition_path(payment_condition), method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger'

%br

= link_to 'Nueva Condicion de Pago', new_admin_payment_condition_path, class: 'btn btn-primary'
