%p#notice= notice

%p
  %b Nombre:
  = payment_condition.name

= link_to 'Editar', edit_admin_payment_condition_path(payment_condition), class: 'btn'
= link_to 'Atrás', admin_payment_conditions_path, class: 'btn'
