= form_for([:admin, user]) do |f|
  - if user.errors.any?
    #error_explanation
      %h6.bold= "#{pluralize(user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - users.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name

  .actions
    = f.submit nil, class: 'btn btn-primary'
