%h1 Usuarios
%br

= form_for admin_users_path, html: {method: :get} do |f|
  = fields_for :user do |user|
    = user.label :name
    = user.text_field :name, value: (params[:user][:name] if params[:user])

    = user.label :surname
    = user.text_field :surname, value: (params[:user][:surname] if params[:user])

    = user.label :email
    = user.text_field :email, value: (params[:user][:email] if params[:user])

  %h4 Fecha de creación
  = fields_for :dates do |dates|
    = dates.label :desde
    = dates.text_field :start, value: (params[:dates][:start] if params[:dates]), class: 'datepicker'

    = dates.label :hasta
    = dates.text_field :end, value: (params[:dates][:end] if params[:dates]), class: 'datepicker'

  = f.submit 'Buscar', class: 'btn btn-primary'
  = f.submit 'Exportar', class: 'btn btn-primary'

%table.table
  %tr
    %th Fecha
    %th Nombre
    %th Apellido
    %th Email
    %th Cant. de envios

    %th

  - clients.each do |client|
    %tr
      %td= l client.created_at.to_date
      %td= client.name
      %td= client.surname
      %td= client.email
      %td= client.demands.where(status: ["ACTIVE", "ACCOMPLISHED", "DISCARDED", "EXPIRED"]).count

      %td= link_to 'Borrar', admin_user_path(client), method: :delete, data: { confirm: "Está seguro que desea eliminar el usuario #{client.email}?" }, class: 'btn btn-danger'

= paginate clients
