
@import "../variables";
@import "../responsive";

.tb-transporter-detail{
	font-size: $tb-size-12;
}
.tb-demands-form{
	h1,h2,h3,h4,h5,h6{
		margin: 0;
	}
	label{
		float: left;
	}
	.tb-demands-form-lead{
		color: $tb-gray;
		font-weight: normal;
		float: left;
		line-height: 30px;
		span{
			text-transform: uppercase;
			color: $tb-black;
			font-size: $tb-size-16;
		}
	}
	.porfolio_list.da-thumbs{
		margin: 0;
		overflow: hidden;
	}
	.tb-checkbox-list{
		label.custom-checkbox{
			width: 80%;
			margin-bottom: 10px;
		}
		input[type="checkbox"]{
			float: right;
		}
	}
	.tb-demands-box{
		.title{
			margin-bottom: 15px;
		}
	}
	.tb-demands-extra-services{
		min-height: 175px;
	}
	.tb-demands-submit-btn{
		text-align: right;
		padding-top: 13px;
		span{
			font-size: $tb-size-12;
		}
		.button{
			vertical-align: middle;
			margin-left: 10px;
		}
	}
	.tb-datepicker-expiration {
		label {
		  float: left;
		  line-height: 34px;
		}

		.datepicker-field {
			margin-left: 5%;
		  	float: left;
		  	width: 46%;
		  	 @include tb-size-small{
		  	 	input[type="text"].datepicker{
		  	 		width: 60%;
		  	 	}
		  	}
		  
		}


		input [type="text"]{
		  width: 60%;

		}
	}
	@include tb-size-medium{
		.nav-tabs.categories, .tb-datepicker-expiration .datepicker-field{
		  	width: 95%;
		  
		}
		.tab-content{
			width: 100%;
		}
	}
	@include tb-size-large{
		.tb-datepicker-expiration .datepicker-field{
	  		width: 95%;
  			
	  	}
	  	.tab-content{
	  		width: 100%;
	  	}
	}
	#demand_description{
		height: 110px;
	}
}


/*-------------boton apra subir fotos-----*/
#image-form{
	.field, .fotos, .photostream-wrapper .thumbnail {
		float: left;
		margin: 0 5px 5px 0;
	}
	.field{
		cursor: pointer;
		&:hover{
			cursor: pointer;
		}
	}
	.photostream-wrapper .thumbnail img{
		width: 80px;
		height: 80px;
		display: block;
	}

}

.fileinput-button {
  display: inline-block;
  background: url("/assets/add_image.png") no-repeat scroll -3px -3px transparent
}

.fileinput-button input {
  height: 87px;
  opacity: 0;
  width: 87px;
  cursor: pointer;
	&:hover{
		cursor: pointer;
	}
}

