@import "../variables";

#location .tb-filter-box  .control-group, 
#dimentions .tb-filter-box .control-group, 
#dates .tb-filter-box .control-group{
	margin-bottom: 10px;
}

 
#description .tb-filter-box .control-group input{
	width: 90%;
}

.tb-filter-box{
	padding: 10px 5%;
	input[type="text"]{
		width: 82%;
		margin: 0;
	}
	.tb-filter-box-sub{
		font-size: $tb-size-12;
		margin-bottom: 5px;
	}

}
#dates{
	.tb-filter-box{
		input[type="text"]{
			width: 60%;
		}
	}
}