
@import "compass/css3";
@import "../variables";

.ie7 {
    .tb-demand-sub-header {
        overflow: hidden;
    	

    	.tb-demand-sub-header-title {
    	    float: left;
    	}
    }
    .tb-demands-form{
    	.tabbable.tabs-left{
    		width:100%;
    	}
    }
}