@import "../variables";
@import "../responsive";

.tb-results-table {
  h1, h2, h3, h4, h5, h6{
    margin: 0;
  }
  .title{
    color: $tb-white;
  }


    .tb-results-description {
        width: 27%;
    }

    .tb-results-origin {

        width: 13.5%;
    }

    .tb-results-destiny {
        width: 13.5%;

    }
    .tb-results-km {
        width: 10%;
    }

    .tb-results-ends-in {
        width: 11%;
    }

    .tb-results-budgets {

        width: 20%;

    }

    tbody{
         tr{
            font-size: $tb-size-12;
            background-color: $tb-input-bg;
        }
    }


      
    td{
        border-collapse: collapse;
        border-bottom: 5px solid $tb-container;
    }
    
    .tb-results-heart, .tb-results-img{
        text-align: center;
        vertical-align: middle;
        padding: 0;
     
    }
    .tb-results-heart{
        width: 5%;
    }
    .tb-results-img{
        width: 9%;
    }
    .tb-results-btn{
        margin: 0 0 0 10px;
        

    }
    .tb-favorite-button{
       background-color: $tb-input-bg;
        &.active{
            background-color:  $tb-input-bg;
            .icon-heart{
                color: $tb-orange;
            }
            &:hover{
                .icon-heart{
                    color: $tb-row-bottom-border;
                }
            }
        }
        &:hover{
            trasition:all 0.14s ease 0s;
            background-color: $tb-input-bg;
            .icon-heart{
                color: $tb-orange;
            }
        }
        .icon-heart{
            color: $tb-row-bottom-border;
        }
    }
    @mixin tb-result-responsive{
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr { 
            display: block; 
        }
        .tb-results-description, .tb-results-origin,.tb-results-destiny , .tb-results-km , .tb-results-ends-in , .tb-results-budgets {

            //width: 100%;

        }
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        
        tr { border: 1px solid #ccc; }
        
        td { 
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding: 8px 0 8px 50%;
            min-height: 22px;
            &.tb-profile-quantity{
                text-align: left;
                width: auto;
                
            }
            
            
        }
        .tb-results-img, .tb-results-heart{    
            display: none;
        }
        
        td:before { 
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%; 
            padding-right: 10px; 
            white-space: nowrap;
        }
        
        /*
        Label the data
        */

        td:nth-of-type(3):before { content: "Descripción envío"; }
        td:nth-of-type(4):before { content: "Origen"; }
        td:nth-of-type(5):before { content: "Destino"; }
        td:nth-of-type(6):before { content: "Km"; }
        td:nth-of-type(7):before { content: "Finaliza en"; }
        td:nth-of-type(8):before { content: "Presupuestos"; }
      
    }
    @include tb-size-medium{

        @include tb-result-responsive;
    }
    @include tb-size-small{
        @include tb-result-responsive;
    }
}
