
@import "compass/css3";
@import "../variables";

//Titulo con estrellas a la derecha, con bordes naranjas
.tb-demand-sub-header {
  border-left: 4px solid $tb-orange;
	border-bottom: 1px solid lighten($tb-orange, 5);
	background-color: #F8F8F8;
	margin-top: 3px;
	color: $tb-black;
	line-height: 40px;
	display: block;


	.tb-demand-sub-header-title {
	    font-weight: bold;
	    margin-left: -4px;
	}
}
.show-demand{
    .tb-module-header {
        border-bottom: 3px solid #F96E5B;
    }
    .tb-demand-sub-header {
    	padding: 0 1% 0 2%;
    	.tb-demand-sub-header-title {
    	}
    }
    .tb-demand-sub-rate {
	   .star{
	    	vertical-align: text-top;
            margin-top: 2px;
	    }
	    a {
	        font-weight: bold;
	        margin-right: 12px;
            vertical-align: middle;
	    }
	}



    .tb-module-header-icons{
        a{color: $tb-white;}
        .tb-favorite-button{
           background-color: $tb-black;
            &.active{
                color:  $tb-black;
                .icon-heart{
                    color: $tb-orange;
                }
                &:hover{
                    .icon-heart{
                        color: $tb-container;
                    }
                }
            }
            &:hover{
                trasition:all 0.14s ease 0s;
                background-color: $tb-black;
                .icon-heart{
                    color: $tb-orange;
                }
            }
            .icon-heart{
                color: $tb-white;
            }
        }

    }
    .black {
        color:$tb-black;
    }

    .map-container{

        > .distance {
            background-color: white;
            bottom: 7.5%;
            font-weight: bold;
            padding: 12px;
            position: absolute;
            right: 2.5%;
            top: inherit;
        }
    }

    .tb-inventary-list{
        list-style-type: none;
        padding: 10px 0;
        display: block;
        >li{
            width: 18%;
            margin-right:2%;
            min-width: 130px;
            float: left;
            .tb-inventary-title{
                margin-bottom: 5px;
            }
            .tb-inventary-item{
                font-size: $tb-size-12;
            }
        }
    }
    .tb-furnitures{
      .tb-detail-box{
        min-height: 202px;
      }
    }
    .form .datepicker {
      width: 24%;
    }
    .form #comment_message {
      margin-top: 14px;
      margin-bottom: 0;
    }

     .form .control-group {
      margin-top: 20px;
    }

}
/*.form textarea#demand_description {
  height: 1.7em;
}*/
 .tb-demand-questions{
    display: block;
    margin: 0 0 10px 0;
    li{
        font-size: $tb-size-12;
        border-bottom: 1px solid $tb-row-bottom-border;
        .tb-questions-user{
            padding: 5px 2%;
            font-weight: bold;
            width:  20%;
            float: left;
            margin-left: 5%;
            a{
                display: block;
            }
        }
        .tb-questions-text {
            float: left;
            padding: 5px 2%;
            width: 67%;

            span{
                display: block;
                overflow: hidden;
                text-overflow : ellipsis;
                width: 100%;
            }


        }
    }
}
.tb-demands-question-field{
    width: 100%;
     resize: none;
}


