.tb-accordion-filter
  %span
    Categorías
  %button.right{ "type" => "button", "data-toggle" => "collapse", "data-target" => "#categories", "id" => "button-categories" }
    &nbsp;

#categories.accordion-body.collapse
  .form.tb-filter-box.bg-white
    - categories.each do |category|
      .control-group

        = check_box_tag "search[category_id_in][]", category.id, false, id: dom_id(category)
        = label_tag dom_id(category), category.name, class: "control-label custom-checkbox"
