.tb-accordion-filter
  %span
    Fechas
  %button.right{ "type" => "button", "data-toggle" => "collapse", "data-target" => "#dates", "id" => "button-dates" }
    &nbsp;

#dates.accordion-body.collapse
  .form.tb-filter-box.bg-white
    .bold.tb-filter-box-sub Recogida

    .control-group

      %select{class: "input-full-width"}
        %option{:value => '0'} Antes de 
        %option{:value => '1'} Despues de 


    .control-group

      = label_tag "Desde", "Desde"
      = text_field_tag "search[origin_information_delivery_date_from_gteq]", "", class: "datepicker"

    .control-group
      = label_tag "Hasta", "Hasta"
      = text_field_tag "search[origin_information_delivery_date_to_lteq]", "", class: "datepicker"

    .bold.tb-filter-box-sub Entrega

    .control-group

      %select{class: "input-full-width"}
        %option{:value => '0'} Antes de 
        %option{:value => '1'} Despues de 

    
    .control-group
      = label_tag "Desde", "Desde"
      = text_field_tag "search[destiny_information_delivery_date_from_gteq]", "", class: "datepicker"

    .control-group
      = label_tag "Hasta", "Hasta"
      = text_field_tag "search[destiny_information_delivery_date_to_lteq]", "", class: "datepicker"
