.tb-accordion-filter
  %span
    Descripción

  %button.right{ "type" => "button", "data-toggle" => "collapse", "data-target" => "#description", "id" => "button-description" }
    &nbsp;

#description.accordion-body.collapse
  .form.tb-filter-box.bg-white
    .control-group
      = text_field_tag "search[description_cont]"
