.tb-accordion-filter
  %span
    Dimensiones

  %button.right{ "type" => "button", "data-toggle" => "collapse", "data-target" => "#dimentions", "id" => "button-dimentions" }
    &nbsp;

#dimentions.accordion-body.collapse
  .form.tb-filter-box.bg-white
    .control-group
      = label_tag "Volumen", "Volumen", :class=>'left'
      .inline
        = text_field_tag "search[volume_cont]"
        m³

    .control-group
      = label_tag "Peso", "Peso"
      .inline
        = text_field_tag "search[weight_cont]"
        kg
