.tb-accordion-filter
  %span
    Ubicación

  %button.right{ "type" => "button", "data-toggle" => "collapse", "data-target" => "#location", "id" => "button-location" }
    &nbsp;

#location.accordion-body.collapse
  .form.tb-filter-box.bg-white
    .control-group
      = label_tag "Origen", "Origen"
      = text_field_tag "origin_location", "", {class:"input-full-width"}
      = hidden_field_tag "search[origin_country_cont]", "", class: "search-origin-hidden"
      = hidden_field_tag "search[origin_neighborhood_cont]", "", {class: "search-origin-hidden"}
      = hidden_field_tag "search[origin_city_cont]", "",class: "search-origin-hidden"
      = hidden_field_tag "search[origin_state_cont]", "", class: "search-origin-hidden"
      = hidden_field_tag "search[origin_country_or_origin_city_or_origin_state_cont]", ""
    .control-group
      = label_tag "Destino", "Destino"
      = text_field_tag "destiny_location"
      = hidden_field_tag "search[destiny_neighborhood_cont]", "", class: "search-destiny-hidden"
      = hidden_field_tag "search[destiny_country_cont]", "", class: "search-destiny-hidden"
      = hidden_field_tag "search[destiny_city_cont]", "", class: "search-destiny-hidden"
      = hidden_field_tag "search[destiny_state_cont]", "", class: "search-destiny-hidden"
      = hidden_field_tag "search[destiny_country_or_destiny_city_or_destiny_state_cont]", ""
