%table.table.tb-results-table
  %thead
    %tr.orange
      %td#description.tb-results-description{:colspan => "3"}
        %h5.title
          Descripción envío
      %td#origin.tb-results-origin
        %h5.title
          Origen
      %td#destiny.tb-results-destiny
        %h5.title
          Destino
      %td#km.tb-results-km
        %h5.title
          Km
      %td#ends-in.tb-results-ends
        %h5.title
          Finaliza en
      %td#budgets.tb-results-budgets
        %h5.title
          Presupuestos
  %tbody
    - result.each do |r|

      %tr
        %td.tb-results-heart
          - if current_user and current_user.transporter?
            = link_to "<i class='icon-heart'></i>".html_safe, favorites_path(demand_id: r), method: :post, class: "tb-favorite-button medium #{ current_user.role.favorites.include?(r) ? 'active' : '' }"
        %td.tb-results-img
          - if r.category.parent
            = image_tag  r.category.parent.image if r.category.parent.image 
          - else
            = image_tag  r.category.image if r.category.image 
        %td
          %span.bold
            = link_to truncate(r.description), r
        %td
          %span
            = r.origin.city
        %td
          %span
            = r.destiny.city
        %td
          %span
            = r.distance
        %td
          %span
            = "#{(r.expiration_date - Date.today).to_i} d"
        %td
          %span
            = r.budgets.count
          - if current_user and current_user.has_role? :transporter
            %span
              = link_to 'Presupuestar', r, class: "button small bold bg-white orange-text tb-results-btn"

= paginate result
