.tb-accordion-filter
  %span
    Características

  %button.right{ "type" => "button", "data-toggle" => "collapse", "data-target" => "#vehicles", "id" => "button-vehicles" }
    &nbsp;

#vehicles.accordion-body.collapse
  .form.tb-filter-box.bg-white
    - vehicle_characteristics.each do |vehicle_caracteristic|
      .control-group
        = check_box_tag "search[vehicle_types][]", vehicle_caracteristic, false, id: dom_id(vehicle_caracteristic)
        = label_tag dom_id(vehicle_caracteristic), vehicle_caracteristic, class: "control-label custom-checkbox"
