#reports.lightgrey.tb-module-container.clear.tb-reports-situation
  .row-fluid
    .span8
      %h5.title
        Situación de presupuestos
    - unless from.empty? || to.empty?
      .span4
        %span Período:
        %span.bold= from
        %span al
        %span.bold= to


%table.table.tb-reports-table.reports-table
  %thead
    %tr.orange
      %th#date.tb-reports-date
        %h5.title
          Fecha
      %th#demand.tb-reports-demands
        %h5.title
          Envío
      %th#budgeted.tb-reports-budget
        %h5.title
          Presupuestado
      %th#discounted.tb-reports-discounted
        %h5.title
          Descontado
      %th#status.tb-reports-status
        %h5.title
          Estado
  %tbody
    - budgets.each do |budget|
      %tr
        %td
          %span
            = budget.created_at.strftime("%d-%m-%y")
        %td
          %span
            = budget.demand.description
        %td
          %span
            = "$#{budget.price}"
        %td
          %span
            = "$0" #{budget.total_credits }"
        %td
          %span
            = budget_status_label(budget, current_user)
.tb-module-container.lightgrey.clear
  .right
    = link_to "Volver", transporter_reports_path(transporter), class: "button medium orange capitalize"
