#reports.tb-module-container.lightgrey.clear.tb-reports-history
  .row-fluid
    .span8
      %h5.title
        Listado histórico de gastos
    - unless from.empty? || to.empty?
      .span4
        %span Período:
        %span.bold= from
        %span al
        %span.bold= to


%table.table.reports-table.tb-reports-table
  %thead
    %tr.orange
      %th#date.tb-reports-date
        %h5.title
          Fecha
      %th#demand.tb-reports-demands
        %h5.title
          Envío
      %th#budgeted.tb-reports-budget
        %h5.title
          Presupuestado
      %th#discounted.tb-reports-discounted
        %h5.title
          Descontado
      %th#status.tb-reports-status
        %h5.title
          Estado
  %tbody
    - budgets.each do |budget|
      %tr
        %td
          %span
            = budget.created_at.strftime("%d-%m-%y")
        %td
          %span
            = budget.demand.description
        %td
          %span
            = "$#{budget.price}"
        %td
          %span
            = "$#{budget.credits.inject(0) { |sum, c| c.amount + sum }.abs }"
        %td
          %span
            = budget_status_label(budget, current_user)

.tb-module-container.lightgrey.clear
  .tb-module-row  
  #total-budgets.tb-reports-total
    .one-third
      %h5.title.text-align-center.orange
        Total presupuestado
      .tb-detail-box.bg-white.text-align-center
        .available-credits.orange-text= number_to_currency total_budgets_amount, precision: 0

    .one-third
      %h5.title.text-align-center.orange
        Total descontado
      .tb-detail-box.bg-white.text-align-center
        .available-credits.orange-text= number_to_currency total_discount_amount, precision: 0

    .one-third.last
      %h5.title.text-align-center.orange
        Total presupuestado aceptado
      .tb-detail-box.bg-white.text-align-center
        .available-credits.orange-text= number_to_currency total_accepts_budgets_amount, precision: 0

    .right
      = link_to "Volver", transporter_reports_path(transporter), class: "button medium orange capitalize"


        
        
