= form_for :report, method: :get do |f|
  #reports.lightgrey.tb-module-container.clear.tb-reports-index
    %h5.title
      Listado de Informes

    .one-half
      .form.tb-detail-box.bg-white
        .row-fluid
          .span6
            .control-group.tb-reports-date
              = label_tag "Desde", "Desde"
              = text_field_tag "report[from]", "", class: "datepicker"
          .span6
            .control-group.tb-reports-date
              = label_tag "Hasta", "Hasta"
              = text_field_tag "report[to]", "", class: "datepicker"

  .tb-accordion-title.orange.clear
    %h5.title
      %span.white.tb-reports-list-title
        Informe

  %ul.clear.lightgrey.tb-reports-list
    /
      %li.report.clear

        = f.submit "Ver", name: "historical_cost", class: "button small white tb-reports-list-btn", id: "historical-cost"

        Histórico de gastos
    %li.report.clear

      = f.submit "Ver", name: "budgets", class: "button small white tb-reports-list-btn", id: "budgets"

      Situación de presupuestos
