<% if @image.new_record? %>
  alert("La imagen no se pudo crear");
<% else %>
  $('#images, .fotos').append("<%= j render(@image) %>");
  $('#vehicle-form, .fotos').append('<%= hidden_field_tag 'images[]', @image.id %>');
<% end %>
