@import "../variables";

.tb-devise-shared-links{
	a{
		line-height: 1.5em;
		font-weight: bold;
		font-size: $tb-size-12;
	}
}
.tb-devise-password-new, .tb-devise-password-edit{
	label{
		float: left;
		width: 15%;
		line-height: 30px;
	}
	input[type="email"], input[type="text"], input[type="password"]{
		float: left;
	}
}
