= form_for([:admin, page_content]) do |f|
  - if page_content.errors.any?
    #error_explanation
      %h6.bold= "#{pluralize(page_content.errors.count, "error")} prohibited this content from being saved:"
      %ul
        - page_content.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :body
    = f.text_area :body

  .actions
    = f.submit 'Guardar', class: 'btn btn-primary'

