%h1 Contenidos
%br

%table.table
  %tr
    %th Nombre
    %th Texto
    %th
    %th
    %th

  - page_contents.each do |page_content|
    %tr
      %td= page_content.name
      %td= truncate page_content.body
      %td= link_to 'Mostrar', admin_page_content_path(page_content), class: 'btn btn-info'
      %td= link_to 'Editar', edit_admin_page_content_path(page_content), class: 'btn btn-warning'
      %td= link_to 'Borrar', admin_page_content_path(page_content), method: :delete, data: { confirm: 'Está seguro?' }, class: 'btn btn-danger'

%br

= link_to 'Nuevo Contenido', new_admin_page_content_path, class: 'btn btn-primary'
