%p#notice= notice

%p
  %b Name:
  = page_content.name

%p
  %b Body:

.content= page_content.body.html_safe

= link_to 'Editar', edit_admin_page_content_path(page_content), class: 'btn'
= link_to 'Atrás', admin_page_contents_path, class: 'btn'
