!!! 5
%html
  %head
    %meta{ "http-equiv" => "X-UA-Compatible", "content"=> "IE=Edge"}
    /%meta{ "http-equiv" => "X-UA-Compatible", "content"=> "IE=EmulateIE7; IE=EmulateIE9"}
    %meta{ "http-equiv" => "Content-Type", "content"=> "text/html; charset=utf-8" }

    %title Admin - Ahorra Envíos

    = stylesheet_link_tag "application", :media => "all"
    = render "layouts/common/fonts"
    = render "layouts/common/javascripts"

    %script{ :src => "//tinymce.cachefly.net/4.0/tinymce.min.js" }

    = csrf_meta_tags

    %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no"}

  %body{'data-controller' => controller_name, 'data-action' => action_name }

    .navbar
      .navbar-inner
        = link_to "Administrador - Ahorra Envíos", admin_root_path, :class => 'brand'
        %ul.nav
          %li= link_to 'Salir', destroy_user_session_path, :method => :delete

    .container-fluid
      .row-fluid
        .span2
          = render "layouts/common/side_bar"

        .span10
          = yield


