!!! 5
- conditional_html do
  %head
    %meta{ "http-equiv" => "X-UA-Compatible", "content"=> "IE=Edge"}
    /%meta{ "http-equiv" => "X-UA-Compatible", "content"=> "IE=EmulateIE7; IE=EmulateIE9"}
    %meta{ "http-equiv" => "Content-Type", "content"=> "text/html; charset=utf-8" }
    %meta{ "name" => "google-site-verification", "content" => "T28blfPvIRnK0OPbUPn15xRKO1662wSJ9KwhqkfkkhY" }

    %title Ahorra Envíos

    = stylesheet_link_tag "application", :media => "all"
    = render "layouts/common/fonts"
    = render "layouts/common/javascripts"

    = csrf_meta_tags

    %meta{name: "viewport", content: "initial-scale=1.0, user-scalable=no"}

  %body{'data-controller' => controller_name, 'data-action' => action_name }
    = analytics.body.html_safe rescue ''

    - if session[:admin_id]
      = "Como administrador esta usando el transportista: #{current_user.username}"
      = link_to 'Volver al Admin', destroy_user_session_path, method: :delete

    = render 'layouts/common/header'
    = render 'layouts/common/container'
    = render 'layouts/common/footer'

    = render 'layouts/common/user_voice' unless Rails.env.development?
