%p
  ="Estimado #{@user.username if @user}"

= yield

%p
  Te saluda cordialmente, el equipo de
  = link_to "Ahorra Envíos", root_url

%p
  Si tienes alguna inquietud y deseas comunicarte con nosotros, escríbenos a contacto@ahorraenvios.com
