= render partial: '/categories/generic'

= fields_for :demand do |form|
  = form.fields_for :data do |form|
    .one-half.form
      %h3.title

      .control-group
        = form.label :volumen, class: "control-label"
        = form.text_field :volumen, value: demand.parsed_data['volumen']
